
<section id="pageContent" class="page-content">
  <div class="container">
    <div class="row">
      <div class="sidebar col-lg-3 col-md-3 col-sm-3 col-xs-12 clearfix">

        <h3 class="sidebar-title font-additional font-weight-bold text-uppercase customColor "
            >Profile</h3>

        <ul class="categories-tree " >

          <li>
            <a style="cursor: pointer;" [routerLink]="['/myshopnroar']"
               class="font-additional font-weight-normal hover-focus-color color-third text-uppercase">
              <i class="material-icons">favorite</i>
              <span  class="pull-left">My Wishlist</span>
            </a>
          </li>
          <li  *ngIf="sgflag['flag']!=true">
            <a style="cursor: pointer;" [routerLink]="['/updatepassword']"
               class="font-additional font-weight-normal hover-focus-color color-third text-uppercase">
              <i class="material-icons">change_history</i>


              <span  class="pull-left">Update Password</span>
            </a>
          </li>         <li>
            <a style="cursor: pointer;" style="cursor: pointer;" (click)="logout()"
               class="font-additional font-weight-normal hover-focus-color color-third text-uppercase">
              <i class="material-icons">lock_outline</i>

              <span  class="pull-left">Logout</span>
            </a>
          </li>
        </ul>

      </div>
      <preloader-full></preloader-full>

      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 clearfix">
        <div class="content-box">
          <form (ngSubmit)="f.form.valid  && update()" #f="ngForm" novalidate>
            <div style="color: black; font-size:30px;" class="row row-lg">
              <div class="col-sm-9">

                <h3 class="sidebar-title font-additional font-weight-bold text-uppercase customColor "
                    >Update Personal Details</h3>

                <div class="form-group label-overlay">
                  <input type="text" class="form-control"  class="form-control" (keyup)="checkuser()"
                         pattern="^[a-zA-Z][a-zA-Z0-9]*[._-]?[a-zA-Z0-9]+$" name="username" [(ngModel)]="model.username"
                         #username="ngModel" required placeholder="Username" disabled>

                  <div>

                    <!--<span  *ngIf="Userloading == true " style="color: blue  " class="glyphicon glyphicon-refresh glyphicon-refresh-animate form-control-feedback"></span>-->

                    <span *ngIf="UserError == false " style="color: green"
                          class="glyphicon glyphicon-ok-sign form-control-feedback"></span>


                    <span *ngIf="UserError == true " style="color: red"
                          class="glyphicon glyphicon-remove-sign form-control-feedback"></span>
                  </div>
                  <!--<label class="input-desc"><i class="icon input-icon input-user"></i>Enter your username <span class="input-required">*</span></label>-->
                  <!--<div *ngIf="f.submitted &&  !username.valid  && !username.errors" class="help-block">Username is required</div>-->
                  <div *ngIf="f.submitted && username.errors" class="help-block">Username is invalid
                  </div>
                  <div *ngIf=" UserError==true" class="help-block">Username is already signed up
                  </div>

                </div><!-- End .form-group -->
                <div class="form-group label-overlay">
                  <input type="text" placeholder="First name" class="form-control"
                         pattern="^([a-zA-Z]+[,.]?[ ]?|[a-z]+['-]?)+$" name="first_name" [(ngModel)]="model.first_name"
                         #first_name="ngModel" required>

                  <div *ngIf="f.submitted && !first_name.valid && first_name.errors " class="help-block">First name is
                    required

                  </div>

                </div><!-- End .form-group -->
                <div class="form-group label-overlay">
                  <input type="text" class="form-control" pattern="^([a-zA-Z]+[,.]?[ ]?|[a-z]+['-]?)+$" name="last_name"
                         [(ngModel)]="model.last_name" #last_name="ngModel" required placeholder="Last name">

                  <div *ngIf="f.submitted && !last_name.valid && last_name.errors" class="help-block">Last name is
                    required

                  </div>

                </div><!-- End .form-group -->

                <div class="form-group label-overlay">
                  <input type="email" class="form-control" class="form-control"
                         pattern="^(^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$)" name="email"
                         (change)="checkmail()"
                         [(ngModel)]="model.email" #email="ngModel" placeholder="Email" required>
                  <span *ngIf="emailError == false " style="color: green"
                        class="glyphicon glyphicon-ok-sign form-control-feedback"></span>


                  <span *ngIf="emailError == true " style="color: red"
                        class="glyphicon glyphicon-remove-sign form-control-feedback"></span>


                  <!--<label class="input-desc"><i class="icon input-icon input-email"></i>Enter your email <span class="input-required">*</span></label>-->

                </div><!-- End .form-group -->


                <div *ngIf="f.submitted && email.errors  && !email.valid" class="help-block">
                  Email is invalid
                </div>
                <div *ngIf="emailError==true" class="help-block">
                  Email is already signed up
                </div>
                <!--<div *ngIf="f.submitted && !email.valid" class="help-block">Email is required</div>-->
                <div class="form-group label-overlay">

                  <div style="float: right;  font-family:'Roboto';" *ngIf="flag==true" class="help-block">
                    <span><b>Profile Updated</b></span>
                  </div>
                </div>

              </div><!-- End .col-sm-6 -->

              <div class="mb40 visible-xs"></div><!-- margin -->

                <br>
                <button *ngIf="flag!=true" type="submit"
                        class="btn button-additional font-additional font-weight-normal text-uppercase hvr-rectangle-out hover-focus-bg before-bg"
                        style=" margin-left: 55%;   font-size: 17px;">Update Profile
                </button>

              </div><!-- End .col-sm-6 -->
            <!-- End .row -->

            <div class="mb80 mb60-xs"></div><!-- margin -->

            <div class="row">
              <div class="col-sm-6">
              </div><!-- End .col-sm-6 -->

              <div class="mb40 visible-xs"></div><!-- margin -->

              <div class="col-sm-6">
              </div><!-- End .col-sm-6 -->
            </div><!-- end .row -->
          </form>
        </div>
      </div>
      </div>
    </div>

</section>
