.pagination {
  font-size: 20px !important;
  font-family: Helvetica;
  cursor: pointer;

}
h4{
  color: black;
  font-weight: 600;
  font-size: 20px;
  font-family: 'Roboto';
}
.marginset{
  margin-top: 2%;
}
.product-item_price {
  font-size: 30px;
  font-weight: 900;
}
