.search-modal-box {
  background: rgba(0, 0, 0,.8);
}
.top-search-btn {
  border-radius: 25px;
  font-size: 24px;
  padding: 9px 30px;
  font-weight: bolder;
  text-align: center;
  text-transform: capitalize;
}
@media (max-width: 940px){
  .top-search-btn{
   margin-right: 20%;
    padding: 3px 20px !important;
  }

  }

/*!*#demo .open ul{*!*/
  /*!*height: 500px !important;*!*/
/*}*/

.navbar-main .open > .dropdown-menu {
  max-height: 500px !important;
}

@media (max-width: 1100px){

  .search-modal-box input {
    font-size: 40px !important;

  }
}
@media (max-width: 750px){

  .search-wrapper .modal-content{
    left: 22% !important;
  }
}
@media (max-width: 900px){

  .search-modal-box input {
    font-size: 30px !important;

  }
}
@media (max-width: 650px){

  .search-modal-box input {
    font-size: 20px !important;

  }
}
@media (max-width: 350px){

  .search-modal-box input {
    font-size: 10px !important;

  }
}

@media (max-width: 767px){
  .top-search-btn{
    margin-right: 0%;
    padding: 9px 30px;
  }
}
.home-construction-v3 .logo {
  position: relative;
  z-index: 10;
}
.last-child:before {
  content: '';
  position: absolute;
  width: 2px;
  height: 25px;
  top: 32px;
  bottom: 0px;
  background: #616161;
}
.top-search-btn i{
  padding-left: 5px;
  font-size: 30px;
}
.scrollbar
{
  margin-left: 30px;
  float: left;
  height: 300px;
  width: 65px;
  background: #F5F5F5;
  overflow-y: scroll;
  margin-bottom: 25px;
}

#style-1::-webkit-scrollbar
{
  width: 12px;
  background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #555;
}

.search-results{
  border-radius: 4px;
  background: #222;
  line-height: 30px;
  margin-top: 5px;
  max-height: 400px;
  overflow: auto;
  width: 96%;
  height: auto;
}
.search-results ul li a{
  color: #ffffff;
}

.search-modal-box input{
  width: 100%;
  padding: 0px 20px !important;
  color: white;
  -webkit-appearance: none;

  text-align: center;
  outline: none;
  background-color: #333 !important;
  border: 2px solid #999;
  border-radius: 35px;
  font-size: 50px;
  height: 80px;
}
.signup-menu {
  width: 400px !important;
}
.search-modal-box .modal-dialog{
  width: 70%;
}
.search-form-close {
  font-size: 50px;
}
h3{
    color: white;
}
a{
  color: #ffffff;
  font-size: 18px;
}
li{
  color: #ffffff;
  font-family: Helvetica;
  font-weight: 600;
  cursor: pointer;
}


.not-active {
  pointer-events: none;
  cursor: default;
}
a{
  padding: 5px 10px;

}
.category-text{
  white-space: nowrap;
  width: 13em;
  overflow: hidden;
  text-overflow: ellipsis;
}
