<div class="sp-body">
  <div class="switcher-wrapper">
    <header id="header"  class="paralax header">
      <div class="header-top">
        <div class="container-fluid" style="background-color: white; height: 100%;">
          <div class="header-container clearfix" style="background-color: white;height: 100%;">
            <a class="logo" [routerLink]="['/']"  (click)="navigatetohome()" >
              <img (click)="navigatetohome()" style="cursor: pointer;" src="../../assets/media/logo/header2/newblack.jpg">
            </a>
            <div id="search-container">
              <a id="icon-type-to-search"  href="#" data-target=".example-modal-lg" data-toggle="modal" (click)="modelshow()" class="font-additional color-main text-uppercase hover-focus-color">
                <button mat-raised-button class="btn btn-primary top-search-btn" id="serbtn" (click)="refreshlist()">Search <i class="material-icons">search</i></button>
              </a>
            </div>
            <div class="header-nav navbar navbar-main-slide ">
              <i class="fa fa-bars mobileMenuNav mobileMenuSwitcher onlyMobile"></i>
              <nav class="menu-container">
                <i class="fa fa-times close-menu mobileMenuSwitcher onlyMobile"></i>
                <ul class="nav navbar-nav navbar-main">
                  <!--<li><a [routerLink]="['']" class="font-additional color-main text-uppercase hover-focus-color active">Home</a></li>-->
                  <li class="dropdown" id="demo">
                    <a style="padding-left: 0px !important;padding-right: 0px !important;" data-toggle="dropdown" class="mmenu-container" class="dropdown-toggle" href="#"><i class="material-icons">format_list_bulleted</i> Categories
                      </a>
                    <ul  class="dropdown-menu" style="transform: translateX(-50%);overflow-y: scroll !important;">
                      <div class="row">
                        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 ">
                          <li *ngFor="let item of Category.slice(0,Category.length/3)">

                            <a *ngIf="item=='Uncategorized'"  class="category-text" [routerLink]="['/view',item]"><span><i class="fa fa-caret-right" aria-hidden="true"></i> Others</span></a>
                            <a *ngIf="item!='Uncategorized'"  class="category-text" [routerLink]="['/view',item]"><span><i class="fa fa-caret-right" aria-hidden="true"></i> {{item}}</span></a>
                          </li>

                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 ">
                          <li *ngFor="let item of Category.slice(Category.length/3,Category.length/3+Category.length/3)">
                            <a *ngIf="item=='Uncategorized'"  class="category-text" [routerLink]="['/view',item]"><span><i class="fa fa-caret-right" aria-hidden="true"></i> Others</span></a>
                            <a *ngIf="item!='Uncategorized'"  class="category-text" [routerLink]="['/view',item]"><span><i class="fa fa-caret-right" aria-hidden="true"></i> {{item}}</span></a>

                          </li>

                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 col-xs-12 ">
                          <li *ngFor="let item of Category.slice(Category.length/3+Category.length/3,Category.length)">
                            <a *ngIf="item=='Uncategorized'"  class="category-text" [routerLink]="['/view',item]"><span><i class="fa fa-caret-right" aria-hidden="true"></i> Others</span></a>
                            <a *ngIf="item!='Uncategorized'"  class="category-text" [routerLink]="['/view',item]"><span><i class="fa fa-caret-right" aria-hidden="true"></i> {{item}}</span></a>

                          </li>

                        </div>
                      </div>
                    </ul>
                  </li>

                  <!--<li class="dropdown">-->
                    <!--<a style="padding-left: 0px !important;padding-right: 0px !important;" data-toggle="dropdown" (mouseenter)="setflag()" class="dropdown-toggle" [routerLink]="['/profile']"><i class="fa fa-home"></i> My SHOPnROAR <i-->
                      <!--class="fa fa-angle-down"></i></a>-->
                    <!--<ul class="dropdown-menu signup-menu">-->
                      <!--<li  *ngIf="flag!=true"><a [routerLink]="['/login']"><i class="fa fa-sign-in" aria-hidden="true"></i> Log in</a></li>-->

                      <!--<li *ngIf="flag!=true"><a [routerLink]="['/register']"><i class="fa fa-user" aria-hidden="true"></i> Sign up</a></li>-->
                      <!--&lt;!&ndash;<li *ngIf="flag==true"><a [routerLink]="['/register']">Dashboard</a></li>&ndash;&gt;-->
                      <!--<li *ngIf="flag==true"  ><a [routerLink]="['/profile']"><i class="fa fa-user" aria-hidden="true"></i> {{currentUser.username}}</a></li>-->
                      <!--<li *ngIf="flag==true && socialflag==false"><a [routerLink]="['/updatepassword']"><i class="fa fa-lock" aria-hidden="true"></i>Update Password</a></li>-->
                      <!--<li *ngIf="flag==true && socialflag==false"><a [routerLink]="['/myshopnroar']"><i class="fa fa-heart" aria-hidden="true"></i>My Wishlist</a></li>-->

                      <!--<li *ngIf="flag==true"><a style="cursor: pointer;" (click)="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a></li>-->

                    <!--</ul>-->
                  <!--</li>-->
                  <ng-container *ngIf="sgflag">
                    <li *ngIf="sgflag.login!=true"><a [routerLink]="['/login']"><i  class="material-icons">fingerprint</i> Log in</a></li>
                    <li *ngIf="sgflag.login!=true" class="last-child" ><a [routerLink]="['/register']"><i class="material-icons">lock_open</i>Sign up</a></li>
                    <li *ngIf="sgflag.login==true"><a [routerLink]="['/myshopnroar']"><i class="material-icons">favorite</i> My SHOPnROAR</a></li>
                  </ng-container>
                  <li><a href="https://play.google.com/store/apps/details?id=com.brainplow.shopnroar&hl=en"><i class="material-icons">android</i></a></li>
                  <li><a href="https://itunes.apple.com/us/app/shopnroar/id1275085906?mt=8"><i  class="fa fa-apple"></i></a></li>
                  <!--<li><a href="https://itunes.apple.com/us/app/shopnroar/id1275085906?mt=8">{{sgflag.message}}</a></li>-->

                </ul>

              </nav>
            </div>

          </div>
        </div>
      </div>
      <div class="header-overlay"></div>
    </header>
  </div>
  <div aria-hidden="false" role="dialog" tabindex="-1" class="modal fade example-modal-lg search-wrapper in search-modal-box" id="mainModel">
    <div class="modal-dialog modal-lg ">
      <div class="modal-content">
        <p class="clearfix">
          <button data-dismiss="modal" class="close" id="closebtn" type="button"><span class="icon_close color-main search-form-close" aria-hidden="true"></span></button>
        </p>
        <form role="form" class="form-inline form-search">
          <div class="form-group">
            <!--<label for="textsearch" style="font-weight: 800;font-size: xx-large;" class="sr-only">Enter text search</label>-->
            <input type="text" id="querytosearch" name=querysearch [(ngModel)]="query" #querysearch="ngModel" (keyup)="filterkeyUp.next($event.target.value)
" (keyup.enter)="Search()"
                   placeholder="Search to SHOP with a ROAR"

                   class="form-control input-lg font-main font-weight-normal color-main" >
          </div>
        </form>
        <div class="search-results scrollbar" id="style-1">
          <ul *ngFor="let item of listTitles">
            <li>
              <a (click)="select(item)">{{item}}</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
