<footer id="footer">
  <a class="goToTop font-additional color-main text-uppercase" href="#" id="scrollTop">
    <i class="fa fa-angle-up"></i>
    <span>Top</span>
  </a>
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 clearfix " >
          <a [routerLink]="['']">
            <img src="../../assets/media/logo/header2/snrnew.png" style="width: 200px;height: 70px;margin-top: -32px;">

          </a>
          <div class="footer-top_container clearfix">
            <span class="font-main font-weight-normal color-additional">SHOPnROAR is a next generation artificially intelligent comparative shopping engine where consumers can search for and compare millions of Products for the ultimate comparative shopping experience. </span>

            <ul class="footer-nav">
              <li><a [routerLink]="['/login']" class="font-main font-weight-normal color-additional"><i
                class="fa fa-angle-right customColor"></i> Log in</a></li>
              <li><a [routerLink]="['/register']" class="font-main font-weight-normal color-additional"><i
                class="fa fa-angle-right customColor"></i> Sign up</a></li>
              <li><a (click)="callabout()" style="cursor: pointer"
                     class="font-main font-weight-normal color-additional">
                <i
                  class="fa fa-angle-right customColor"></i>Who are We</a></li>

              <li><a (click)="callwork()" style="cursor: pointer"
                     class="font-main font-weight-normal color-additional">
                <i
                  class="fa fa-angle-right customColor"></i>How it Works</a></li>
  <li><a (click)="callcontact()" style="cursor: pointer"
                     class="font-main font-weight-normal color-additional">
                <i
                  class="fa fa-angle-right customColor"></i>Establish Contact</a></li>


            </ul>


          </div>

        </div>
        <!--<div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 clearfix " >-->
        <!--<h4 class="footer-top_title color-main font-additional font-weight-bold text-uppercase">SHOPnROAR World</h4>-->
        <!--<div class="footer-top_container clearfix">-->
        <!--<ul class="footer-nav">-->
        <!--<li><a (click)="callhome()" style="cursor: pointer" class="font-main font-weight-normal color-additional"><i-->
        <!--class="fa fa-angle-right customColor"></i> Hot Deals</a></li>-->
        <!--<li><a (click)="callcontact()" style="cursor: pointer"-->
        <!--class="font-main font-weight-normal color-additional"><i-->
        <!--class="fa fa-angle-right customColor"></i> Contact</a></li>-->

        <!--<li><a [routerLink]="['/login']" class="font-main font-weight-normal color-additional"><i-->
        <!--class="fa fa-angle-right customColor"></i> Log in</a></li>-->
        <!--<li><a [routerLink]="['/register']" class="font-main font-weight-normal color-additional"><i-->
        <!--class="fa fa-angle-right customColor"></i> Sign up</a></li>-->
        <!--<li><a (click)="callabout()" style="cursor: pointer"-->
        <!--class="font-main font-weight-normal color-additional"><i-->
        <!--class="fa fa-angle-right customColor"></i> How it works</a></li>-->


        <!--</ul>-->
        <!--</div>-->
        <!--</div>-->
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 clearfix " >
          <h4 class="footer-top_title color-main font-additional font-weight-bold text-uppercase"
              style="text-align:center">Shopping </h4>

          <div class="footer-top_container clearfix">
            <div class="row">
              <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12  clearfix " >
                <ul class="footer-nav">

                  <ng-container *ngIf="sgflag">
                    <li *ngFor="let item of sgflag.Category.slice(0,8)"><a [routerLink]="['/view',item]"
                                                                    class="font-main font-weight-normal color-additional"><i
                      class="fa fa-angle-right customColor"></i>{{item}}</a></li>
                  </ng-container>

                </ul>

              </div>
              <div class="col-md-4 col-lg-4 col-sm-6  col-xs-12  clearfix " >

                <ul class="footer-nav">
                  <ng-container *ngIf="sgflag">
                    <li *ngFor="let item of sgflag.Category.slice(9,17)"><a [routerLink]="['/view',item]"
                                                                     class="font-main font-weight-normal color-additional"><i
                      class="fa fa-angle-right customColor"></i>{{item}}</a></li>
                  </ng-container>
                </ul>

              </div>
              <div class="col-md-4 col-lg-4 col-sm-6 col-xs-12 clearfix " >

                <ul class="footer-nav">
                  <ng-container *ngIf="sgflag">
                    <li *ngFor="let item of sgflag.Category.slice(18,26)"><a [routerLink]="['/view',item]"
                                                                      class="font-main font-weight-normal color-additional"><i
                      class="fa fa-angle-right customColor"></i>{{item}}</a></li>
                  </ng-container>.
                </ul>

              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 clearfix " >
          <h4 style="font-size:20px;"
              class="footer-top_title color-main font-additional font-weight-bold text-uppercase">Subscribe to SHOPnROAR
            Hot Deals
          </h4>
          <div class="footer-top_container clearfix">
            <ul class="footer-contact">

              <form (ngSubmit)="f.form.valid  && subscribe()" #f="ngForm" novalidate>

                <div id="mc_embed_signup_scroll" style="position: relative;">
                  <div class="mc-field-group subscribe-field">
                    <input type="email" value="" name="EMAIL"
                           class="required email font-main color-third" placeholder="Email"
                           pattern="^(^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$)" name="email"
                           [(ngModel)]="model.email" #email="ngModel" placeholder="Email" required id="footerinput">
                  </div>


                </div>
                <div class="subscribe-button">
                  <button type="submit" value="Subscribe" name="subscribe"
                          id="mc-embedded-subscribe" class="btn btn-primary font-additional hvr-wobble-bottom">
                    SUBSCRIBE
                  </button>
                </div>


              </form>
            </ul>
            <div style="font-size:22px; font-weight:bold;   color: white;"
                 *ngIf="f.submitted && email.errors  && !email.valid">
              Email is invalid
            </div>
            <div style="font-size:20px; font-weight:bold;    color: white;" *ngIf="status==false">
              Email is already registered.
            </div>

            <div style="color: white; font-size:22px; font-weight:bold;" *ngIf="status==true">
              Thanks for subscription
            </div>


            <ul class="footer-social-list">

              <h4 style="font-size:20px; margin-top: 2%;padding-bottom: 15%"
                  class=" color-main font-additional font-weight-bold text-uppercase">Follow US:
              </h4>

              <li><a href="https://www.facebook.com/shopnroar/" target="_blank"><span class="social_facebook"
                                                                                      aria-hidden="true"></span></a>
              </li>
              <li><a href="https://twitter.com/ShopNroar" target="_blank"><span class="social_twitter"
                                                                                aria-hidden="true"></span></a></li>
              <!--<li><a href=" https://plus.google.com/110603320586092972176"  target="_blank" ><span class="social_googleplus" aria-hidden="true"></span></a></li>-->
              <li><a href=" https://www.pinterest.com/shopnroar/" target="_blank"><span class="social_pinterest"
                                                                                        aria-hidden="true"></span></a>
              </li>


              <!--<li><a href=" https://www.youtube.com/channel/UChnWUIqiLJZ92ErXBLADU-A"  target="_blank" ><span class="social_youtube" aria-hidden="true"></span></a></li>-->
              <!--<li><a href="https://www.instagram.com/shopnroar/"  target="_blank" ><span class="social_instagram" aria-hidden="true"></span></a></li>-->
            </ul>

          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container">
      <div class="row">
        <div class=" col-md-12 col-sm-12 col-xs-12 clearfix">
          <p class="footer_copyright color-additional font-main font-weight-light " >
            <span class="font-main font-weight-semibold">SHOPnROAR  </span> &copy; 2018 <span style="color:white;"><a
            class="foot_privacy" (click)="callprivacy()" style="cursor: pointer">Privacy Policy</a></span>

            <span style="color:white;"><a class="foot_privacy"> | </a></span>
            <span style="color:white;"><a class="foot_privacy" (click)="calltermsofcondition()" style="cursor: pointer">Terms of Use</a></span>
          </p>
        </div>

      </div>
    </div>
  </div>
</footer>
