<section class="container" style="background: #ffffff;">
  <div class="row">
    <section class="">
      <div class=" col-md-6 col-sm-12 col-xs-12">
        <h2 class="about-title"><strong>Who are we?</strong></h2>
        <p>&nbsp;</p>
        <p class="about-text">We, the engineers at SHOPnROAR have devised cutting edge Machine Learning (ML) and
          Artificially Intelligent (AI) algorithms to find the best products for you = BTW, we are very proud of our
          work!</p>
      </div>
      <div class="col-md-6 col-sm-12 col-xs-12">
        <img alt="brainplow" height="496" src="../../assets/images/brainplow_who_we_Are.jpg" width="700">
      </div>
    </section>
    <section class="">
      <div class=" col-md-6 col-sm-12 col-xs-12" style="right:100px">
        <img _ngcontent-c9="" alt="" src="../../assets/images/WhatIsIt.jpg" style="width: 90%" title="SHOPnROAR">
      </div>
      <div class=" col-md-6 col-sm-12 col-xs-12">
        <h2 class="about-title"><strong>What is SHOPnROAR?</strong></h2>
        <p>&nbsp;</p>
        <p class="about-text">SHOPnROAR is a next generation artificially intelligent comparative shopping engine where
          consumers can search for and compare millions of Products for the ultimate comparative shopping experience.

          SHOPnROAR assists consumers in researching and buying desired products at the cheapest price from top and
          trusted stores. SHOPnROAR helps the consumer purchase the desired product with the best reviews at the lowest
          price possible.

          From price comparison to reviews aggregation and a custom SHOPnROAR score of every product based on our custom
          Machine Learning engine, SHOPnROAR will assist the customer through a trusted, neutral, unbiased, time and
          money saving shopping experience.

          To summarize, SHOPnROAR helps the buyer in doing fast and in-depth product and pricing comparative shopping,
          saving you time and money: Shop with a Roar!</p>
      </div>
    </section>
  </div>
</section>
<section class="blox   full-container  what_class w-animate  w-start_animation"
         style=" padding-top:0px; padding-bottom:0px;  background: url('../../assets/images/brainwhat.jpg') no-repeat ; background-position: center center;background-size: cover;">
  <div class="max-overlay"></div>
  <div class="wpb_row vc_row-fluid full-row">
    <div class="container">
      <div class="what wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner ">
          <div class="wpb_wrapper" style="padding: 5%">

            <div class="wpb_text_column wpb_content_element ">
              <div class="wpb_wrapper">
                <h3 style="text-align: center; color: white; ">SHOPnROAR’s Unique Artificially Intelligent Reviews
                  Engine</h3>
                <p style="text-align: center; color: white;text-align: justify">
                  Machine Learning and Artificial Intelligence is in the DNA of SHOPnROAR. Based on your previous
                  shopping history, SHOPnROAR’s Machine Learning (ML) engine makes products suggestions based on the
                  consumer’s current and previous shopping behavior, delivering a fast, comparatively savvy, easy and
                  personalized shopping experience. In addition to showing products, reviews and price comparisons,
                  SHOPnROAR helps shoppers discover new and trending products with it’s Artificial Intelligence (AI)
                  trending engine.

                  SHOPnROAR assists consumers in researching and buying desired products at the cheapest price from top
                  and trusted stores. SHOPnROAR helps the consumer purchase the desired product with the best reviews at
                  the lowest price possible.

                  From price comparison to reviews aggregation and a custom SHOPnROAR score of every product based on
                  our custom Machine Learning engine, SHOPnROAR will assist the customer through a trusted, neutral,
                  unbiased, time and money saving shopping experience.

                  To summarize, SHOPnROAR helps the buyer in doing fast and in-depth product and pricing comparative
                  shopping, saving you time and money: Shop with a Roar!

                </p>
              </div>
            </div>
            <div class="vertical-space2"></div>
            <div class="vertical-space2"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<section class="container" style="background: #ffffff; margin-top: 3%;">
  <div class="row">

    <section class="">
      <div class=" col-md-6 col-sm-12 col-xs-12" style="right:100px">
        <img _ngcontent-c9="" alt="" src="../../assets/images/how-it-works-quad-media-ventures.jpg" title="SHOPnROAR">
      </div>
      <div class=" col-md-6 col-sm-12 col-xs-12">
        <h2 class="about-title"><strong>How it Works??</strong></h2>
        <p>&nbsp;</p>
        <p class="about-text">Creating an account on SHOPnROAR.com is super easy and takes less than a minute: On the
          web or by downloading the SHOPnROAR app at Google Play Store or Apple App Store.

          Simply search for the product you desire to research and buy – SHOPnROAR will present you with the ultimate
          comparative shopping experience.

          You can search any product through the search bar or by selecting throught the category list. Upon selecting
          any product, the consumer will be given a comparative list of prices, scores and reviews from trusted online
          and brick-and mortar stores.

          Consumers can select the desired products from the store with the lowest price and best ratings and reviews.
          Upon selection, you will be redirected to the store from, where you can securely complete the transaction.</p>
      </div>
    </section>
  </div>
</section>
<br>
<!--<section id="freeShpping2" class="borderTopSeparator">-->
<!--<div class="container-fluid freeshpping-container">-->

<!--<h3>Discovering new shopping horizons with SHOPnROAR </h3>-->
<!--<p>Machine Learning and Artificial Intelligence is in the DNA of SHOPnROAR. Based on your previous shopping history,-->
<!--SHOPnROAR’s Machine Learning (ML) engine makes products suggestions based on the consumer’s current and previous-->
<!--shopping behavior, delivering a fast, comparatively savvy, easy and personalized shopping experience. In addition-->
<!--to showing products, reviews and price comparisons, SHOPnROAR helps shoppers discover new and trending products-->
<!--with it’s Artificial Intelligence (AI) trending engine.</p>-->


<!--<p>-->
<!--SHOPnROAR assists consumers in researching and buying desired products at the cheapest price from top and trusted-->
<!--stores. SHOPnROAR helps the consumer purchase the desired product with the best reviews at the lowest price-->
<!--possible.-->
<!--</p>-->

<!--<p>-->
<!--From price comparison to reviews aggregation and a custom SHOPnROAR score of every product based on our custom-->
<!--Machine Learning engine, SHOPnROAR will assist the customer through a trusted, neutral, unbiased, time and money-->
<!--saving shopping experience.-->
<!--</p>-->

<!--<p>-->
<!--To summarize, SHOPnROAR helps the buyer in doing fast and in-depth product and pricing comparative shopping,-->
<!--saving you time and money: Shop with a Roar!-->
<!--</p>-->

<!--</div>-->
<!--</section>-->

<app-partners></app-partners>


<!--<br>-->

<!--<h3>SHOPnROAR’s Unique Artificially Intelligent Reviews Engine</h3>-->
<!--<p>-->

<!--Each product in SHOPnROAR is scored with a proprietary Machine Learning (ML) and Artificial Intelligence (AI) based SHOPnROAR Review Score. Real reviews from real customers for each product are aggregated and crunched with a built-from-the-grounds-up custom Machine Learning (ML) engine to give the customer deep insight into a product’s dimensions such as price, reliability, usability, features, durability and popularity etc.</p>-->

<!--<h3>Discovering new shopping horizons with SHOPnROAR</h3>-->
<!--<p>-->

<!--Machine Learning and Artificial Intelligence is in the DNA of SHOPnROAR. Based on your previous shopping history, SHOPnROAR’s Machine Learning (ML) engine makes products suggestions  based on the consumer’s current and previous shopping behavior, delivering a fast, comparatively savvy, easy and personalized shopping experience. In addition to showing products, reviews and price comparisons, SHOPnROAR helps shoppers discover new and trending products with it’s Artificial Intelligence (AI) trending engine.-->

<!--</p>-->


<!--<h3>How it Works?</h3>-->
<!--<ul>-->
<!--<ol>   <p>  Creating an account on SHOPnROAR.com is super easy and takes less than a minute: On the web or by downloading the SHOPnROAR app at Google Play Store or Apple App Store.</p></ol>-->
<!--<ol>     <p>  Simply search for the product you desire to research and buy – SHOPnROAR will present you with the ultimate comparative shopping experience.</p></ol>-->

<!--<ol>         <p> You can search any product through the search bar or by selecting throught the category list. Upon selecting any product, the consumer will be given a comparative list of prices, scores and reviews from trusted online and brick-and mortar stores. </p></ol>-->

<!--<ol>  <p>    Consumers can select the desired products from the store with the lowest price and best ratings and reviews. Upon selection, you will be redirected to the store from, where you can securely complete the transaction. </p></ol>-->
<!--</ul>-->
<!--</div>-->
<!--</section>-->


