h3{
  font-weight: bolder;
  font-family:'Helvetica';
}

p{
    color:black; padding:auto; font-size:large;
  font-family:'Helvetica';


}
#about{
    color:#a80808; font-size:x-large; padding:auto;margin:auto;text-align:initial;

}
