#promo-banner {
  background-image: url('../../assets/media/3.png');

  overflow: hidden;
  padding: 42px 0;
  /*background-position: 50% 100% !important;*/
  background-repeat: no-repeat !important;
  background-size: cover !important;
  min-height: 380px;
  max-height: 380px;
}
.pagination {
  font-size: 20px !important;
  font-family: Helvetica;
  cursor: pointer;

}

.discount-info {
  float: left;
  padding: 49px 100px 0 0;
  width: 100%;
}
.discount-info_small_txt {
  color: #e92b22;
}
.discount-info_small_txt {
  float: left;
  font-size: 17px;
  line-height: 100%;
  padding-bottom: 13px;
  width: 100%;
  font-family: Helvetica;
  text-transform: uppercase;
  font-weight: 700;
}
p{
  font-family: Helvetica;

}
.discount-info_shadow_txt {
  color: #ffffff;
}
.discount-info_shadow_txt {
  float: left;
  font-size: 46px;
  line-height: 100%;
  width: 100%;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}
.discount-info_right_txt {
  color: #ffffff;
}
.discount-info_right_txt {
  float: left;
  font-size: 47px;
  line-height: 100%;
  padding: 5px 0 29px;
  width: 100%;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-align: right;
}
.button-collection {
  color: #ffffff;
  border-color: #e92b22;
}
.button-collection {
  border-style: solid;
  border-width: 2px;
  color: #333;
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  line-height: 100%;
  margin: 100px 0px 0px 5px;
  overflow: hidden;
  padding: 12px 21px 11px;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  background: brown !important;
  color: white;
  border-color: brown;
}
a.button-collection:hover {
  text-decoration: none;
}

#div2 {
  white-space: nowrap;
  width: 13em;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 4%;
  margin-left:1%;

}



.paddigheader{
  margin-top: 2%;
}
#div2 {
    white-space: nowrap;
    width: 17em;
  font-size: 16px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 4%;
  margin-left:1%;
}

.footer-newsletter{
    background-color: white;

}
.form-control{
border: 1px;
     border-style: solid;

}

a{
    font-size: larger;
}
h4{
  color: black;
  font-weight: 600;
  font-size: 20px;
  font-family: Helvetica;
}
h2{
  font-size: x-large;

}
label {
  font-family: Helvetica;
  margin-left: 10%;

}
.product-item_price{
  font-size: 30px;
  font-weight: 900;
}

