<div class="container-fluid" id="promo-banner">


  <a [routerLink]="['/deals','all']"
     mat-raised-button style="    top: 228px;left: 120px;"
     class="btn button-additional font-additional font-weight-normal text-uppercase hvr-rectangle-out hover-focus-bg before-bg">SHOPnROAR
    HOT DEALS</a>


</div>


<section id="pageContent" style="margin-top:3%;" class="page-content">
  <div class="container">
    <div class="row">
      <div class="sidebar col-lg-3 col-md-3 col-sm-3 col-xs-12 clearfix">
        <h2 class="sidebar-title font-additional font-weight-bold text-uppercase customColor "
            >Narrow Search Results</h2>
        <h3 class="sidebar-title font-additional font-weight-bold text-uppercase customColor "
            >By Categories</h3>
        <ul class="categories-tree " >
          <li *ngFor="let key of objectKeys(AllCount)">
            <a style="cursor: pointer" (click)="categoryChanged(key)"
               class="font-additional font-weight-normal hover-focus-color color-third text-uppercase">
              <i class="material-icons">filter</i>


              <span class="pull-left" *ngIf="key=='null'">Others</span>
              <span class="pull-left" *ngIf="key!='null'">{{key}}</span>
              <span class="pull-right" style="right: 0; position: absolute; color: #ed2424">{{AllCount[key]}}</span>
            </a>
          </li>


        </ul>


        <h3 class="sidebar-title font-additional font-weight-bold text-uppercase customColor "
            >Price</h3>
        <ul class="categories-tree " >
          <li style="color: black;">
            <input (click)="ProductPrice(-1,-1)" type="radio" id="p0" name="cc"/>
            <label for="p0"> <span class="button"></span> All Prices </label>
          </li>
          <li style="color: black;">
            <input (click)="ProductPrice(0,200)" type="radio" id="p1" name="cc"/>
            <label for="p1"> <span class="button"></span> $0 - $200 </label>
          </li>
          <li style="color: black;">
            <input (click)="ProductPrice(200,400)" type="radio" id="p2" name="cc"/>
            <label for="p2"> <span class="button"></span> $200 - $400 </label>
          </li>
          <li style="color: black;">
            <input (click)="ProductPrice(400,600)" type="radio" id="p3" name="cc"/>
            <label for="p3"> <span class="button"></span> $400 - $600 </label>
          </li>
          <li style="color: black;">
            <input (click)="ProductPrice(600,800)" type="radio" id="p5" name="cc"/>
            <label for="p5"> <span class="button"></span> $600 - $800 </label>
          </li>
          <li style="color: black;">
            <input (click)="ProductPrice(800,1000)" type="radio" id="p6" name="cc"/>
            <label for="p6"> <span class="button"></span> $800 - $1000 </label>
          </li>
          <li style="color: black;">
            <input (click)="ProductPrice(1000,10000)" type="radio" id="p7" name="cc"/>
            <label for="p7"> <span class="button"></span> Above $1000 </label>
          </li>

        </ul>


        <h3 class="sidebar-title font-additional font-weight-bold text-uppercase customColor "
            >Merchants</h3>
        <ul class="categories-tree " >
          <li>
            <a style="cursor: pointer;" (click)="FilterbyMerchants('-1')"
               class="font-additional font-weight-normal hover-focus-color color-third text-uppercase">
              <span style="float: left;margin-top: 2px; padding-right: 5%;"
                    class="glyphicon glyphicon-shopping-cart"></span>

              <span class="pull-left">All Merchants</span>
            </a>
          </li>


          <li *ngFor="let vendor of Allmerchants">
            <a style="cursor: pointer;" (click)="FilterbyMerchants(vendor.SNR_Available)"
               class="font-additional font-weight-normal hover-focus-color color-third text-uppercase">
              <span style="float: left;margin-top: 2px; padding-right: 5%;"
                    class="glyphicon glyphicon-shopping-cart"></span>

              <span class="pull-left">{{vendor.SNR_Available}}</span>
            </a>
          </li>


        </ul>


        <h3 class="sidebar-title font-additional font-weight-bold text-uppercase customColor "
            >Brands</h3>
        <ul class="categories-tree " >
          <li>
            <a style="cursor: pointer;" (click)="FilterbyBrands('-1')"
               class="font-additional font-weight-normal hover-focus-color color-third text-uppercase">
              <span style="float: left;margin-top: 2px; padding-right: 5%;"
                    class="glyphicon glyphicon-shopping-cart"></span>

              <span class="pull-left">All Brands</span>
            </a>
          </li>

          <div *ngFor="let bran of AllBrands.slice(0, brandcount)">
            <li *ngIf="bran.SNR_Brand!=null && bran.SNR_Brand.Lenght<20 && bran.SNR_Brand!='No Brand'  && bran.SNR_Brand.indexOf('http') === -1 ">
              <a style="cursor: pointer;" (click)="FilterbyBrands(bran.SNR_Brand)"
                 class="font-additional font-weight-normal hover-focus-color color-third text-uppercase">
                <span style="float: left;margin-top: 2px; padding-right: 5%;"
                      class="glyphicon glyphicon-shopping-cart"></span>

                <span class="pull-left">{{bran.SNR_Brand}}</span>
              </a>
            </li>
          </div>
          <a (click)="loadmorebrands()"
             class="btn button-additional font-additional font-weight-normal text-uppercase hvr-rectangle-out hover-focus-bg before-bg"
             style="margin-top: 5%;cursor: pointer;font-size: 18px;  color: white;">More Brands</a>


        </ul>


        <h3 style="margin-top: 30%;"
            class="sidebar-title font-additional font-weight-bold text-uppercase customColor "
            >Featured products</h3>
        <ul class="sidebar-popular-product " >
          <li *ngFor="let item of Popular.results">
            <a class="popular-product-item" href={{item.SNR_ProductURL}}>
              <img src={{item.SNR_ImageURL}} style=" max-width:85px; max-height:80px;" alt="Product">
              <span class="popular-product-item_title font-additional font-weight-bold text-uppercase">{{item.SNR_Title}}</span>
              <span class="popular-product-item_price font-additional color-third" style="color:red">
                  <div
                    class="product-item_price font-additional font-weight-normal customColor">${{item.SNR_Price}}<br><br>
                  </div>
              </span>
            </a>
          </li>

        </ul>

      </div>
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 clearfix">
        <div class="content-box">
          <div class="category-filter clearfix " >
            <div class="select pull-left" style="width: 200px;">
              <mat-select placeholder="Filters" [(ngModel)]="selectedOption">
                <mat-option *ngFor="let c of options" [value]="c" (click)="onChangeOption(c)">{{c.name}}</mat-option>
              </mat-select>

            </div>
            <a *ngIf="gridviewflag==true && listviewflag==false" (click)="listview()"
               style="cursor: pointer !important;" class="pull-right grid-type hover-focus-border">
              <span class="icon-list" aria-hidden="true"></span>
            </a>

            <a *ngIf="gridviewflag==false && listviewflag==true" (click)="listview()"
               style="cursor: pointer !important;" class="pull-right grid-type active customBgColor color-main">
              <span class="icon-list" aria-hidden="true"></span>
            </a>
            <a *ngIf="gridviewflag==true && listviewflag==false" (click)="gridview()"
               style="cursor: pointer !important;" class="pull-right grid-type active customBgColor color-main">
              <span class="icon-grid" aria-hidden="true"></span>
            </a>
            <a *ngIf="gridviewflag==false && listviewflag==true" (click)="gridview()"
               style="cursor: pointer !important;" class="pull-right grid-type hover-focus-border">
              <span class="icon-grid" aria-hidden="true"></span>
            </a>
          </div>
          <div class="products-cat clearfix">
            <h4 class="paddigheader">Showing results for <span style="color: red">{{query}} </span></h4>
            <h4 style="font-size: 16px;font-weight: normal;margin-top:3px;" *ngIf="spellcorrection==true" class="paddigheader">Search instaed for<a (click)="setQuery()" style="cursor: pointer;text-decoration: none;"> <span style="color: red">{{id}} </span></a></h4>
            <img *ngIf="errorflag==true" src="assets/images/no-record-found.gif" alt="No Record">
            <h4 *ngIf="errorflag==true"
                class="sidebar-title font-additional font-weight-bold text-uppercase customColor "
                >Possible reasons can be:</h4>
            <p *ngIf="errorflag==true" style="line-height: 20px;"> 1) Make sure you are writing correct spellings or
              numbers<br>2) May be no such items exits across all vendors<br>3) If you have any query please give us <a
                [routerLink]="['/contact']">feedback</a></p>


            <div class="text-center">
              <pagination-controls (pageChange)="pageChanged($event)" id="search" directionLinks="true" autoHide="true"
                                   previousLabel="Previous"
                                   nextLabel="Next" screenReaderPaginationLabel="Pagination"
                                   class="pagination"></pagination-controls>
            </div>
            <preloader-full></preloader-full>

            <ul *ngIf="gridviewflag==true && listviewflag==false" class="products-grid ">


              <li style="padding-left: 2%;" class="wow "
                  *ngFor="let item of Allresults | paginate: { itemsPerPage: 36, currentPage:p,totalItems: count,id:'search' }">

                <div class=" product-item hvr-underline-from-center">
                  <div class="product-item_body">
                    <div class="text-center">
                      <a [routerLink]="['/details']" [queryParams]="{ Model: item.SNR_SKU, Name:item.SNR_Title,Price: item.SNR_Price  }">
                        <img
                          *ngIf="item.SNR_ImageURL==null || item.SNR_ImageURL=='Not Available' || item.SNR_ImageURL.indexOf('gif') > -1"
                          src="https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg"
                          style="max-width:100px;max-height:150px; width:auto;height:auto;" alt="Product Image">
                        <!--<img *ngIf="" src="https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg" style="max-width:100px;max-height:150px; width:auto;height:auto;" alt="Product Image">-->

                        <img
                          *ngIf="item.SNR_ImageURL!=null && item.SNR_ImageURL!='Not Available' && item.SNR_Available=='GROUPON' "
                          src={{item.SNR_ImageURL}} style="max-width:300px;max-height:3300px; width:auto;height:auto;"
                          alt="Product Image">
                        <img
                          *ngIf="item.SNR_ImageURL!=null && item.SNR_ImageURL!='Not Available' && item.SNR_Available!='GROUPON' "
                          src={{item.SNR_ImageURL}} style="max-width:150px;max-height:180px; width:auto;height:auto;"
                          alt="Product Image">

                      </a>
                    </div>

                    <a class="product-item_link" [routerLink]="['/details']"
                       [queryParams]="{ Model: item.SNR_SKU, Name:item.SNR_Title ,Price: item.SNR_Price }">
                      <!--<span class="product-item_sale color-main font-additional customBgColor circle">-15%</span>-->
                    </a>

                  </div>
                  <a [routerLink]="['/details']" [queryParams]="{ Model: item.SNR_SKU, Name:item.SNR_Title,Price: item.SNR_Price  }">
                    <br/><br/>

                    <div id="div2"
                         class="product-item_title font-additional font-weight-bold text-center text-uppercase">
                      {{item.SNR_Title}}<br></div>
                    <div *ngIf="item.SNR_Price==0.000"
                         style="font-size: 18px;"
                         class="product-item_price font-additional font-weight-normal customColor">Check Price<br><br>
                    </div>

                    <div *ngIf="item.SNR_Price!=0.000 "
                         class="product-item_price font-additional font-weight-normal customColor">
                      ${{item.SNR_Price}}<br><br></div>

                    <h4 style="color:black" class="text-center">
                      <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='BestBuy'"
                                                            src="https://storage.shopnroar.com/bestbuy.png"
                                                            style="width:28%;"/></a>
                      <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='Walmart'"
                                                            src="https://storage.shopnroar.com/Walmart.png"
                                                            style="width:150px;height:40px"/></a>
                      <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='AT&T'"
                                                            src="https://storage.shopnroar.com/ATT.png"
                                                            style="width:125px;"/></a>
                      <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='Ebay'"
                                                            src="https://storage.shopnroar.com/EBay.png"
                                                            style="width:50%"/> </a>
                      <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='GROUPON'"
                                                            src="https://storage.shopnroar.com/groupon.png"
                                                            style="width:80%"/> </a>
                      <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='Amazon'"
                                                            src="https://storage.shopnroar.com/amazon.png"
                                                            style="width:76%"/></a>
                      <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='NewEgg'"
                                                            src="https://storage.shopnroar.com/newegg.png"
                                                            style="width:40%"/></a>

                      <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='Frys'"
                                                            style="width:25%;"
                                                            src="https://storage.shopnroar.com/fry.png"
                      /></a>
                      <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='AppOutDoors'"
                                                            style="width:75%;"
                                                            src="https://storage.shopnroar.com/appoutdoors.png"
                      /></a>

                      <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='Verizon'"
                                                            style="width:50%;"
                                                            src="https://storage.shopnroar.com/verizon.png"
                      /></a>

                      <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='Microsoft'"
                                                            style="width:50%;"
                                                            src="https://storage.shopnroar.com/media/microsoft.png"
                      /></a>

                      <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='JCPENNEY'"
                                                            src="https://storage.shopnroar.com/jcpenny.png"
                      /></a>
                      <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='BuyDig'"
                                                            src="https://storage.shopnroar.com/buydig.png"
                      /></a>
                      <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='MACYS'"
                                                            src="https://storage.shopnroar.com/macyslogo.png"
                      /></a>
                      <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='BHPHOTOVIDEO'"
                                                            style="width:41%;"
                                                            src="https://storage.shopnroar.com/bh.png"
                      /></a>
                      <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='ISnorkel'"

                                                            style="width:75%;"
                                                            src="https://storage.shopnroar.com/isnorkel.jpg"
                      /></a>
                      <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='OldNavy'"
                                                            style="width:50%;"
                                                            src="https://storage.shopnroar.com/oldnavy.jpg"
                      /></a>
                      <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='BJS'"
                                                            style="width:30%;"
                                                            src="https://storage.shopnroar.com/bjs.jpg"
                      /></a>

                      <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='Sprint'"
                                                            style="width:30%;"
                                                            src="https://storage.shopnroar.com/sprint.png"
                      /></a>
                      <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='Fanatics'"
                                                            style="width:50%;"
                                                            src="https://storage.shopnroar.com/fanaticslogo.png"
                      /></a>

                      <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='GAP'"
                                                            style="width:30%;"
                                                            src="https://storage.shopnroar.com/gap.png"
                      /></a>

                      <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='CostCo'"
                                                            style="width:30%;"
                                                            src="https://storage.shopnroar.com/costco.png"
                      /></a>

                      <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='EpicSports'"
                                                            style="width:30%;"
                                                            src="https://storage.shopnroar.com/epicsports.png"
                      /></a>

                      <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='Beallsflorida'"
                                                            style="width:50%;"
                                                            src="https://storage.shopnroar.com/beallsflorida.png"
                      /></a>

                      <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='T-Mobile'"
                                                            style="width:50%;"
                                                            src="https://storage.shopnroar.com/tmobile.png"
                      /></a>

                      <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='Kmart'"
                                                            style="width:30%;"
                                                            src="https://storage.shopnroar.com/kmartlogo.png"
                      /></a>

                      <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='EpicSports'"
                                                            style="width:50%;"
                                                            src="https://storage.shopnroar.com/epicsports.png"
                      /></a>
                      <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='Target'"
                                                            style="width:50%;"
                                                            src="https://storage.shopnroar.com/target.png"
                      /></a>
                    </h4>


                  </a>
                  <div class="col-sm-push-8">
                    <br>
                    <ul class="rating" style="padding-left: 30%">
                      <li *ngFor=" let i of [1,2,3,4,5]">
                        <i *ngIf="i<=item.SNR_CustomerReviews && item.SNR_CustomerReviews!=0" class="material-icons starcolor">star</i>
                        <i *ngIf="i>item.SNR_CustomerReviews && item.SNR_CustomerReviews!=0" class="material-icons emptystarcolor">star</i>
                      </li>

                    </ul>

                  </div>

                  <div class=" product-item_footer" style="display: inline; ">

                    <a mat-raised-button [routerLink]="['/details']"
                       [queryParams]="{ Model: item.SNR_SKU, Name:item.SNR_Title,Price: item.SNR_Price   }"
                       class="btn button-additional font-additional font-weight-normal text-uppercase hvr-rectangle-out hover-focus-bg before-bg">
                      Compare
                    </a>
                    <a mat-raised-button
                       target="_blank"
                       href={{item.SNR_ProductURL}}
                       class="btn button-additional font-additional font-weight-normal text-uppercase hvr-rectangle-out hover-focus-bg before-bg">
                      Shop
                    </a>

                  </div>


                </div>

              </li>
              <li class="helper-justify"></li>
            </ul>

            <ul *ngIf="gridviewflag==false && listviewflag==true" class="products-list">


              <li class="wow"
                  *ngFor="let item of Allresults | paginate: { itemsPerPage: 36, currentPage:p,totalItems:count,id:'search' }">
                <div class="product-list_item row">
                  <div class="product-list_item_img col-lg-4 col-md-4 col-sm-4 col-xs-12 clearfix">
                    <a [routerLink]="['/details']" [queryParams]="{ Model: item.SNR_SKU, Name:item.SNR_Title,Price: item.SNR_Price  }">
                      <img
                        *ngIf="item.SNR_ImageURL==null || item.SNR_ImageURL=='Not Available' || item.SNR_ImageURL.indexOf('gif') > -1"

                        src="https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg"
                        style="max-width:240px;max-height:260px; width:auto;height:auto;" alt="Product Image">
                      <!--<img *ngIf="" src="https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg" style="max-width:100px;max-height:150px; width:auto;height:auto;" alt="Product Image">-->

                      <img *ngIf="item.SNR_ImageURL!=null && item.SNR_ImageURL!='Not Available' "
                           src={{item.SNR_ImageURL}} style="max-width:240px;max-height:260px; width:auto;height:auto;"
                           alt="Product Image">
                      <h4 style="color:black" class="text-center">
                        <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='BestBuy'"
                                                              src="https://storage.shopnroar.com/bestbuy.png"
                                                              style="padding-top: 20px;margin-left: -45px;width:28%;"/></a>
                        <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='Walmart'"
                                                              src="https://storage.shopnroar.com/Walmart.png"
                                                              style="padding-top: 20px;margin-left: -45px;width:51%"/></a>
                        <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='AT&T'"
                                                              src="https://storage.shopnroar.com/ATT.png"
                                                              style="padding-top: 20px;margin-left: -45px;width:125px;"/></a>
                        <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='Ebay'"
                                                              src="https://storage.shopnroar.com/EBay.png"
                                                              style="    padding-top: 20px;margin-left: -45px;width:50%"/>
                        </a>
                        <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='GROUPON'"
                                                              src="https://storage.shopnroar.com/groupon.png"
                                                              style="padding-top: 20px;margin-left: -45px;width:80%"/>
                        </a>
                        <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='Amazon'"
                                                              src="https://storage.shopnroar.com/amazon.png"
                                                              style="padding-top: 20px;margin-left: -45px;width:76%"/></a>
                        <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='NewEgg'"
                                                              src="https://storage.shopnroar.com/newegg.png"
                                                              style="padding-top: 20px;margin-left: -45px;width:40%"/></a>
                        <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='Frys'"
                                                              style="width:25%;"
                                                              src="https://storage.shopnroar.com/fry.png"
                        /></a>

                        <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='AppOutDoors'"
                                                              style="width:75%;"
                                                              src="https://storage.shopnroar.com/appoutdoors.png"
                        /></a>

                        <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='Verizon'"
                                                              style="width:50%;"
                                                              src="https://storage.shopnroar.com/verizon.png"
                        /></a>


                        <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='Microsoft'"
                                                              style="width:50%;"
                                                              src="https://storage.shopnroar.com/media/microsoft.png"
                        /></a>

                        <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='JCPENNEY'"
                                                              src="https://storage.shopnroar.com/jcpenny.png"
                        /></a>
                        <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='BuyDig'"
                                                              src="https://storage.shopnroar.com/buydig.png"
                        /></a>
                        <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='MACYS'"
                                                              src="https://storage.shopnroar.com/macyslogo.png"
                        /></a>
                        <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='BHPHOTOVIDEO'"
                                                              style="width:41%;"
                                                              src="https://storage.shopnroar.com/bh.png"
                        /></a>
                        <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='ISnorkel'"
                                                              style="width:75%;"
                                                              src="https://storage.shopnroar.com/isnorkel.jpg"
                        /></a>
                        <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='OldNavy'"
                                                              style="width:50%;"
                                                              src="https://storage.shopnroar.com/oldnavy.png"
                        /></a>
                        <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='BJS'"
                                                              style="width:30%;"
                                                              src="https://storage.shopnroar.com/bjs.jpg"
                        /></a>
                        <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='Sprint'"
                                                              style="width:30%;"
                                                              src="https://storage.shopnroar.com/sprint.png"
                        /></a>
                        <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='Fanatics'"
                                                              style="width:50%;"
                                                              src="https://storage.shopnroar.com/fanaticslogo.png"
                        /></a>


                        <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='GAP'"
                                                              style="width:30%;"
                                                              src="https://storage.shopnroar.com/gap.png"
                        /></a>


                        <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='CostCo'"
                                                              style="width:30%;"
                                                              src="https://storage.shopnroar.com/costco.png"
                        /></a>

                        <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='Beallsflorida'"
                                                              style="width:50%;"
                                                              src="https://storage.shopnroar.com/beallsflorida.png"
                        /></a>
                        <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='T-Mobile'"
                                                              style="width:50%;"
                                                              src="https://storage.shopnroar.com/tmobile.png"
                        /></a>


                        <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='Kmart'"
                                                              style="width:20%;"
                                                              src="https://storage.shopnroar.com/kmartlogo.png"
                        /></a>

                        <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='EpicSports'"
                                                              style="width:50%;"
                                                              src="https://storage.shopnroar.com/epicsports.png"
                        /></a>
                        <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='Target'"
                                                              style="width:50%;"
                                                              src="https://storage.shopnroar.com/target.png"
                        /></a>


                      </h4>

                    </a>


                  </div>
                  <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 clearfix">
                    <div class="product-list-info">
                      <div class="product-list_item_title">
                        <a [routerLink]="['/details']" [queryParams]="{ Model: item.SNR_SKU, Name:item.SNR_Title,Price: item.SNR_Price  }">
                          <br/>

                          <h3 style="color:#333;" class="font-additional font-weight-bold text-uppercase">
                          {{item.SNR_Title}}</h3>

                        </a>
                      </div>
                      <ul class="rating" style="padding-left: 30%">
                        <li *ngFor=" let i of [1,2,3,4,5]">
                          <i *ngIf="i<=item.SNR_CustomerReviews && item.SNR_CustomerReviews!=0" class="material-icons starcolor">star</i>
                          <i *ngIf="i>item.SNR_CustomerReviews && item.SNR_CustomerReviews!=0" class="material-icons emptystarcolor">star</i>
                        </li>

                      </ul>

                      <div *ngIf="item.SNR_Price==0.000"
                           style="font-size: 18px;"
                           class="product-item_price font-additional font-weight-normal customColor">Check Price<br><br>
                      </div>
                      <div *ngIf="item.SNR_Price!=0.000"
                           class="product-item_price font-additional font-weight-normal customColor">${{item.SNR_Price}}<br><br>
                      </div>


                      <div class="product-list_item_desc font-main font-weight-normal color-third">
                        {{item.SNR_Description | cleanText}}
                      </div>


                      <div class=" product-item_footer" style="display: inline">

                        <a [routerLink]="['/details']" [queryParams]="{ Model: item.SNR_SKU, Name:item.SNR_Title ,Price: item.SNR_Price  }"
                           mat-raised-button
                           class="btn button-additional font-additional font-weight-normal text-uppercase hvr-rectangle-out hover-focus-bg before-bg">
                          Compare
                        </a>
                        <a href={{item.SNR_ProductURL}} style="margin-left: 10px;"
                           target="_blank"
                           mat-raised-button
                           class="btn button-additional font-additional font-weight-normal text-uppercase hvr-rectangle-out hover-focus-bg before-bg">
                          Visit
                        </a>

                      </div>

                      <!--<a href="#" class="btn button-border font-additional font-weight-normal text-uppercase hvr-rectangle-out hover-focus-border hover-focus-bg before-bg">-->
                      <!--<span class="icon-heart" aria-hidden="true"></span>-->
                      <!--</a>-->
                    </div>
                  </div>
                </div>
              </li>


            </ul>


            <div class="text-center">
              <pagination-controls (pageChange)="pageChanged($event)" id="search" directionLinks="true" autoHide="true"
                                   previousLabel="Previous"
                                   nextLabel="Next" screenReaderPaginationLabel="Pagination"
                                   class="pagination"></pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
