
<div class="text-center">
  <img *ngIf="errorflag==true" src="../../assets/images/no-record-found.gif" alt="No Record">

  <div style="margin-top: 5%;margin-right: 150px;" >
  <h4  *ngIf="errorflag==true"
      class="sidebar-title font-additional font-weight-bold text-uppercase customColor "
      >Possible reasons can be:</h4>
  <p *ngIf="errorflag==true" style="line-height: 20px;"> *) Make sure you accessing correct page
    <a
      [routerLink]="['/contact']">feedback</a></p>
</div>
</div>



<div class="sp-body"  *ngIf="errorflag!=true">

  <section id="productDetails" class="product-details">
    <div class="container">
      <div class="row">
        <div class="product-gallery col-lg-3 col-md-3 col-sm-7 col-xs-12 clearfix">
          <div class="preview-pic tab-content">
            <div class="tab-pane active" id="pic-1" *ngIf="image!='img'"><img src={{image}}
                                                                              style="width:auto;height:auto; max-width: 180px;max-height:230px; "/>
            </div>
            <div class="tab-pane" id="pic-2" *ngIf="image1!='img'"><img src={{image1}}
                                                                        style="width:auto;height:auto; max-width: 180px;max-height:230px; "/>
            </div>
            <div class="tab-pane" id="pic-3" *ngIf="image2!='img'"><img src={{image2}}
                                                                        style="width:auto;height:auto; max-width: 180px;max-height:230px; "/>
            </div>
            <div class="tab-pane" id="pic-4" *ngIf="image3!='img'"><img src={{image3}}
                                                                        style="width:auto;height:auto; max-width: 180px;max-height:230px; "/>
            </div>
          </div>
          <ul class="preview-thumbnail nav nav-tabs">
            <li *ngIf="image!='img'" class="active"><a data-target="#pic-1" data-toggle="tab"><img src={{image}}/></a>
            </li>
            <li *ngIf="image1!='img'"><a data-target="#pic-2" data-toggle="tab"><img src={{image1}}/></a></li>
            <li *ngIf="image2!='img'"><a data-target="#pic-3" data-toggle="tab"><img src={{image2}}/></a></li>
            <li *ngIf="image3!='img'"><a data-target="#pic-4" data-toggle="tab"><img src={{image3}}/></a></li>
          </ul>
          <h3 style="margin-top: 30%;"
              class="sidebar-title font-additional font-weight-bold text-uppercase customColor "
              >Similar products</h3>
          <ul class="sidebar-popular-product " >
            <li *ngFor="let item of Allresults.slice(1,14)">
              <a class="popular-product-item" href={{item.SNR_ProductURL}}>
                <img src={{item.SNR_ImageURL}} style=" max-width:85px; max-height:100px;" alt="Product">
                <span class="popular-product-item_title font-additional font-weight-bold text-uppercase">{{item.SNR_Title}}</span>
                <span class="popular-product-item_price font-additional color-third" style="color:red">
                  <div *ngIf="item.SNR_Price==0.000"
                       style="font-size: 20px;font-weight: bold;"
                       class="product-item_price font-additional font-weight-normal customColor">Check Price<br><br></div>

                  <div *ngIf="item.SNR_Price!=0.000  "
                       style="font-size: 20px;font-weight: bold;"

                       class="product-item_price font-additional font-weight-normal customColor">${{item.SNR_Price}}<br><br>
                  </div>
</span>
              </a>
            </li>
            <a [routerLink]="['/details']" [queryParams]="{ Model: modelNo, Name:name   }" (click)="loadmore()"
               mat-raised-button
               class="btn button-additional font-additional font-weight-normal text-uppercase hvr-rectangle-out hover-focus-bg before-bg"
               style="font-size: 18px;  color: white;">Load more</a>

          </ul>
        </div>

        <div style="width:900px;" class="product-cart pull-left col-lg-5 col-md-5 col-sm-12 col-xs-12 clearfix">
          <div class="product-options_header clearfix " >
            <h3 class="font-additional font-weight-bold text-uppercase">{{title}}</h3>
            <!--<div class="product-item_price font-additional font-weight-normal customColor">$240.00 <span>$265.00</span></div>-->

            <!--<ul class="rating">-->
            <!--<li><span aria-hidden="true" class="icon-star customColor"></span></li>-->
            <!--<li><span aria-hidden="true" class="icon-star customColor"></span></li>-->
            <!--<li><span aria-hidden="true" class="icon-star customColor"></span></li>-->
            <!--<li><span aria-hidden="true" class="icon-star customColor"></span></li>-->
            <!--<li><span aria-hidden="true" class="icon-star color-additional"></span></li>-->
            <!--</ul>-->
          </div>
          <div *ngIf="description!='Visit site to see description'" class="product-options_body clearfix "
               >
            <h4 class="font-additional font-weight-bold text-uppercase" style="font-size: 18px;">
              PRODUCT DESCRIPTION</h4>
            <div *ngIf="description=='Visit site to see description'"
                 class="product-options_desc font-main color-third"><a style="color: black" href={{url}}>
              {{description}}</a></div>
            <div *ngIf="description!='Visit site to see description'"
                 class="product-options_desc font-main color-third">{{description}}
            </div>
            <div class="product-options_desc font-main color-third">{{descr}}</div>
          </div>

          <div class="product-options_cart clearfix " >
            <div class="product-options_row">
              <ul class="product-links">

                <li>
                  <a
                    class="font-additional font-weight-normal hover-focus-color">
                    <span class="icon-envelope" aria-hidden="true" STYLE="font-size: 18px;"></span>
                    Share with friends
                  </a>
                </li>
              </ul>

              <div class="row">
                <div class="col-lg-2" style="padding-bottom: 10px; ">
                  <!--<iframe-->
                    <!--[attr.src]="'https://www.facebook.com/plugins/share_button.php?href='+fbsharelink+'&layout=button&size=large&mobile_iframe=true&appId=384235361979008&width=72&height=28'"-->
                    <!--width="72" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0"-->
                    <!--allowTransparency="true"></iframe>-->


                  <div class="fb-share-button" [attr.data-href]="fbsharelink" data-layout="button" data-size="large" data-mobile-iframe="true">
                    <a  target="_blank" [attr.href]="'https://www.facebook.com/sharer/sharer.php?u=https://www.shopnroar.com/'+fbsharelink+';src=sdkpreparse'"   class="btn btn-facebook"><i class="fa fa-facebook fa-fw"></i> Share</a></div>
                </div>
                <div class="col-lg-2">

                  <!--<a href="https://twitter.com/share" class="twitter-share-button" data-hashtags="#shopnroar"  data-count="vertical">Tweet</a>-->
                </div>

              </div>
            </div>
          </div>

          <div class="">
            <h4 class="font-additional font-weight-bold text-uppercase" style="font-size: 18px;">Product availability on
              different stores</h4>


            <div class="select pull-left" style="margin-left: 78%;">


              <mat-select placeholder="Filters" [(ngModel)]="selectedOption">
                <mat-option *ngFor="let c of options" [value]="c" (click)="onChangeOption(c)">{{c.name}}</mat-option>
              </mat-select>

            </div>
            <br>
            <br>
            <table class="table table-bordered compare-table">
              <tbody>
              <tr class="product-row">
                <td class="table-title"><b>Store</b></td>
                <td class="table-title"><b>Rating</b></td>

                <td class="table-title"><b>Price</b></td>
                <td class="table-title"><b>Link</b></td>

              </tr>
              <tr *ngFor="let item of Allproductsresults">
                <ng-container *ngIf="item.SNR_Price > price-priceprcent">
                <td class="table-title">
                  <a title={{item.SNR_Title}} href={{item.SNR_ProductURL}}> <img data-tooltip="I’m the tooltip text."
                                                                                 *ngIf="item.SNR_Available=='BestBuy'"
                                                                                 src="https://storage.shopnroar.com/bestbuy.png"
                                                                                 style="width:50%"/>
                  </a>

                  <a title={{item.SNR_Title}} href={{item.SNR_ProductURL}}>
                    <img *ngIf="item.SNR_Available=='Walmart'"
                         src="https://storage.shopnroar.com/Walmart.png"
                         style="width:100%"/>
                  </a>
                  <a title={{item.SNR_Title}} href={{item.SNR_ProductURL}}>
                    <img *ngIf="item.SNR_Available=='OverStock'"
                         src="https://storage.shopnroar.com/over.png"
                         style="width:100%"/>
                  </a>

                  <a title={{item.SNR_Title}} href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='GROUPON'"
                                                                                 src="https://storage.shopnroar.com/groupon.png"
                                                                                 style="width:100%;"/> </a>

                  <a title={{item.SNR_Title}} href={{item.SNR_ProductURL}}> <img data-tooltip="I’m the tooltip text."
                                                                                 *ngIf="item.SNR_Available=='AT&T'"
                                                                                 src="https://storage.shopnroar.com/ATT.png"/>
                  </a>
                  <a title={{item.SNR_Title}} href={{item.SNR_ProductURL}}>
                    <img *ngIf="item.SNR_Available=='Ebay'"
                         src="https://storage.shopnroar.com/EBay.png"
                         style="width:68%;"/>
                  </a>
                  <a title={{item.SNR_Title}} href={{item.SNR_ProductURL}}>

                    <img title={{item.SNR_Title}} *ngIf="item.SNR_Available=='Amazon'"
                         src="https://storage.shopnroar.com/amazon.png"
                         style="width:100%;"/>
                  </a>

                  <a href={{item.SNR_ProductURL}} title={{item.SNR_Title}}> <img data-tooltip=""
                                                                                 *ngIf="item.SNR_Available=='NewEgg'"
                                                                                 src="https://storage.shopnroar.com/newegg.png"
                                                                                 style="width:63%;"/></a>


                  <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='Frys'"
                                                        style="width:75%;"
                                                        src="https://storage.shopnroar.com/fry.png"
                  /></a>
                  <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='AppOutDoors'"
                                                        style="width:75%;"
                                                        src="https://storage.shopnroar.com/appoutdoors.png"
                  /></a>

                  <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='Verizon'"
                                                        style="width:50%;"
                                                        src="https://storage.shopnroar.com/verizon.png"
                  /></a>

                  <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='Microsoft'"
                                                        style="width:50%;"
                                                        src="https://storage.shopnroar.com/media/microsoft.png"
                  /></a>

                  <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='JCPENNEY'"
                                                        src="https://storage.shopnroar.com/jcpenny.png"
                  /></a>

                  <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='BuyDig'"
                                                        src="https://storage.shopnroar.com/buydig.png"
                  /></a>
                  <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='MACYS'"
                                                        src="https://storage.shopnroar.com/macyslogo.png"
                  /></a>
                  <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='BHPHOTOVIDEO'"
                                                        style="width:41%;"
                                                        src="https://storage.shopnroar.com/bh.png"
                  /></a>

                  <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='ISnorkel'"
                                                        style="width:75%;"
                                                        src="https://storage.shopnroar.com/isnorkel.jpg"
                  /></a>
                  <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='OldNavy'"
                                                        style="width:50%;"
                                                        src="https://storage.shopnroar.com/oldnavy.png"
                  /></a>
                  <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='BJS'"
                                                        style="width:30%;"
                                                        src="https://storage.shopnroar.com/bjs.jpg"
                  /></a>
                  <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='Sprint'"
                                                        style="width:60%;"
                                                        src="https://storage.shopnroar.com/sprint.png"
                  /></a>
                  <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='Fanatics'"
                                                        style="width:50%;"
                                                        src="https://storage.shopnroar.com/fanaticslogo.png"
                  /></a>

                  <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='GAP'"
                                                        style="width:30%;"
                                                        src="https://storage.shopnroar.com/gap.png"
                  /></a>

                  <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='CostCo'"
                                                        style="width:50%;"
                                                        src="https://storage.shopnroar.com/costco.png"
                  /></a>

                  <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='EpicSports'"
                                                        style="width:30%;"
                                                        src="https://storage.shopnroar.com/epicsports.png"
                  /></a>

                  <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='Beallsflorida'"
                                                        style="width:50%;"
                                                        src="https://storage.shopnroar.com/beallsflorida.png"
                  /></a>

                  <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='T-Mobile'"
                                                        style="width:50%;"
                                                        src="https://storage.shopnroar.com/tmobile.png"
                  /></a>

                  <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='Kmart'"
                                                        style="width:30%;"
                                                        src="https://storage.shopnroar.com/kmartlogo.png"
                  /></a>

                  <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='EpicSports'"
                                                        style="width:50%;"
                                                        src="https://storage.shopnroar.com/epicsports.png"
                  /></a>

                  <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='Target'"
                                                        style="width:50%;"
                                                        src="https://storage.shopnroar.com/target.png"
                  /></a>


                </td>

                <td class="">
                  <div class="col-sm-push-8">
                    <br>
                    <div *ngIf="item.SNR_CustomerReviews==0.000  "
                    >
                      <ul class="rating" style="padding-left: 30%">
                        <li style="font-size: 15px;"><span aria-hidden="true"
                                                           class="icon-star customColor"></span>
                        </li>
                        <li style="font-size: 15px;"><span aria-hidden="true"
                                                           class="icon-star customColor"></span>
                        </li>
                        <li style="font-size: 15px;"><span aria-hidden="true"
                                                           class="icon-star customColor"></span>
                        </li>
                        <li style="font-size: 15px;"><span aria-hidden="true"
                                                           class="icon-star customColor"></span>
                        </li>
                        <li style="font-size: 15px;"><span aria-hidden="true"
                                                           class="icon-star customColor"></span>
                        </li>
                      </ul>
                      <br><br>
                    </div>

                    <ul class="rating" style="padding-left: 30%">
                      <li *ngIf="item.SNR_CustomerReviews >=1 "><span aria-hidden="true"
                                                                      class="icon-star customColor"></span></li>
                      <li *ngIf="item.SNR_CustomerReviews >=2 "><span aria-hidden="true"
                                                                      class="icon-star customColor"></span></li>
                      <li *ngIf="item.SNR_CustomerReviews >=3 "><span aria-hidden="true"
                                                                      class="icon-star customColor"></span></li>
                      <li *ngIf="item.SNR_CustomerReviews >=4 "><span aria-hidden="true"
                                                                      class="icon-star customColor"></span></li>
                      <li *ngIf="item.SNR_CustomerReviews >=4.5 "><span aria-hidden="true"
                                                                        class="icon-star customColor"></span></li>
                    </ul>
                  </div>

                </td>


                <td class="">
                  <div *ngIf="item.SNR_Price==0.000"
                       class="product-item_price font-additional font-weight-normal customColor">visit site to see price<br><br>
                  </div>
                  <div *ngIf="item.SNR_Price!=0.000 " style="font-size: 20px;font-weight:bold;"
                       class="product-item_price font-additional font-weight-normal customColor">${{item.SNR_Price}}<br><br>
                  </div>
                </td>
                <td class="unit-price-col"><a
                  target="_blank"
                  href={{item.SNR_ProductURL}}
                  mat-raised-button
                  class="btn button-additional font-additional font-weight-normal text-uppercase hvr-rectangle-out hover-focus-bg before-bg"
                  style="color:white;width:100%;"
                  title={{item.SNR_Title}}

                >Shop Now</a>
                </td>
                </ng-container>
              </tr>
              <preloader-full></preloader-full>


              </tbody>
            </table>


            <preloader-full></preloader-full>


            <!--</tbody>-->
            <!--</table>-->
            <h2 *ngIf="msgflag!=false" class="font-additional font-weight-bold text-uppercase">No more such
              products</h2>
            <!--<h2 *ngIf="msgflag==true" class="font-additional font-weight-bold text-uppercase">more such products</h2>-->

            <!--<a *ngIf="msgflag!=true" [routerLink]="['/details']" [queryParams]="{ Model: modelNo, Name:name   }"-->
               <!--(click)="loadmoreproducts()"-->
               <!--mat-raised-button-->
               <!--class="btn button-additional font-additional font-weight-normal text-uppercase hvr-rectangle-out hover-focus-bg before-bg"-->
               <!--style="font-size: 18px;margin-left: 70%;color: white;">Load more products</a>-->

          </div>


        </div>
      </div>
    </div>
  </section>
  <section id="tabsPanel" class="tabs-container background-container">
    <div class="container">
      <div class="tabs-panel" role="tabpanel">
        <span>
          <h3 style="font-weight: bold;">Rating & Reviews</h3> </span>


        <mat-card style="min-height: 345px;">
          <div class="col-md-1">
          </div>

          <div class="col-md-3">

          </div>
          <div class="col-md-4">

            <div *ngIf="overallrating<50" style="text-align: center;">
              <div class="clearfix"></div>
              <span style="font-size: 20px;" class="reviews--aspect--text">SHOPnROAR Product Score</span>
              <round-progress
                [current]="overallrating"
                [max]="max"
                [color]="'#ca260f'"
                [background]="'#eaeaea'"
                [radius]="100"
                [stroke]="20"
                [semicircle]="false"
                [rounded]="true"
                [clockwise]="true"
                [responsive]="false"
                [duration]="800"
                [animation]="'easeInOutQuart'"
                [animationDelay]="5"
                (onRender)="doSomethingWithCurrentValue($event)"
                style="margin: auto">

              </round-progress>

              <div style="position: relative; bottom: 112px;font-size:25px;">{{overallrating}} %</div>

              <div class="clearfix"></div>
              <div class="row">
                <div class="col-md-6" style="    margin-left: 31% !important;">
                  <ul class="rating">
                  <li *ngFor=" let i of [1,2,3,4,5]">
                    <i *ngIf="i<=overallStarrating && overallStarrating !=0" class="material-icons starcolor">star</i>
                    <i *ngIf="i>overallStarrating && overallStarrating !=0" class="material-icons emptystarcolor">star</i>
                  </li>
                  </ul>
                </div>
              </div>

            </div>
            <div *ngIf="overallrating>=50" style="text-align: center;">
              <div class="clearfix"></div>
              <span style="font-size: 20px;" class="reviews--aspect--text">SHOPnROAR Product Score</span>
              <round-progress
                [current]="overallrating"
                [max]="max"
                [color]="'#53c722'"
                [background]="'#eaeaea'"
                [radius]="100"
                [stroke]="20"
                [semicircle]="false"
                [rounded]="true"
                [clockwise]="true"
                [responsive]="false"
                [duration]="800"
                [animation]="'easeInOutQuart'"
                [animationDelay]="5"
                (onRender)="doSomethingWithCurrentValue($event)"
                style="margin: auto">

              </round-progress>

              <div style="position: relative; bottom: 112px;font-size:25px;">{{overallrating}} %</div>

              <div class="clearfix"></div>
              <div class="row">
                <div class="col-md-6" style="    margin-left: 31% !important;">
                  <ul class="rating">
                  <li *ngFor=" let i of [1,2,3,4,5]">
                    <i *ngIf="i<=overallStarrating && overallStarrating !=0" class="material-icons starcolor">star</i>
                    <i *ngIf="i>overallStarrating && overallStarrating !=0" class="material-icons emptystarcolor">star</i>
                  </li>
                  </ul>
                </div>
              </div>

            </div>
          </div>
          <div class="col-md-3">

          </div>

          <div *ngIf="graph" [chart]="chart"></div>

        </mat-card>
        <!---->
        <div class="tab-content " >
          <div>
              <span>
          <h3
            style="font-weight: bold;margin-top: 3%;margin-bottom: 3%;">Leave a Review Now</h3> </span>
            <form style="width: 500px;margin-left: 30%;" *ngIf="flag!=true" name="form"
                  (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>

              <!--<h2 class="mb65 mb45-sm mb35-xs text-center">Please login to add review</h2>-->
              <div class="form-group label-overlay" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                <input type="email" class="form-control" name="username" [(ngModel)]="model.username"
                       placeholder="User Name" #username="ngModel" required>
                <!--<label class="input-desc"><i class="icon input-icon input-email"></i>Enter your email <span class="input-required">*</span></label>-->
                <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
              </div><!-- End .form-group -->


              <div class="form-group label-overlay" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                <input type="password" class="form-control" name="password" [(ngModel)]="model.password"
                       placeholder="Password" #password="ngModel" required>
                <!--<label class="input-desc"><i class="icon input-icon input-password"></i>Enter your password <span class="input-required">*</span></label>-->

                <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>

              </div><!-- End .form-group -->

              <div *ngIf="status==false" class="help-block">Username or password is incorrect


              </div>
              <div class="mb20"></div><!-- margin -->

              <div class="form-action">
                <button type="submit"
                        mat-raised-button
                        class="btn button-additional font-additional font-weight-normal text-uppercase hvr-rectangle-out hover-focus-bg before-bg">
                  Log In
                </button>
                <a [routerLink]="['/forgotpassword']" class="forget-link" style="font-size: 18px;">Forgot Your
                  Password?</a>
              </div><!-- End .form-action -->
            </form>
            <form style="width: 900px;margin-left: 20%;" *ngIf="flag==true" (ngSubmit)=" addreview()">


              <div class="row">
                <div class="col-md-4">
                  <fieldset class="rating">
                    <input type="radio" id="star5" name="rating" value="5" (click)="getValue(5)"/><label
                    class="full" for="star5" title="Awesome - 5 stars"></label>
                    <input type="radio" id="star4half" name="rating" value="4 and a half"
                           (click)="getValue(4.5)"/><label class="half" for="star4half"
                                                           title="Pretty good - 4.5 stars"></label>
                    <input type="radio" id="star4" name="rating" value="4" (click)="getValue(4.5)"/><label
                    class="full" for="star4" title="Pretty good - 4 stars"></label>
                    <input type="radio" id="star3half" name="rating" value="3 and a half"
                           (click)="getValue(3.5)"/><label class="half" for="star3half"
                                                           title="Meh - 3.5 stars"></label>
                    <input type="radio" id="star3" name="rating" value="3" (click)="getValue(3)"/><label
                    class="full" for="star3" title="Meh - 3 stars"></label>
                    <input type="radio" id="star2half" name="rating" value="2 and a half"
                           (click)="getValue(2.5)"/><label class="half" for="star2half"
                                                           title="Kinda bad - 2.5 stars"></label>
                    <input type="radio" id="star2" name="rating" value="2" (click)="getValue(2)"/><label
                    class="full" for="star2" title="Kinda bad - 2 stars"></label>
                    <input type="radio" id="star1half" name="rating" value="1 and a half"
                           (click)="getValue(1.5)"/><label class="half" for="star1half"
                                                           title="Meh - 1.5 stars"></label>
                    <input type="radio" id="star1" name="rating" value="1" (click)="getValue(1)"/><label
                    class="full" for="star1" title="Sucks big time - 1 star"></label>
                    <input type="radio" id="starhalf" (click)="getValue(0.5)" name="rating" value="half"/><label
                    class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
                  </fieldset>

                </div>
                <div class="col-md-8">
                  <div class="form-group textarea-group mb35 label-overlay">
                    <input type="text" class="form-control" placeholder="Title" name="title" [(ngModel)]="model.title"
                           #title="ngModel">
                    <!--<label class="input-desc"><i class="icon input-icon input-subject2"></i>Title of review </label>-->

                  </div><!-- End .form-group -->
                </div>


              </div>

              <div class="row">
                <div class="col-md-12">


                  <div class="form-group textarea-group mb35 label-overlay">
            <textarea cols="30" rows="4" class="form-control min-height" placeholder="Write your review..."
                      name="review" [(ngModel)]="model.review" #review="ngModel" required></textarea>
                  </div>
                </div>
                <!--<label class="input-desc"><i class="icon input-icon input-message"></i>Write your review <span class="input-required">*</span></label>-->
              </div><!-- End .form-group -->
              <h4 *ngIf="submit==true">Submitted</h4>

              <button type="submit"
                      class="btn button-additional font-additional font-weight-normal text-uppercase hvr-rectangle-out hover-focus-bg before-bg"
                      style="font-size: 18px;color:white; float:right;">Submit Review
              </button>
            </form>


            <div *ngIf="Reviewflag!==false">
              <div *ngFor="let item of Reviews.results" class="product-review">
                <div *ngFor="let rev of item.Reviews.slice(0,reviewCount)">

                  <div class="review-content">

                    <h3>{{rev.SNR_Review_Title}}</h3>
                    <div class="media-info">
                      <ul class="rating">
                        <li *ngFor=" let i of [1,2,3,4,5]">
                          <i *ngIf="i<=rev.SNR_Review_Stars && rev.SNR_Review_Stars!=0"
                             class="material-icons starcolor">star</i>
                          <i *ngIf="i>rev.SNR_Review_Stars && rev.SNR_Review_Stars!=0"
                             class="material-icons emptystarcolor">star</i>
                        </li>

                      </ul>

                    </div><!-- End .media-info -->
                    <br>
                    <p style="display: -webkit-inline-box">{{rev.SNR_Review_Body}}</p>


                  </div><!-- End .review-content -->
                </div>
              </div><!-- End .product-review -->

              <a *ngIf="overallrating!==50" [routerLink]="['/details']" [queryParams]="{ Model: modelNo, Name:name   }"
                 (click)="loadmorereviews()"
                 mat-raised-button
                 class="btn button-additional font-additional font-weight-normal text-uppercase hvr-rectangle-out hover-focus-bg before-bg"
                 style="font-size: 18px;margin-left: 70%;color: white; float: right;">Load more reviews</a>

            </div>
            <div *ngIf="Reviewflag===false">
              <div class="text-center">

                <h2 style="font-weight: bold">Be first to review this product!</h2>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </section>
</div>
