<section id="pageContent" class="page-content" style="margin-top: 6%;">

  <div class="container" >

    <div class="row">
      <div class="sidebar col-lg-3 col-md-3 col-sm-3 col-xs-12 clearfix">

        <h3
            class="sidebar-title font-additional font-weight-bold text-uppercase customColor "
            >Featured products</h3>
        <ul class="sidebar-popular-product " >
          <li *ngFor="let item of Popular.results">
            <a class="popular-product-item" href={{item.SNR_ProductURL}}>
              <img src={{item.SNR_ImageURL}} style=" max-width:85px; max-height:80px;" alt="Product">
              <span class="popular-product-item_title font-additional font-weight-bold text-uppercase">{{item.SNR_Title}}</span>
              <span class="popular-product-item_price font-additional color-third" style="color:red; ">
                  <div
                    class="product-item_price font-additional font-weight-normal customColor" style="font-size: 30px; font-weight: 900"> ${{item.SNR_Price}}<br><br>
                  </div>
              </span>
            </a>
          </li>

        </ul>

      </div>
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 clearfix">
        <div class="content-box">
          <div class="category-filter clearfix " >
            <a *ngIf="gridview==true && listview==false" (click)="listviewfun()"   style="cursor: pointer !important;" class="pull-right grid-type hover-focus-border">
              <span class="icon-list" style="padding: 23% !important;" aria-hidden="true"></span>
            </a>

            <a *ngIf="gridview==false && listview==true" (click)="listviewfun()"  style="cursor: pointer !important;" class="pull-right grid-type active customBgColor color-main">
              <span class="icon-list" style="padding: 23% !important;" aria-hidden="true"></span>
            </a>
            <a *ngIf="gridview==true && listview==false" (click)="gridviewfun()" style="cursor: pointer !important;"   class="pull-right grid-type active customBgColor color-main">
              <span class="icon-grid" style="padding: 23% !important;" aria-hidden="true"></span>
            </a>
            <a *ngIf="gridview==false && listview==true" (click)="gridviewfun()"  style="cursor: pointer !important;" class="pull-right grid-type hover-focus-border">
              <span class="icon-grid" style="padding: 23% !important;" aria-hidden="true"></span>
            </a>
          </div>
          <div class="products-cat clearfix">
            <div class="text-center">
              <pagination-controls (pageChange)="pageChanged($event)" id="search" directionLinks="true" autoHide="true"
                                   previousLabel="Previous"
                                   nextLabel="Next" screenReaderPaginationLabel="Pagination"
                                   class="pagination"></pagination-controls>
            </div>
            <preloader-full></preloader-full>
            <ul *ngIf="gridview==true && listview==false" class="products-grid row">
              <li style="padding-left: 2%;" class=" col-lg-4"
                  *ngFor="let item of products.results | paginate: { itemsPerPage: 21, currentPage:p,totalItems:products.totalItems,id:'search' }">
                <div class="product-item hvr-underline-from-center">
                  <div class="product-item_body">
                    <div class="text-center">
                      <a target="_blank" href={{item.SNR_ProductURL}}>
                        <img *ngIf="item.SNR_ImageURL==null || item.SNR_ImageURL=='https://storage.shopnroar.com/dell.png'"
                             src="https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg"
                             class="hotdeals-img" alt="Product Image">
                        <!--<img *ngIf="" src="https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg" style="max-width:100px;max-height:150px; width:auto;height:auto;" alt="Product Image">-->


                        <img
                          *ngIf="item.SNR_ImageURL!=null && item.SNR_ImageURL!='Not Available' && item.SNR_Available=='Groupon' "
                          src={{item.SNR_ImageURL}} class="hotdeals-img"
                          alt="Product Image">
                        <img
                          *ngIf="item.SNR_ImageURL!=null && item.SNR_ImageURL!='Not Available' && item.SNR_Available!='Groupon'"
                          src={{item.SNR_ImageURL}} class="hotdeals-img"
                          alt="Product Image">

                      </a>
                    </div>



                  </div>
                  <a target="_blank" href={{item.SNR_ProductURL}}>
                    <br/><br/>

                    <div id="div2"
                         class="product-item_title p-height font-additional font-weight-bold text-center text-uppercase">
                      {{item.SNR_Title}}<br></div>
                    <div *ngIf="item.SNR_PriceBefore!='-1.00'"  style="color:#403c3c !important ; text-decoration: line-through;"
                         class="product-item_price font-additional font-weight-normal customColor">
                      ${{item.SNR_PriceBefore}}<br><br></div>
                    <div style="font-size: 30px;font-weight: 900;"
                         class="product-item_price font-additional font-weight-normal customColor">
                      ${{item.SNR_PriceAfter}}<br><br></div>

                    <h4 style="color:black" class="text-center img-height">
                      <a target="_blank" href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='Dell'"
                                                                            src="https://storage.shopnroar.com/dell.png"
                                                                            style="width:39%;"/></a>
                      <a target="_blank" href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='BestBuy'"
                                                            src="https://storage.shopnroar.com/bestbuy.png"
                                                            style="width:39%;"/></a>
                      <a target="_blank" href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='Walmart'"
                                                            src="https://storage.shopnroar.com/Walmart.png"
                                                            style="width:150px;height:40px"/></a>
                      <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='Kmart'"  style="width:30%;"  src="https://storage.shopnroar.com/kmartlogo.png"/></a>
                      <a target="_blank" href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='AT&T'"
                                                            src="https://storage.shopnroar.com/ATT.png"
                                                            style="width:120px;height:50px"/></a>
                      <a target="_blank" href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='Ebay'"
                                                            src="https://storage.shopnroar.com/EBay.png"
                                                            style="width:50%"/> </a>
                      <a target="_blank" href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='Groupon'"
                                                            src="https://storage.shopnroar.com/groupon.png"
                                                            style="width:80%"/> </a>
                      <a target="_blank" href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='Amazon'"
                                                            src="https://storage.shopnroar.com/amazon.png"
                                                            style="width:76%"/></a>
                      <a target="_blank" href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='NewEgg'"
                                                            src="https://storage.shopnroar.com/newegg.png"
                                                            style="width:40%"/></a>

                      <a target="_blank" href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='Frys'"
                                                            style="width:75%;"
                                                            src="https://storage.shopnroar.com/fry.png"
                      /></a>
                      <a target="_blank" href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='AppOutDoors'"
                                                            style="width:75%;"
                                                            src="https://storage.shopnroar.com/appoutdoors.png"
                      /></a>

                      <a target="_blank" href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='Verizon'"
                                                            style="width:50%;"
                                                            src="https://storage.shopnroar.com/verizon.png"
                      /></a>

                      <a target="_blank" href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='JCPENNEY'"
                                                            src="https://storage.shopnroar.com/jcpenny.png"
                      /></a>

                      <a target="_blank" href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='BuyDig'"
                                                            src="https://storage.shopnroar.com/buydig.png"
                      /></a>
                      <a target="_blank" href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='MACYS'"
                                                            src="https://storage.shopnroar.com/macyslogo.png"
                      /></a>
                      <a target="_blank" href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='BHPHOTOVIDEO'"
                                                            style="width:41%;"        src="https://storage.shopnroar.com/bh.png"
                      /></a>

                      <a target="_blank" href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='ISnorkel'"
                                                            style="width:75%;"         src="https://storage.shopnroar.com/isnorkel.jpg"
                      /></a>
                      <a target="_blank" href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='OldNavy'"
                                                            style="width:50%;"         src="https://storage.shopnroar.com/oldnavy.png"
                      /></a>
                      <a target="_blank" href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='BJS'"
                                                            style="width:30%;"         src="https://storage.shopnroar.com/bjs.jpg"
                      /></a>
                      <a target="_blank" href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='Sprint'"
                                                            style="width:30%;"         src="https://storage.shopnroar.com/sprint.png"
                      /></a>




                    </h4>

                  </a>
                  <div class="col-sm-push-8">
                    <br>

                    <ul class="rating" style="padding-left: 30%">
                      <li *ngFor=" let i of [1,2,3,4,5]">
                        <i *ngIf="i<=item.SNR_CustomerReviews && item.SNR_CustomerReviews!=0" class="material-icons starcolor">star</i>
                        <i *ngIf="i>item.SNR_CustomerReviews && item.SNR_CustomerReviews!=0" class="material-icons emptystarcolor">star</i>
                      </li>

                    </ul>
                  </div>
                  <div class=" product-item_footer" style="display: inline">

                  <a href={{item.SNR_ProductURL}} style="float: left; width: 100%;"
                       target="_blank"
                     mat-raised-button class="btn button-additional font-additional font-weight-normal text-uppercase hvr-rectangle-out hover-focus-bg before-bg">
                      Shop
                    </a>

                  </div>


                </div>

              </li>
              <li class="helper-justify"></li>
            </ul>

            <div class="text-center">
              <img *ngIf="apiflag==true" src="../../assets/images/no-record-found.gif" alt="No Record">

              <div style="margin-top: 5%;margin-right: 150px;" >
                <h4   *ngIf="apiflag==true"
                      class="sidebar-title font-additional font-weight-bold text-uppercase customColor "
                >Ooooops: Something went wrong.</h4>
                <p  *ngIf="apiflag==true"  style="line-height: 20px;">  Please provide
                  <a
                    [routerLink]="['/contact']">feedback</a></p>
              </div>
            </div>

            <ul *ngIf="gridview==false && listview==true" class="products-list">

              <li class=""  *ngFor="let item of products.results | paginate: { itemsPerPage: 21, currentPage:p,totalItems:products.totalItems,id:'search' }">
                <div class="product-list_item row">
                  <div class="product-list_item_img col-lg-4 col-md-4 col-sm-4 col-xs-12 clearfix">
                    <a  href={{item.SNR_ProductURL}}>
                      <img *ngIf="item.SNR_ImageURL==null || item.SNR_ImageURL=='Not Available'" src="https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg" style="max-width:240px;max-height:260px; width:auto;height:auto;" alt="Product Image">
                      <!--<img *ngIf="" src="https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg" style="max-width:100px;max-height:150px; width:auto;height:auto;" alt="Product Image">-->

                      <img *ngIf="item.SNR_ImageURL!=null && item.SNR_ImageURL!='Not Available' " src={{item.SNR_ImageURL}} style="max-width:240px;max-height:260px; width:auto;height:auto;" alt="Product Image">
                      <h4 style="color:black" class="text-center">
                        <a target="_blank" href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='BestBuy'"
                                                              src="https://storage.shopnroar.com/bestbuy.png"
                                                              style="padding-top: 20px;margin-left: -45px;width:39%;"/></a>
                        <a target="_blank" href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='Walmart'"
                                                              src="https://storage.shopnroar.com/Walmart.png"
                                                              style="padding-top: 20px;margin-left: -45px;width:51%"/></a>
                        <a target="_blank" href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='AT&T'"
                                                              src="https://storage.shopnroar.com/ATT.png"
                                                              style="padding-top: 20px;margin-left: -45px;width:120px;height:50px"/></a>
                        <a target="_blank" href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='Ebay'"
                                                              src="https://storage.shopnroar.com/EBay.png"
                                                              style="    padding-top: 20px;margin-left: -45px;width:50%"/> </a>
                        <a target="_blank" href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='Groupon'"
                                                              src="https://storage.shopnroar.com/groupon.png"
                                                              style="padding-top: 20px;margin-left: -45px;width:80%"/> </a>
                        <a target="_blank" href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='Amazon'"
                                                              src="https://storage.shopnroar.com/amazon.png"
                                                              style="padding-top: 20px;margin-left: -45px;width:76%"/></a>
                        <a target="_blank" href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='NewEgg'"
                                                              src="https://storage.shopnroar.com/newegg.png"
                                                              style="padding-top: 20px;margin-left: -45px;width:40%"/></a>

                        <a target="_blank" href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='Frys'"
                                                              style="width:75%;"
                                                              src="https://storage.shopnroar.com/fry.png"
                        /></a>
                        <a target="_blank" href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='AppOutDoors'"
                                                              style="width:75%;"
                                                              src="https://storage.shopnroar.com/appoutdoors.png"
                        /></a>

                        <a target="_blank" href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='Verizon'"
                                                              style="width:50%;"
                                                              src="https://storage.shopnroar.com/verizon.png"
                        /></a>

                        <a target="_blank" href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='JCPENNEY'"
                                                              src="https://storage.shopnroar.com/jcpenny.png"
                        /></a>

                        <a target="_blank" href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='BuyDig'"
                                                              src="https://storage.shopnroar.com/buydig.png"
                        /></a>
                        <a target="_blank" href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='MACYS'"
                                                              src="https://storage.shopnroar.com/macyslogo.png"
                        /></a>
                        <a target="_blank" href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='BHPHOTOVIDEO'"
                                                              style="width:41%;"        src="https://storage.shopnroar.com/bh.png"
                        /></a>

                        <a target="_blank" href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='ISnorkel'"
                                                              style="width:75%;"         src="https://storage.shopnroar.com/isnorkel.jpg"
                        /></a>
                        <a target="_blank" href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='OldNavy'"
                                                              style="width:50%;"         src="https://storage.shopnroar.com/oldnavy.png"
                        /></a>
                        <a target="_blank" href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='BJS'"
                                                              style="width:30%;"         src="https://storage.shopnroar.com/bjs.jpg"
                        /></a>
                        <a target="_blank" href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='Sprint'"
                                                              style="width:30%;"         src="https://storage.shopnroar.com/sprint.png"
                        /></a>



                      </h4>

                    </a>


                  </div>
                  <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 clearfix">
                    <div class="product-list-info">
                      <div class="product-list_item_title">
                        <h3 style="color:#333;" class="font-additional font-weight-bold text-uppercase">{{item.SNR_Title}}</h3>

                        <ul class="rating" style="padding-left: 30%">
                          <li *ngFor=" let i of [1,2,3,4,5]">
                            <i *ngIf="i<=item.SNR_CustomerReviews && item.SNR_CustomerReviews!=0" class="material-icons starcolor">star</i>
                            <i *ngIf="i>item.SNR_CustomerReviews && item.SNR_CustomerReviews!=0" class="material-icons emptystarcolor">star</i>
                          </li>

                        </ul>

                      </div>
                      <div class="product-item_price font-additional font-weight-normal customColor" style="color:#403c3c !important ; text-decoration: line-through;">${{item.SNR_PriceBefore}}<br><br></div>

                      <div class="product-item_price font-additional font-weight-normal customColor"  style="font-size: 30px;font-weight: 900;">${{item.SNR_PriceAfter}}<br><br></div>



                      <div class="product-list_item_desc font-main font-weight-normal color-third">{{item.SNR_Description}}</div>


                      <div class=" product-item_footer" style="display: inline">

                        <a href={{item.SNR_ProductURL}}
                           target="_blank"
                           mat-raised-button class="btn button-additional font-additional font-weight-normal text-uppercase hvr-rectangle-out hover-focus-bg before-bg">
                          Shop Now
                        </a>

                      </div>

                      <!--<a href="#" class="btn button-border font-additional font-weight-normal text-uppercase hvr-rectangle-out hover-focus-border hover-focus-bg before-bg">-->
                      <!--<span class="icon-heart" aria-hidden="true"></span>-->
                      <!--</a>-->
                    </div>
                  </div>
                </div>
              </li>
              <div class="text-center">
                <pagination-controls (pageChange)="pageChanged($event)" id="search" directionLinks="true" autoHide="true" previousLabel="Previous"
                                     nextLabel="Next" screenReaderPaginationLabel="Pagination" class="pagination"></pagination-controls>
              </div>

            </ul>




            <div class="text-center">
              <pagination-controls (pageChange)="pageChanged($event)" id="search" directionLinks="true" autoHide="true"
                                   previousLabel="Previous"
                                   nextLabel="Next" screenReaderPaginationLabel="Pagination"
                                   class="pagination"></pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
