<br><br>


<preloader-full></preloader-full>

<div class="main">

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-9">
        <div class="row row-lg">
          <div class="col-sm-6">
            <h3 class="sidebar-title font-additional font-weight-bold text-uppercase customColor  login-title"
                >New User?</h3>

            <div class="new-customer-section">
              <p>By creating an account with our store, you will be able to get new Offers across all vendors and you
                can also post reviews on products </p>
            </div><!-- End .new-customer-section -->

            <a  [routerLink]="['/register']" class="btn btn-custom create-account-btn">CREATE AN ACCOUNT</a>
          </div><!-- End .col-sm-6 -->

          <div class="mb60 visible-xs"></div><!-- margin -->

          <div class="col-sm-6">
            <h3 class="sidebar-title font-additional font-weight-bold text-uppercase customColor   login-title"
                >Registered User?</h3>

            <div class="registered-customer-section">
              <p>If you have an account with us, please log in.</p>
              <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>


                <div class="form-group label-overlay" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                  <input type="email" class="form-control" name="username" [(ngModel)]="model.username"
                         placeholder="User Name" #username="ngModel" required>
                  <!--<label class="input-desc"><i class="icon input-icon input-email"></i>Enter your email <span class="input-required">*</span></label>-->
                  <div *ngIf="f.submitted && !username.valid" class="help-block">Username is required</div>
                </div><!-- End .form-group -->


                <div class="form-group label-overlay" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                  <input type="password" class="form-control" name="password" [(ngModel)]="model.password"
                         placeholder="Password" #password="ngModel" required>
                  <!--<label class="input-desc"><i class="icon input-icon input-password"></i>Enter your password <span class="input-required">*</span></label>-->

                  <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>

                </div><!-- End .form-group -->

                <div>
                  <re-captcha (resolved)="resolved($event)" siteKey="6LcBQS4UAAAAALBYJyKch0nkU91RKn2AU8nFcoHC"
                             required=""></re-captcha>
                </div>

                <div class="mb20"></div><!-- margin -->

                <div *ngIf="recaptcha==false" class="help-block">Please authenticate with reCaptcha

                </div>
                <div *ngIf="status==false" class="help-block">Username or password is incorrect

                </div>

                <!--<div *ngIf="verified==false" class="help-block">Your account is not verified yet.-->

                <!--</div>-->

                <br>
                <div class="form-action">
                  <a [routerLink]="['/forgotpassword']" class="forget-link" style="font-size: 18px;">Forgot Your
                    Password?</a>
                  <button  type="submit" style="margin-left:1px; font-size: 20px;"
                           mat-raised-button   class="btn button-additional font-additional font-weight-normal text-uppercase hvr-rectangle-out hover-focus-bg before-bg">
                    Log In
                  </button>

                </div><!-- End .form-action -->
              </form>
            </div><!-- End .registered-customer-section -->
          </div><!-- End .col-sm-6 -->
        </div><!-- End .row -->
      </div><!-- End .col-md-9 -->


      <div class="mb100 visible-sm visible-xs"></div><!-- margin -->

      <aside class="col-md-3 sidebar">
        <div>
          <div class="widget">
            <h3 class="sidebar-title font-additional font-weight-bold text-uppercase customColor   login-title"
                >Log in using</h3>

            <div class="swiper-container bestsellers-slider">
              <div>
                <!--<div>-->

                <!--<a href="http://localhost:8000/oauth/login/facebook">-->
                <!--<img src="assets/img/facebook.png" style="width:80%;margin-top: 13%" alt="Partner">-->
                <!--</az>-->

                <!--</div>&lt;!&ndash; End .product &ndash;&gt;-->

                <!--<div>-->

                <!--<a href="http://ns519750.ip-158-69-23.net:8005/oauth/login/twitter">-->
                <!--<img src="assets/img/twitter.png" style="width:83%;margin-top: 13%" alt="Partner">-->
                <!--</a>-->

                <!--</div>&lt;!&ndash; End .product &ndash;&gt;-->

                <div>

                  <a href="https://apis.shopnroar.com/oauth/login/google-oauth2/" style="cursor: pointer">
                    <img src="assets/img/google.png" style="width:81%;margin-top: 13%" alt="Partner">
                  </a>

                </div><!-- End .product -->

              </div><!-- End .swiper-slide -->


            </div><!-- End .swiper-wrapper -->

            <div class="swiper-button-next icon"></div>
            <div class="swiper-button-prev icon"></div>
          </div><!-- end .swiper-container -->
        </div><!-- End .widget -->

      </aside>
    </div><!-- End .row -->
  </div><!-- End .container-fluid -->
  <div class="mb80 visible-md visible-lg"></div><!-- margin -->
</div><!-- End .main -->
