<!--<div *ngIf="flag==true" class="page-header custom larger mb60">-->
  <!--<div class="container-fluid">-->
    <!--<h1>Welcome {{user  }}</h1>-->
    <!--<ol class="breadcrumb">-->
      <!--<li><a [routerLink]="['/details']" [queryParams]="{ Model: modelNo, Name:name   }" (click)="logout()">log out</a></li>-->

    <!--</ol>-->
  <!--</div>&lt;!&ndash; End .container-fluid &ndash;&gt;-->
<!--</div>&lt;!&ndash; End .page-header &ndash;&gt;-->

<preloader-full></preloader-full>

<br>
<div id="wrapper">

            <div class="main">

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-9">
                            <!--<div id="map"></div>-->
                          <h3 class="sidebar-title font-additional font-weight-bold text-uppercase customColor " style="color:#e31b1d ;">Feedback</h3>
 <div class="row row-lg">
                                <form (ngSubmit)="f.form.valid  && sendfeedback()" #f="ngForm" novalidate>
                                    <div class="col-sm-6">

                                        <div class="form-group mb30 label-overlay">
                                            <input type="text" class="form-control"
                                                   pattern="^([a-zA-Z]+[,.]?[ ]?|[a-z]+['-]?)+$" name="full_name" [(ngModel)]="model.full_name"
                                                   #full_name="ngModel"
                                                   placeholder="Name*" required>
                                        </div><!-- End .form-group -->
                                      <div *ngIf="f.submitted &&flaag==false && full_name.errors " class="help-block">Name is required
                                      </div>

                                      <div class="form-group mb30 label-overlay">
                                            <input type="email" placeholder="Email*"
                                                   pattern="^(^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$)" name="email"
                                                   [(ngModel)]="model.email" #email="ngModel"
                                                   class="form-control" required>
                                        </div><!-- End .form-group -->
                                      <div *ngIf="f.submitted &&flaag==false&& email.errors  && !email.valid" class="help-block">
                                        Email is invalid
                                      </div>

                                      <div class="form-group mb30 label-overlay">
                                            <input type="text" placeholder="Subject*"
                                                   pattern="^([a-zA-Z]+[,.]?[ ]?|[a-z]+['-]?)+$" name="subject" [(ngModel)]="model.subject"
                                                   #subject="ngModel" required
                                                   class="form-control">
                                        </div><!-- End .form-group -->
                                      <div *ngIf="f.submitted  &&flaag==false && subject.errors " class="help-block">Subject is required
                                      </div>

                                    </div><!-- End .col-sm-6 -->

                                    <div class="col-sm-6">
                                        <div class="form-group textarea-group mb30 label-overlay">
                                            <textarea cols="30" rows="5" placeholder="Write your feedback*"
                                                      name="feedback" [(ngModel)]="model.feedback"
                                                      #feedback="ngModel" required
                                                      class="form-control min-height" required></textarea>
                                        </div><!-- End .form-group -->
                                      <div *ngIf="f.submitted &&flaag==false  && feedback.errors " class="help-block">Feedback is required
                                      </div>
                                      <div *ngIf="flaag== true " class="help-block">Thanks. We will contact you soon
                                      </div>

                                        <button type="submit" style="margin-left:74%; " class="btn button-additional font-additional font-weight-normal text-uppercase hvr-rectangle-out hover-focus-bg before-bg">Submit</button>
                                    </div><!-- End .col-sm-6 -->
                                </form>
                            </div><!-- End .row -->
<br><br><br>

                            <div class="contact-infos-wrapper">
                                <div class="row">
                                    <div class="col-sm-4 contact-info-container">
                                        <div class="contact-info">
                                            <i class="icon contact-icon contact-pin"></i>
                                            <div class="contact-info-meta">
                                              <h3 class="sidebar-title font-additional font-weight-bold text-uppercase customColor " data-wow-delay="0.3s"><b>Headquarters</b></h3>
                                                <address class="font-larger">
                                                  5050 Quorum Drive, Suite 700, Dallas, TX 75254                                              </address>
                                            </div><!-- end .contact-info-meta -->
                                        </div><!-- End .contact-info -->
                                    </div><!-- End .col-sm-4 -->
                                    <div class="col-sm-4 contact-info-container">
                                        <div class="contact-info">
                                            <i class="icon contact-icon contact-email"></i>
                                            <div class="contact-info-meta">
                                              <h3 class="sidebar-title font-additional font-weight-bold text-uppercase customColor " data-wow-delay="0.3s"><b>ESTABLISH CONTACT </b></h3>
                                                <ul class="font-larger">
                                                    <li><span><b>Email:</b></span> <a href="mailto:#">contact@shopnroar.com</a></li>
                                                    <li><span><b>Phone:</b></span> +1 (888) 764-0100</li>
                                                    <li><span><b>Fax:</b></span> +1 (469) 250-6600</li>
                                                </ul>
                                            </div><!-- end .contact-info-meta -->
                                        </div><!-- End .contact-info -->
                                    </div><!-- End .col-sm-4 -->
                                    <div class="col-sm-4 contact-info-container">
                                        <div class="contact-info">
                                            <i class="icon contact-icon contact-phone"></i>
                                            <div class="contact-info-meta">
                                                <h3 class="sidebar-title font-additional font-weight-bold text-uppercase customColor " data-wow-delay="0.3s"> <b>Contact Us</b></h3>
                                                <ul class="font-larger">
                                                    <li><span><b>Phone:</b></span>+1 (888) 764-0100</li>
                                                    <li><span><b>Fax:</b></span>+1 (469) 250-6600
                                                    </li>
                                                </ul>
                                            </div><!-- end .contact-info-meta -->
                                        </div><!-- End .contact-info -->
                                    </div><!-- End .col-sm-4 -->
                                </div><!-- End .row -->
                            </div><!-- End .contact-infos-wrapper -->
                        </div><!-- End .col-md-9 -->

                        <div class="mb80 mb70-xs visible-sm visible-xs"></div><!-- margin -->

                        <aside class="col-md-3 sidebar">


                            <!--<div class="widget">-->
                              <!--&lt;!&ndash;<h3 class="sidebar-title font-additional font-weight-bold text-uppercase customColor " data-wow-delay="0.3s" style="color:#e31b1d ;">About us</h3>&ndash;&gt;-->
                              <!--<div class="widget-body">-->
                                    <!--<div class="swiper-container testimonials-slider">-->
                                        <!--<div class="swiper-wrapper">-->
                                            <!--<div class="swiper-slide testimonial">-->
                                                <!--<blockquote>-->
                                                    <!--<p>ShopnRoar is a Artificially Intelligent Comparative Shopping with a Roar.</p>-->
                                                <!--</blockquote>-->
                                            <!--</div>&lt;!&ndash; End .testimonial &ndash;&gt;-->
                                        <!--</div>&lt;!&ndash; End .swiper-wrapper &ndash;&gt;-->
                                    <!--</div>&lt;!&ndash; end .swiper-container &ndash;&gt;-->
                                <!--</div>&lt;!&ndash; End .widget-body &ndash;&gt;-->
                            <!--</div>&lt;!&ndash; End .widget &ndash;&gt;-->
                        </aside>
                    </div><!-- End .row -->
                </div><!-- End .container-fluid -->
                <div class="mb90 visible-md visible-lg"></div><!-- margin -->
            </div><!-- End .main -->


        </div><!-- End #wrapper -->
