.what h3 {
  color: #fff;
  font-size: 40px;
  padding-bottom: 30px;
}
.what p {
  color: #fff;
  font-size: 20px;
}

.how-it-works-wrapper h2 {
  padding: 50px 0px;
}

.how-it-works-box:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 5px 25px 0 rgba(64,64,64,.3);
  -moz-box-shadow: 0 5px 25px 0 rgba(64,64,64,.3);
  box-shadow: 0 5px 25px 0 rgba(64,64,64,.3);
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}


element.style {
  padding-top: 0px;
  padding-bottom: 0px;
  background: url(../../assets/images/brainwhat.jpg) no-repeat;
  background-position: center center;
  background-size: cover;
}
section {
  min-width: 100%;
  position: relative;
  width: 100%;
}
p {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

element.style {
}
.how-it-works-wrapper h2 {
  padding: 50px 0px;
}
.h2, h2 {
  font-size: 30px;
}
.h1, .h2, .h3, h1, h2, h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-weight: bold;
  font-weight: 500;

  line-height: 1.1;
  color: inherit;
}
.how-it-works-wrapper h3{
  color: #616161;
  font-weight:bold;
}
h2 {
  display: block;
  font-size: 1.5em;
  color: #616161;
  -webkit-margin-before: 0.83em;
  -webkit-margin-after: 0.83em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
}
.how-it-works-wrapper {
  text-align: center;
}
p{
  color: #616161;
}

.how-it-works-box:hover {
  cursor: pointer;
  -webkit-box-shadow: 0 5px 25px 0 rgba(64,64,64,.3);
  -moz-box-shadow: 0 5px 25px 0 rgba(64,64,64,.3);
  box-shadow: 0 5px 25px 0 rgba(64,64,64,.3);
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}
.how-it-works-box {
  -webkit-transition: all .3s ease-out;
  -moz-transition: all .3s ease-out;
  -o-transition: all .3s ease-out;
  -ms-transition: all .3s ease-out;
  transition: all .3s ease-out;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.3);
  background: #fff;
  border-radius: 6px;
  padding: 30px 0px;
  margin-bottom: 20px;
}
