<section class="blox   full-container  what_class w-animate  w-start_animation" style=" padding-top:0px; padding-bottom:0px;  background: url('../../assets/images/brainwhat.jpg') no-repeat ; background-position: center center;background-size: cover; ">
  <div class="max-overlay"></div>
  <div class="wpb_row vc_row-fluid full-row">
    <div class="container">
      <div class="what wpb_column vc_column_container vc_col-sm-12">
        <div class="vc_column-inner ">
          <div class="wpb_wrapper">
            <div class="wpb_text_column wpb_content_element ">
              <div class="wpb_wrapper">
                <h3 style="text-align: center;"><b>How it Works</b></h3>
                <p style="text-align: center;">
                  SHOPnROAR is a next generation artificially intelligent comparative shopping engine where consumers can search for and compare millions of Products for the ultimate comparative shopping experience.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>




<div class="how-it-works-wrapper" >
  <div class="container">
    <div class="row">
      <h2>How SHOPnROAR Works</h2>
      <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="how-it-works-box">
          <img src="../../assets/images/Search.png">
          <h3>1. Find your product</h3>
          <p>Search or browse your desired product in SHOPnROAR</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="how-it-works-box">
          <img src="../../assets/images/Comparison.png">
          <h3>2. Compare it</h3>
          <p> Compare your products across all vendors.</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="how-it-works-box">
          <img src="../../assets/images/payment.png">
          <h3>3. Get best price</h3>
          <p> Find best minimum price for your desired product.</p>
        </div>
      </div>
      <div class="col-md-3 col-sm-3 col-xs-6">
        <div class="how-it-works-box">
          <img src="../../assets/images/review.png">
          <h3>4. Find Product rating</h3>
          <p>SHOPnROAR will provide you rating and score of your desired product.</p>
        </div>
      </div>
    </div>
    <app-partners></app-partners>


    <!--<div class="row">-->
      <!--<h2>How it Works For Seller</h2>-->
      <!--<div class="col-md-3 col-sm-3 col-xs-6">-->
        <!--<div class="how-it-works-box">-->
          <!--<img src="../../assets/icons/showcase.png">-->
          <!--<h3>1. Create Showcase</h3>-->
          <!--<p>Create free account, create your Showcase, and offer your work to buyer.</p>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-md-3 col-sm-3 col-xs-6">-->
        <!--<div class="how-it-works-box">-->
          <!--<img src="../../assets/icons/bid-icon.png">-->
          <!--<h3>2. Bid on Gigs</h3>-->
          <!--<p>Get notified when buyer post a gig and bid on gigs with GigsGenie.</p>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-md-3 col-sm-3 col-xs-6">-->
        <!--<div class="how-it-works-box">-->
          <!--<img src="../../assets/icons/deliver-great-work.png">-->
          <!--<h3>3. Deliver Great work</h3>-->
          <!--<p>Deliver your great work to buyer with GigsGenie and make your profile better.</p>-->
        <!--</div>-->
      <!--</div>-->
      <!--<div class="col-md-3 col-sm-3 col-xs-6">-->
        <!--<div class="how-it-works-box">-->
          <!--<img src="../../assets/icons/payment.png">-->
          <!--<h3>4. Get paid</h3>-->
          <!--<p>Get paid on time, Payment is transferred to you upon order completion.</p>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  </div>
</div>
