<br><br>



<preloader-full></preloader-full>

<div class="main">

  <div class="container">
    <div class="row">
      <div class="sidebar col-lg-3 col-md-3 col-sm-3 col-xs-12 clearfix">

      <h3 class="sidebar-title font-additional font-weight-bold text-uppercase customColor "
          >Profile</h3>

      <ul class="categories-tree " >

        <li>
          <a style="cursor: pointer;" [routerLink]="['/myshopnroar']"
             class="font-additional font-weight-normal hover-focus-color color-third text-uppercase">
            <i class="material-icons">favorite</i>

            <span  class="pull-left">My Wishlist</span>
          </a>
        </li>
        <li *ngIf="sgflag['flag']!=true">
        <a style="cursor: pointer;" [routerLink]="['/updatepassword']"
           class="font-additional font-weight-normal hover-focus-color color-third text-uppercase">
          <i class="material-icons">change_history</i>

          <span  class="pull-left">Update Password</span>
        </a>
      </li>         <li>
        <a style="cursor: pointer;" style="cursor: pointer;" (click)="logout()"
           class="font-additional font-weight-normal hover-focus-color color-third text-uppercase">
          <i class="material-icons">lock_outline</i>

          <span  class="pull-left">Logout</span>
        </a>
      </li>
      </ul>
      </div>
      <div class="col-md-9">
        <div class="row row-lg">


          <div class="col-sm-6">

            <div class="registered-customer-section">
              <form   name="form" (ngSubmit)="f.form.valid && updatePass()" #f="ngForm" novalidate>

                <h3 class="sidebar-title font-additional font-weight-bold text-uppercase customColor " >Current Password</h3>

                <div class="form-group label-overlay" [ngClass]="{ 'has-error': f.submitted && !currentpassword.valid }">
                  <input  class="form-control" name="currentpassword"  type="password"

                         [(ngModel)]="model.currentpassword" placeholder="Current Password" #currentpassword="ngModel" required>
                  <!--<label class="input-desc"><i class="icon input-icon input-email"></i>Enter your email <span class="input-required">*</span></label>-->
                  <div *ngIf="f.submitted && !currentpassword.valid" class="help-block">This filed is required</div>
                </div><!-- End .form-group -->
                <div *ngIf="currentpasswrong==false" class="help-block">Current password not matched
                </div>


                <h3 class="sidebar-title font-additional font-weight-bold text-uppercase customColor " >New Password</h3>

                <div class="form-group label-overlay" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                  <input type="email" class="form-control" name="password"  type="password"

                         [(ngModel)]="model.password" placeholder="New Password" #password="ngModel" required>
                  <!--<label class="input-desc"><i class="icon input-icon input-email"></i>Enter your email <span class="input-required">*</span></label>-->
                  <div *ngIf="f.submitted && !password.valid" class="help-block">This filed is required</div>
                </div><!-- End .form-group -->


                <div class="form-group label-overlay" [ngClass]="{ 'has-error': f.submitted && !repeatpassword.valid }">
                  <input class="form-control" name="repeatpassword"
                         type="password" (keyup)=check()
                         [(ngModel)]="model.repeatpassword" placeholder="Repeat New Password" #repeatpassword="ngModel" required>
                  <!--<label class="input-desc"><i class="icon input-icon input-email"></i>Enter your email <span class="input-required">*</span></label>-->
                  <div *ngIf="f.submitted && !repeatpassword.valid" class="help-block">This filed is required</div>
                </div><!-- End .form-group -->

                <div class="mb20"></div><!-- margin -->

                <div *ngIf="update==true" class="help-block">Password has been updated.
                </div>
                <div *ngIf="update==false" class="help-block">Password not updated. Please try again later.
                </div>
                <div *ngIf="match==false" class="help-block">Password does not match the confirm password
                </div>


                <br>
                <div class="form-action" >
                  <button type="submit" style="margin-left:1px; font-size: 20px;" class="btn button-additional font-additional font-weight-normal text-uppercase hvr-rectangle-out hover-focus-bg before-bg">Reset password</button>

                </div><!-- End .form-action -->
              </form>
            </div><!-- End .registered-customer-section -->


          </div><!-- End .col-sm-6 -->
        </div><!-- End .row -->
      </div><!-- End .col-md-9 -->


      <div class="mb100 visible-sm visible-xs"></div><!-- margin -->


    </div><!-- End .row -->
  </div><!-- End .container-fluid -->
  <div class="mb80 visible-md visible-lg"></div><!-- margin -->
</div><!-- End .main -->
