<br><br>



<preloader-full></preloader-full>

<div class="main">

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-9">
        <div class="row row-lg">

          <div class="mb60 visible-xs"></div><!-- margin -->

          <div class="col-sm-5">
          </div>
          <div class="col-sm-6">
            <h3 class="sidebar-title font-additional font-weight-bold text-uppercase customColor " >Update password</h3>

            <div class="registered-customer-section">
              <form   name="form" (ngSubmit)="f.form.valid && update()" #f="ngForm" novalidate>


                <div class="form-group label-overlay" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                  <input  class="form-control" name="password"  type="password"

                         [(ngModel)]="model.password" placeholder="New Password" #password="ngModel" required>
                  <!--<label class="input-desc"><i class="icon input-icon input-email"></i>Enter your email <span class="input-required">*</span></label>-->
                  <div *ngIf="f.submitted && !password.valid" class="help-block">This filed is required</div>
                </div><!-- End .form-group -->

                <div class="form-group label-overlay" [ngClass]="{ 'has-error': f.submitted && !repeatpassword.valid }">
                  <input  class="form-control" name="repeatpassword"
                         type="password" (keyup)=check()
                         [(ngModel)]="model.repeatpassword" placeholder="Repeat Password" #repeatpassword="ngModel" required>
                  <!--<label class="input-desc"><i class="icon input-icon input-email"></i>Enter your email <span class="input-required">*</span></label>-->
                  <div *ngIf="f.submitted && !repeatpassword.valid" class="help-block">This filed is required</div>
                </div><!-- End .form-group -->



                <div class="mb20"></div><!-- margin -->

                <div *ngIf="updated==true" class="help-block">Password has been updated
                </div>
                <div *ngIf="match==false" class="help-block">Passwords does not match
                </div>
                <div *ngIf="timepass==false" class="help-block">Sorry, Recovery link  has been expired. Please try with a new one.
                </div>


                <br>
                <div class="form-action" >
                  <button type="submit" style="margin-left:1px; font-size: 20px;" class="btn button-additional font-additional font-weight-normal text-uppercase hvr-rectangle-out hover-focus-bg before-bg">Reset password</button>

                </div><!-- End .form-action -->
              </form>
            </div><!-- End .registered-customer-section -->
          </div><!-- End .col-sm-6 -->
        </div><!-- End .row -->
      </div><!-- End .col-md-9 -->


      <div class="mb100 visible-sm visible-xs"></div><!-- margin -->


    </div><!-- End .row -->
  </div><!-- End .container-fluid -->
  <div class="mb80 visible-md visible-lg"></div><!-- margin -->
</div><!-- End .main -->
