<div id="carousel-example-generic" class="carousel slide inner" data-ride="carousel" data-interval="80000">
  <!-- Indicators -->
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img class="img-responsive" src="../../assets/img/Shopnroar-slider-1.jpg">

      <div class="carousel-top-text hidden-xs">
        <section class="wow fadeInLeft" data-wow-duration="1s">
          <span class="discount-info_shadow_txt">Download our next-generation app at</span>
        </section>

        <section class="wow fadeInLeft" data-wow-duration="2s">
          <span class="discount-info_shadow_txt"> Google Play Store and Apple App Store</span>
        </section>
        <section class="wow " data-wow-duration="3s">

          <a [routerLink]="['/view','laptops']" style="padding: 5px 13px; !important;" mat-raised-button
             class="btn button-additional font-additional font-weight-normal text-uppercase hvr-rectangle-out hover-focus-bg before-bg">Shop
            Now</a>
        </section>
      </div>

    </div>
    <div class="item">
      <img class="img-responsive" src="../../assets/img/ShopnRoar-web-slider2.jpg">
      <div class="carousel-top-text hidden-xs ">
        <section class="wow slideInLeft" data-wow-duration="2.5s">
          <span class="discount-info_shadow_txt">Millions of Products, Comparative Price, Prevalent Trends,</span>
        </section>
        <section class="wow slideInRight" data-wow-duration="3s">
          <span class="discount-info_shadow_txt">Aggregated Product Review Analysis </span>
        </section>
        <section class="wow " data-wow-duration="3.5s">

          <a [routerLink]="['/view','mobiles']" style="padding: 5px 13px; !important;" mat-raised-button
             class="btn button-additional font-additional font-weight-normal text-uppercase hvr-rectangle-out hover-focus-bg before-bg">Shop
            Now</a>
        </section>
      </div>
    </div>
    <div class="item">
      <img class="img-responsive" src="../../assets/img/ShopnRoar-web-slider3.jpg">
      <div class="carousel-top-text  hidden-xs ">
        <section class="wow rotateInDownLeft" data-wow-duration="1.25s">

          <span class="discount-info_shadow_txt"> SHOPnROAR:</span>
        </section>
        <section class="wow slideInRight" data-wow-duration="2.25s">
          <span class="discount-info_shadow_txt">The ultimate comparative shopping experience.</span>
        </section>
        <section class="wow fadeInLeft" data-wow-duration="4s">

          <a [routerLink]="['/view','audio']" style="padding: 5px 13px; !important;" mat-raised-button
             class="btn button-additional font-additional font-weight-normal text-uppercase hvr-rectangle-out hover-focus-bg before-bg">Shop
            Now</a>
        </section>
      </div>
    </div>
    <div class="item">
      <img class="img-responsive" src="../../assets/img/ShopnRoar-home-page-slider-3.jpg">
      <div class="carousel-top-text  hidden-xs ">
      </div>
    </div>
    <div class="item">
      <img class="img-responsive" src="../../assets/img/ShopnRoar-home-page-slider-4.jpg">
      <div class="carousel-top-text  hidden-xs ">

      </div>
    </div>
    <div class="item">
      <img class="img-responsive" src="../../assets/img/ShopnRoar-home-page-slider-5.jpg">
      <div class="carousel-top-text  hidden-xs ">



      </div>
    </div>
  </div>
  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>


<div class="container">
  <div class="row">
    <div>
      <div class="ribon02">SHOPnROAR Merchant Deals</div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <owl-carousel [options]="{ dots: true, autoplay:true, slideBy : 2 ,margin :14 ,responsive: {       '0': {  items: 1, margin: 5 },
                        '480': { items: 2,  margin: 5 },
			'640': { items: 3, margin: 5 },
			'940': { items: 4, margin: 5 }
                   }  }"
                    [items]="brands"
                    [carouselClasses]="['owl-theme', 'row', 'sliding']">
        <div class="item" *ngFor="let image of brands;let i = index">
          <mat-card style="min-height: 150px;margin: 10px;">
            <a *ngIf="image.name=='SHOPnROAR Hot Deals'" [routerLink]="['/hotdeals']">
              <div class="">
                <img [src]="image.image">
                <p class="pclass">{{image.name}}</p>
              </div>
            </a>
            <a *ngIf="image.name!='SHOPnROAR Hot Deals'" [routerLink]="['/deals',image.link]">
              <div class="">
                <img [src]="image.image"
                     *ngIf="image.link!='Groupon'&&image.link!='Walmart'&&image.link!='Amazon'&&image.link!='BuyDig'&&image.link!='BestBuy'&&image.link!='Ebay'&&image.link!='Kmart'&&image.link!='BHPHOTOVIDEO'&&image.link!='FRYS'">
              </div>
              <div class="">
                <img style="width:40%;" [src]="image.image" *ngIf="image.link=='BestBuy'">
                <p class="pclass">{{image.name}}</p>
              </div>
              <div class="">
                <img style="width:100%;" [src]="image.image" *ngIf="image.link=='Walmart' ||image.link=='BuyDig' || image.link=='Groupon'|| image.link=='Amazon'">
                <p class="pclass">{{image.name}}</p>
              </div>
              <div class="">
                <img style="width:75%;" [src]="image.image" *ngIf="image.link=='Ebay'">
                <p class="pclass">{{image.name}}</p>
              </div>
              <div class="">
                <img style="width:36%;" [src]="image.image" *ngIf="image.link=='Kmart'">
                <p class="pclass">{{image.name}}</p>
              </div>
              <div class="">
                <img style="width:50%;" [src]="image.image" *ngIf="image.link=='BHPHOTOVIDEO' || image.link=='FRYS'">
                <p class="pclass">{{image.name}}</p>
              </div>

            </a>
          </mat-card>
        </div>
      </owl-carousel>
    </div>
  </div>
</div>


<section>
  <div class="container" *ngIf="products.totalItems>0">
    <div class="row">
      <div>
        <div class="ribon02"
             style="background-image: linear-gradient(to left top, #22cd12, #a39800, #c25c00, #b02c41, #78255b);">
          SHOPnROAR Hot Deals
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">

        <owl-carousel  [options]="{nav: true, autoplay:true, slideBy : 2 ,margin :14 ,responsive: {       '0': {  items: 1, margin: 5 },
                        '480': { items: 2,  margin: 5 },
			'640': { items: 3, margin: 5 },
			'940': { items: 4, margin: 5 }
                   }  }"

                      [items]="products.results"
                      [carouselClasses]="['owl-theme', 'row', 'sliding']">

          <div class="item wow " *ngFor="let item of products.results; let i=index ">
            <mat-card>
              <div class="product-item hvr-underline-from-center">
                <div class="product-item_body">
                  <div class="text-center">
                    <a [routerLink]="['/hotdeals']">
                      <div class="slider-product-image-wrapper">
                        <img src={{item.SNR_ImageURL}} alt="Product Image">
                      </div>
                    </a>
                  </div>
                  <a class="product-item_link" [routerLink]="['/hotdeals']"
                  >
                    <!--<span class="product-item_sale color-main font-additional customBgColor circle">-15%</span>-->
                  </a>
                </div>
                <a [routerLink]="['/hotdeals']">
                  <br/><br/>
                  <div id="div2" class="product-item_title font-additional font-weight-bold text-center text-uppercase">
                    {{item.SNR_Title}}<br>
                  </div>
                  <div style="text-decoration: line-through; color: black !important;"
                       class="product-item_price font-additional font-weight-normal customColor">
                    ${{item.SNR_PriceBefore}}<br><br>
                  </div>
                  <div style="font-size: 30px; font-weight: 900"
                       class="product-item_price font-additional font-weight-normal customColor">
                    ${{item.SNR_PriceAfter}}<br><br>
                  </div>
                  <h4 style="color:black" class="text-center img-height">
                    <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='Best Buy'"
                                                          src="https://storage.shopnroar.com/bestbuy.png"
                                                          style="width:39%;"/></a>
                    <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='Walmart'"
                                                          src="https://storage.shopnroar.com/Walmart.png"
                                                          style="width:150px;height:40px"/></a>
                    <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='AT&T'"
                                                          src="https://storage.shopnroar.com/ATT.png"
                                                          style="width:125px;"/></a>
                    <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='Ebay'"
                                                          src="https://storage.shopnroar.com/EBay.png"
                                                          style="width:50%"/> </a>
                    <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='Groupon'"
                                                          src="https://storage.shopnroar.com/groupon.png"
                                                          style="width:80%"/> </a>
                    <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='Amazon'"
                                                          src="https://storage.shopnroar.com/amazon.png"
                                                          style="width:76%"/></a>
                    <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='NewEgg'"
                                                          src="https://storage.shopnroar.com/newegg.png"
                                                          style="width:40%"/></a>
                    <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='Frys'"
                                                          style="width:25%;"
                                                          src="https://storage.shopnroar.com/fry.png"
                    /></a>

                    <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='AppOutDoors'"
                                                          style="width:75%;"
                                                          src="https://storage.shopnroar.com/appoutdoors.png"
                    /></a>
                    <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='Verizon'"
                                                          style="width:50%;"
                                                          src="https://storage.shopnroar.com/verizon.png"
                    />
                    </a>
                    <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='JCPENNEY'"
                                                          src="https://storage.shopnroar.com/jcpenny.png"
                    /></a>
                    <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='BuyDig'"
                                                          src="https://storage.shopnroar.com/buydig.png"
                    /></a>
                    <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='MACYS'"
                                                          src="https://storage.shopnroar.com/macyslogo.png"
                    />
                    </a>
                    <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='BHPHOTOVIDEO'"
                                                          src="https://storage.shopnroar.com/bh.png"
                    /></a>

                    <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='ISnorkel'"
                                                          style="width:75%;"
                                                          src="https://storage.shopnroar.com/isnorkel.jpg"
                    /></a>
                    <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='OldNavy'"
                                                          style="width:50%;"
                                                          src="https://storage.shopnroar.com/oldnavy.png"
                    /></a>
                    <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='BJS'"
                                                          style="width:30%;"
                                                          src="https://storage.shopnroar.com/bjs.jpg"
                    /></a>
                    <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='Sprint'"
                                                          style="width:30%;"
                                                          src="https://storage.shopnroar.com/sprint.png"
                    /></a>

                    <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='Fanatics'"
                                                          style="width:50%;"
                                                          src="https://storage.shopnroar.com/fanaticslogo.png"
                    /></a>

                    <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='GAP'"
                                                          style="width:30%;"
                                                          src="https://storage.shopnroar.com/gap.png"
                    /></a>

                    <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='CostCo'"
                                                          style="width:30%;"
                                                          src="https://storage.shopnroar.com/costco.png"
                    /></a>

                    <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='EpicSports'"
                                                          style="width:30%;"
                                                          src="https://storage.shopnroar.com/epicsports.png"
                    /></a>

                    <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='Beallsflorida'"
                                                          style="width:50%;"
                                                          src="https://storage.shopnroar.com/beallsflorida.png"
                    /></a>
                    <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='T-Mobile'"
                                                          style="width:50%;"
                                                          src="https://storage.shopnroar.com/tmobile.png"
                    /></a>

                    <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='EpicSports'"
                                                          style="width:30%;"
                                                          src="https://storage.shopnroar.com/epicsports.png"
                    /></a>

                    <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='Beallsflorida'"
                                                          style="width:50%;"
                                                          src="https://storage.shopnroar.com/beallsflorida.png"
                    /></a>

                    <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='T-Mobile'"
                                                          style="width:50%;"
                                                          src="https://storage.shopnroar.com/tmobile.png"
                    /></a>

                    <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='Kmart'"
                                                          style="width:30%;"
                                                          src="https://storage.shopnroar.com/kmartlogo.png"
                    /></a>

                    <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='EpicSports'"
                                                          style="width:50%;"
                                                          src="https://storage.shopnroar.com/epicsports.png"
                    /></a>


                  </h4>
                </a>
                <div class=" product-item_footer" style="display: inline">
                  <a href={{item.SNR_ProductURL}} style=" width: 100%;"
                     target="_blank"
                     mat-raised-button
                     class="btn button-additional font-additional font-weight-normal text-uppercase hvr-rectangle-out hover-focus-bg before-bg">
                    Shop
                  </a>
                </div>
              </div>
            </mat-card>
          </div>
        </owl-carousel>
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container" *ngIf="recommendations.totalItems>0">
    <div class="row">
      <div>
        <div class="ribon02"
             style="background-image: linear-gradient(to left bottom, #272c34, #005e79, #009797, #00cd78, #aef809);">
          Recently Searched Items

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <owl-carousel [options]="{dots : true,autoplay:true,  slideBy : 2 ,margin :14 ,responsive: {       '0': {  items: 1, margin: 5 },
                        '480': { items: 2,  margin: 5 },
			'640': { items: 3, margin: 5 },
			'940': { items: 4, margin: 5 }
                   }  }"

                      [items]="recommendations.results"
                      [carouselClasses]="['owl-theme', 'row', 'sliding']">
          <div class="item wow " *ngFor="let item of recommendations.results; let i=index ">
            <mat-card>
              <div class="product-item hvr-underline-from-center">
                <div class="product-item_body">
                  <div class="text-center">
                    <a [routerLink]="['/hotdeals']">
                      <div class="slider-product-image-wrapper">
                        <img src={{item.SNR_ImageURL}} alt="Product Image">
                      </div>
                    </a>
                  </div>
                  <a class="product-item_link" target="_blank" href={{item.SNR_ProductURL}}
                  >
                    <!--<span class="product-item_sale color-main font-additional customBgColor circle">-15%</span>-->
                  </a>
                </div>
                <a target="_blank" href={{item.SNR_ProductURL}}>
                  <br/><br/>
                  <div id="div2"
                       class="product-item_title font-additional font-weight-bold text-center text-uppercase">
                    {{item.SNR_Title}}<br>
                  </div>
                  <div  style="font-size: 30px; font-weight: 900" *ngIf="item.SNR_Price!='visit site to see price'"
                       class="product-item_price font-additional font-weight-normal customColor">
                    ${{item.SNR_Price}}<br><br>
                  </div>
                  <h4 style="color:black" class="text-center ">
                    <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='Best Buy'"
                                                          src="https://storage.shopnroar.com/bestbuy.png"
                                                          style="width:39%;"/></a>
                    <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='Walmart'"
                                                          src="https://storage.shopnroar.com/Walmart.png"
                                                          style="width:150px;height:40px"/></a>
                    <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='AT&T'"
                                                          src="https://storage.shopnroar.com/ATT.png"
                                                          style="width:125px;"/></a>
                    <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='Ebay'"
                                                          src="https://storage.shopnroar.com/EBay.png"
                                                          style="width:50%"/> </a>
                    <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='GROUPON'"
                                                          src="https://storage.shopnroar.com/groupon.png"
                                                          style="width:80%"/> </a>
                    <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='Amazon'"
                                                          src="https://storage.shopnroar.com/amazon.png"
                                                          style="width:76%"/></a>
                    <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='NewEgg'"
                                                          src="https://storage.shopnroar.com/newegg.png"
                                                          style="width:40%"/></a>
                    <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='Frys'"
                                                          style="width:25%;"
                                                          src="https://storage.shopnroar.com/fry.png"
                    /></a>

                    <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='AppOutDoors'"
                                                          style="width:75%;"
                                                          src="https://storage.shopnroar.com/appoutdoors.png"
                    /></a>
                    <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='Verizon'"
                                                          style="width:50%;"
                                                          src="https://storage.shopnroar.com/verizon.png"
                    />
                    </a>
                    <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='JCPENNEY'"
                                                          src="https://storage.shopnroar.com/jcpenny.png"
                    /></a>
                    <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='BuyDig'"
                                                          src="https://storage.shopnroar.com/buydig.png"
                    /></a>
                    <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='MACYS'"
                                                          src="https://storage.shopnroar.com/macyslogo.png"
                    />
                    </a>
                    <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='BHPHOTOVIDEO'"
                                                          src="https://storage.shopnroar.com/bh.png"
                    /></a>

                    <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='ISnorkel'"
                                                          style="width:75%;"
                                                          src="https://storage.shopnroar.com/isnorkel.jpg"
                    /></a>
                    <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='OldNavy'"
                                                          style="width:50%;"
                                                          src="https://storage.shopnroar.com/oldnavy.png"
                    /></a>
                    <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='BJS'"
                                                          style="width:30%;"
                                                          src="https://storage.shopnroar.com/bjs.jpg"
                    /></a>
                    <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='Sprint'"
                                                          style="width:30%;"
                                                          src="https://storage.shopnroar.com/sprint.png"
                    /></a>

                    <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='Fanatics'"
                                                          style="width:50%;"
                                                          src="https://storage.shopnroar.com/fanaticslogo.png"
                    /></a>

                    <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='GAP'"
                                                          style="width:30%;"
                                                          src="https://storage.shopnroar.com/gap.png"
                    /></a>

                    <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='CostCo'"
                                                          style="width:30%;"
                                                          src="https://storage.shopnroar.com/costco.png"
                    /></a>

                    <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='EpicSports'"
                                                          style="width:30%;"
                                                          src="https://storage.shopnroar.com/epicsports.png"
                    /></a>

                    <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='Beallsflorida'"
                                                          style="width:50%;"
                                                          src="https://storage.shopnroar.com/beallsflorida.png"
                    /></a>
                    <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='T-Mobile'"
                                                          style="width:50%;"
                                                          src="https://storage.shopnroar.com/tmobile.png"
                    /></a>

                    <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='EpicSports'"
                                                          style="width:30%;"
                                                          src="https://storage.shopnroar.com/epicsports.png"
                    /></a>

                    <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='Beallsflorida'"
                                                          style="width:50%;"
                                                          src="https://storage.shopnroar.com/beallsflorida.png"
                    /></a>

                    <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='T-Mobile'"
                                                          style="width:50%;"
                                                          src="https://storage.shopnroar.com/tmobile.png"
                    /></a>

                    <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='Kmart'"
                                                          style="width:30%;"
                                                          src="https://storage.shopnroar.com/kmartlogo.png"
                    /></a>

                    <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='EpicSports'"
                                                          style="width:50%;"
                                                          src="https://storage.shopnroar.com/epicsports.png"
                    /></a>


                  </h4>
                </a>
                <div class=" product-item_footer" style="display: inline">
                  <a  style=" width: 100%;"
                      [routerLink]="['/details']"
                      [queryParams]="{ Model: item.SNR_SKU, Name:item.SNR_Title   }"
                      mat-raised-button
                      class="btn button-additional font-additional font-weight-normal text-uppercase hvr-rectangle-out hover-focus-bg before-bg">
                    Compare
                  </a>
                </div>
              </div>
            </mat-card>
          </div>
        </owl-carousel>
      </div>
    </div>
  </div>
</section>

<div class="container" *ngIf="searchflag==true">
  <div class="row">
    <div>
      <div class="ribon02"
           style="background-image: linear-gradient(to right top, #051937, #004d7a, #008793, #00bf72, #a8eb12);">
        SHOPnROAR Recommendations for You
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <owl-carousel [options]="{dots : true, autoplay:true, slideBy : 2 ,margin :14 ,responsive: {       '0': {  items: 1, margin: 5 },
                        '480': { items: 2,  margin: 5 },
			'640': { items: 3, margin: 5 },
			'940': { items: 4, margin: 5 }
                   }  }"

                    [items]="Allresults.results"
                    [carouselClasses]="['owl-theme', 'row', 'sliding']">
        <div class="item wow " *ngFor="let item of Allresults.results; let i=index ">
          <mat-card>
            <div class="product-item hvr-underline-from-center">
              <div class="product-item_body">
                <div class="text-center">
                  <a href={{item.SNR_ProductURL}}>
                    <div class="slider-product-image-wrapper">
                      <img src={{item.SNR_ImageURL}} alt="Product Image">
                    </div>
                  </a>
                </div>
                <a class="product-item_link"  target="_blank" href={{item.SNR_ProductURL}}
                >
                  <!--<span class="product-item_sale color-main font-additional customBgColor circle">-15%</span>-->
                </a>
              </div>
              <a target="_blank" href={{item.SNR_ProductURL}}>
                <br/><br/>
                <div id="div2"
                     class="product-item_title font-additional font-weight-bold text-center text-uppercase">
                  {{item.SNR_Title}}<br>
                </div>
                <!--<div style="font-size: 30px; font-weight: 900"-->
                <!--class="product-item_price font-additional font-weight-normal customColor">-->
                <!--${{item.SNR_Price}}<br><br>-->
                <!--</div>-->
                <div style="font-size: 30px; font-weight: 900" *ngIf="item.SNR_Price==0.000"
                     class="product-item_price font-additional font-weight-normal customColor">visit site to see
                  price<br><br></div>
                <div style="font-size: 30px; font-weight: 900" *ngIf="item.SNR_Price!=0.000 "
                     class="product-item_price font-additional font-weight-normal customColor">
                  ${{item.SNR_Price}}<br><br></div>
                <h4 style="color:black" class="text-center img-height">
                  <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='Best Buy'"
                                                        src="https://storage.shopnroar.com/bestbuy.png"
                                                        style="width:39%;"/></a>
                  <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='Walmart'"
                                                        src="https://storage.shopnroar.com/Walmart.png"
                                                        style="width:150px;height:40px"/></a>
                  <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='AT&T'"
                                                        src="https://storage.shopnroar.com/ATT.png"
                                                        style="width:125px;"/></a>
                  <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='Ebay'"
                                                        src="https://storage.shopnroar.com/EBay.png"
                                                        style="width:50%"/> </a>
                  <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='GROUPON'"
                                                        src="https://storage.shopnroar.com/groupon.png"
                                                        style="width:80%"/> </a>
                  <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='Amazon'"
                                                        src="https://storage.shopnroar.com/amazon.png"
                                                        style="width:76%"/></a>
                  <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='NewEgg'"
                                                        src="https://storage.shopnroar.com/newegg.png"
                                                        style="width:40%"/></a>
                  <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='Frys'"
                                                        style="width:25%;"
                                                        src="https://storage.shopnroar.com/fry.png"
                  /></a>

                  <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='AppOutDoors'"
                                                        style="width:75%;"
                                                        src="https://storage.shopnroar.com/appoutdoors.png"
                  /></a>
                  <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='Verizon'"
                                                        style="width:50%;"
                                                        src="https://storage.shopnroar.com/verizon.png"
                  />
                  </a>
                  <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='JCPENNEY'"
                                                        src="https://storage.shopnroar.com/jcpenny.png"
                  /></a>
                  <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='BuyDig'"
                                                        src="https://storage.shopnroar.com/buydig.png"
                  /></a>
                  <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='MACYS'"
                                                        src="https://storage.shopnroar.com/macyslogo.png"
                  />
                  </a>
                  <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='BHPHOTOVIDEO'"
                                                        src="https://storage.shopnroar.com/bh.png"
                  /></a>

                  <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='ISnorkel'"
                                                        style="width:75%;"
                                                        src="https://storage.shopnroar.com/isnorkel.jpg"
                  /></a>
                  <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='OldNavy'"
                                                        style="width:50%;"
                                                        src="https://storage.shopnroar.com/oldnavy.png"
                  /></a>
                  <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='BJS'"
                                                        style="width:30%;"
                                                        src="https://storage.shopnroar.com/bjs.jpg"
                  /></a>
                  <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='Sprint'"
                                                        style="width:30%;"
                                                        src="https://storage.shopnroar.com/sprint.png"
                  /></a>

                  <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='Fanatics'"
                                                        style="width:50%;"
                                                        src="https://storage.shopnroar.com/fanaticslogo.png"
                  /></a>

                  <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='GAP'"
                                                        style="width:30%;"
                                                        src="https://storage.shopnroar.com/gap.png"
                  /></a>

                  <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='CostCo'"
                                                        style="width:30%;"
                                                        src="https://storage.shopnroar.com/costco.png"
                  /></a>

                  <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='EpicSports'"
                                                        style="width:30%;"
                                                        src="https://storage.shopnroar.com/epicsports.png"
                  /></a>

                  <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='Beallsflorida'"
                                                        style="width:50%;"
                                                        src="https://storage.shopnroar.com/beallsflorida.png"
                  /></a>
                  <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='T-Mobile'"
                                                        style="width:50%;"
                                                        src="https://storage.shopnroar.com/tmobile.png"
                  /></a>

                  <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='EpicSports'"
                                                        style="width:30%;"
                                                        src="https://storage.shopnroar.com/epicsports.png"
                  /></a>

                  <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='Beallsflorida'"
                                                        style="width:50%;"
                                                        src="https://storage.shopnroar.com/beallsflorida.png"
                  /></a>

                  <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='T-Mobile'"
                                                        style="width:50%;"
                                                        src="https://storage.shopnroar.com/tmobile.png"
                  /></a>

                  <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='Kmart'"
                                                        style="width:30%;"
                                                        src="https://storage.shopnroar.com/kmartlogo.png"
                  /></a>

                  <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='EpicSports'"
                                                        style="width:50%;"
                                                        src="https://storage.shopnroar.com/epicsports.png"
                  /></a>


                </h4>

              </a>
              <div class=" product-item_footer" style="display: inline">
                <a href={{item.SNR_ProductURL}} style=" width: 100%;"
                   target="_blank"
                   mat-raised-button
                   class="btn button-additional font-additional font-weight-normal text-uppercase hvr-rectangle-out hover-focus-bg before-bg">
                  Shop
                </a>
              </div>
            </div>
          </mat-card>
        </div>
      </owl-carousel>
    </div>
  </div>
</div>

<section id="categories">
  <div class="container-fluid clearfix">
    <div>
      <ul class="category-images" style="padding-top: 0;">
        <li class="grid right-space two-width">
          <figure class="effect-bubba "  style="height: 320px; overflow: hidden">
            <img src="https://storage.shopnroar.com/banners/sliders_own/iphonex.jpg" style="height: auto" alt="Category">
            <figcaption>
              <div class="category-images_content">
                <h2 class="font-third font-weight-light text-uppercase color-main">Cell Phones & Mobiles</h2>
              </div>
              <a [routerLink]="['/result','Apple iPhone X by AT&T with 64GB','general']">View more</a>
            </figcaption>
          </figure>
        </li>
        <li class="grid">
          <figure class="effect-bubba"  style="height: 320px; overflow: hidden">
            <img src="https://storage.shopnroar.com/banners/sliders_own/iwatch.jpg" style="height: auto" alt="Category">
            <figcaption>
              <div class="category-images_content">
                <h2 class="font-third font-weight-light text-uppercase color-main">Wearables</h2>
              </div>
              <a [routerLink]="['/result','Wearables','general']">View more</a>
            </figcaption>
          </figure>
        </li>
        <li class="grid">
          <figure class="effect-bubba "  style="height: 320px; overflow: hidden">
            <img src="https://storage.shopnroar.com/banners/sliders_own/auio.jpg" style="height: auto" alt="Category">
            <figcaption>
              <div class="category-images_content">
                <h2 class="font-third font-weight-light text-uppercase color-main">Audio & Survilance</h2>
              </div>
              <a [routerLink]="['/result','beats','audio']">View more</a>
            </figcaption>
          </figure>
        </li>
        <li class="grid left-space two-width">
          <figure class="effect-bubba wow " style="height: 320px; overflow: hidden">
            <img src="https://storage.shopnroar.com/banners/sliders_own/laptop.jpg" style="height: auto" alt="Category">
            <figcaption>
              <div class="category-images_content">
                <h2 class="font-third font-weight-light text-uppercase color-main">Computers & Laptops</h2>
              </div>
              <a [routerLink]="['/result','macbook','laptop']">View more</a>
            </figcaption>
          </figure>
        </li>
      </ul>
    </div>
  </div>
  <div class="container-fluid clearfix">
    <div>
      <ul class="category-images" style="padding-top: 0;">
        <li class="grid right-space two-width">
          <figure class="effect-bubba "  style="height: 320px; overflow: hidden">
            <img src="https://storage.shopnroar.com/banners/sliders_own/books.jpg" style="height: auto" alt="Category">
            <figcaption>
              <div class="category-images_content">
                <h2 class="font-third font-weight-light text-uppercase color-main">Books</h2>
              </div>
              <a [routerLink]="['/result','quran','general']">View more</a>
            </figcaption>
          </figure>
        </li>
        <li class="grid">
          <figure class="effect-bubba wow "  style="height: 320px; overflow: hidden">
            <img src="https://storage.shopnroar.com/banners/sliders_own/videogames.png"  alt="Category">
            <figcaption>
              <div class="category-images_content">
                <h2 class="font-third font-weight-light text-uppercase color-main">Video Games</h2>
              </div>
              <a [routerLink]="['/result','video games','general']">View more</a>
            </figcaption>
          </figure>
        </li>
        <li class="grid">
          <figure class="effect-bubba "  style="height: 320px; overflow: hidden">
            <img src="https://storage.shopnroar.com/banners/sliders_own/arts.jpg" style="height: auto" alt="Category">
            <figcaption>
              <div class="category-images_content">
                <h2 class="font-third font-weight-light text-uppercase color-main">Arts</h2>
              </div>
              <a [routerLink]="['/result','arts','general']">View more</a>
            </figcaption>
          </figure>
        </li>
        <li class="grid left-space two-width">
          <figure class="effect-bubba wow " style="height: 320px; overflow: hidden">
            <img src="https://storage.shopnroar.com/banners/sliders_own/furniture.png" style="height: auto" alt="Category">
            <figcaption>
              <div class="category-images_content">
                <h2 class="font-third font-weight-light text-uppercase color-main">Furniture</h2>
              </div>
              <a [routerLink]="['/result','furniture','general']">View more</a>
            </figcaption>
          </figure>
        </li>
      </ul>
    </div>
  </div>
  <div class="container-fluid clearfix">
    <div>
      <ul class="category-images" style="padding-top: 0;">
        <li class="grid right-space two-width">
          <figure class="effect-bubba "  style="height: 320px; overflow: hidden">
            <img src="https://storage.shopnroar.com/banners/sliders_own/flowers.jpg" style="height: auto" alt="Category">
            <figcaption>
              <div class="category-images_content">
                <h2 class="font-third font-weight-light text-uppercase color-main">Plants & Flowers</h2>
              </div>
              <a [routerLink]="['/result','flower and plants','general']">View more</a>
            </figcaption>
          </figure>
        </li>
        <li class="grid">
          <figure class="effect-bubba wow "  style="height: 320px; overflow: hidden">
            <img src="https://storage.shopnroar.com/banners/sliders_own/appliances.jpg" style="height: auto" alt="Category">
            <figcaption>
              <div class="category-images_content">
                <h2 class="font-third font-weight-light text-uppercase color-main">Appliances</h2>
              </div>
              <a [routerLink]="['/result','appliances','general']">View more</a>
            </figcaption>
          </figure>
        </li>
        <li class="grid">
          <figure class="effect-bubba "  style="height: 320px; overflow: hidden">
            <img src="https://storage.shopnroar.com/banners/sliders_own/software.jpg" style="height: auto" alt="Category">
            <figcaption>
              <div class="category-images_content">
                <h2 class="font-third font-weight-light text-uppercase color-main">Computer Softwares</h2>
              </div>
              <a [routerLink]="['/result','computer software','general']">View more</a>
            </figcaption>
          </figure>
        </li>
        <li class="grid left-space two-width">
          <figure class="effect-bubba wow " style="height: 320px; overflow: hidden">
            <img src="https://storage.shopnroar.com/banners/sliders_own/fitness.jpeg" style="height: auto" alt="Category">
            <figcaption>
              <div class="category-images_content">
                <h2 class="font-third font-weight-light text-uppercase color-main">Health & Fitness </h2>
              </div>
              <a [routerLink]="['/result','fitness','general']">View more</a>
            </figcaption>
          </figure>
        </li>
      </ul>
    </div>
  </div>
</section>
<div class="container">
  <div id="owl-product-slide"
       class="enable-owl-carousel owl-product-slider owl-top-pagination owl-carousel owl-theme "
        data-navigation="true" data-pagination="false" data-single-item="false"
       data-auto-play="false" data-transition-style="false" data-main-text-animation="false" data-min600="2"
       data-min800="3" data-min1200="4">
    <div class="item">
      <div class="product-item hvr-underline-from-center">
        <div class="product-item_body product-border">
          <img alt="Product" src="https://storage.shopnroar.com/banners/sliders_own/arts.jpg" class="product-item_image new-arrivals">
          <a [routerLink]="['/view','arts']" class="product-item_link">
          </a>
          <ul class="product-item_info transition">
            <li>
              <a [routerLink]="['/view','arts']">
                <span aria-hidden="true" class="icon-eye"></span>
                <div
                  class="product-item_tip font-additional font-weight-normal text-uppercase customBgColor color-main transition">
                  Quick View
                </div>
              </a>
            </li>
          </ul>
        </div>
        <a class="product-item_footer" [routerLink]="['/view','arts']">
          <div class="product-item_title font-additional font-weight-bold text-center text-uppercase">ARTS</div>
        </a>
      </div>
    </div>
    <div class="item">
      <div class="product-item hvr-underline-from-center">
        <div class="product-item_body product-border">
          <img [routerLink]="['/view','flowers']" alt="Product" src="https://storage.shopnroar.com/banners/sliders_own/flowers.jpg"
               class="product-item_image new-arrivals">
          <ul class="product-item_info transition">
            <li>
              <a [routerLink]="['/view','flowers']">
                <span aria-hidden="true" class="icon-eye"></span>
                <div
                  class="product-item_tip font-additional font-weight-normal text-uppercase customBgColor color-main transition">
                  Quick View
                </div>
              </a>
            </li>
          </ul>
        </div>
        <a class="product-item_footer" [routerLink]="['/view','flowers']">
          <div class="product-item_title font-additional font-weight-bold text-center text-uppercase">FLOWERS</div>
        </a>
      </div>
    </div>
    <div class="item">
      <div class="product-item hvr-underline-from-center">
        <div class="product-item_body product-border">
          <img [routerLink]="['/view','office']" alt="Product" src="https://storage.shopnroar.com/banners/sliders_own/office-supply.jpg"
               class="product-item_image new-arrivals">
          <ul class="product-item_info transition">
            <li>
              <a [routerLink]="['/view','office']">
                <span aria-hidden="true" class="icon-eye"></span>
                <div
                  class="product-item_tip font-additional font-weight-normal text-uppercase customBgColor color-main transition">
                  Quick View
                </div>
              </a>
            </li>
          </ul>
        </div>
        <a class="product-item_footer" [routerLink]="['/view','office']">
          <div class="product-item_title font-additional font-weight-bold text-center text-uppercase">OFFICE SUPPLY
          </div>
        </a>
      </div>
    </div>
    <div class="item">
      <div class="product-item hvr-underline-from-center">
        <div class="product-item_body product-border">
          <img [routerLink]="['/view','smarthome']" alt="Product" src="https://storage.shopnroar.com/banners/sliders_own/smarthome.jpeg"
               class="product-item_image new-arrivals">
          <ul class="product-item_info transition">
            <li>
              <a [routerLink]="['/view','smarthome']">
                <span aria-hidden="true" class="icon-eye"></span>
                <div
                  class="product-item_tip font-additional font-weight-normal text-uppercase customBgColor color-main transition">
                  Quick View
                </div>
              </a>
            </li>
          </ul>
        </div>
        <a class="product-item_footer" [routerLink]="['/view','smarthome']">
          <div class="product-item_title font-additional font-weight-bold text-center text-uppercase">SMART HOME</div>
        </a>
      </div>
    </div>
  </div>
</div>
<!--<section id="discount" class="discount background-container">-->
<!--<div class="container">-->
<!--<div class="row">-->
<!--&lt;!&ndash;<div class="col-md-5 col-sm-12 col-xs-12">&ndash;&gt;-->
<!--&lt;!&ndash;<img class="discount-image "  src="../../assets/images/newsletter_banner.jpg" alt="Discounts" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">&ndash;&gt;-->
<!--&lt;!&ndash;</div>&ndash;&gt;-->
<!--<div class="col-md-7 col-sm-12 col-xs-12">-->
<!--<div class="discount-info">-->
<!--&lt;!&ndash;<span class="discount-info_small_txt font-third font-weight-bold text-uppercase wow "&ndash;&gt;-->
<!--&lt;!&ndash; style="visibility: visible; animation-delay: 0.3s; animation-name: ;">BIG DISCOUNTS ON ALL</span>&ndash;&gt;-->
<!--<span-->
<!--class="discount-info_shadow_txt"-->
<!-- style="visibility: visible; animation-delay: 0.3s; animation-name: ;">MEN ACCESSORIES</span>-->
<!--&lt;!&ndash;<span class="discount-info_right_txt text-right font-additional font-weight-bold text-uppercase "  style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;">&ndash;&gt;-->
<!--&lt;!&ndash;<span class="arrow_right" aria-hidden="true"></span>&ndash;&gt;-->
<!--&lt;!&ndash;UPTO 30%&ndash;&gt;-->
<!--&lt;!&ndash;</span>&ndash;&gt;-->
<!--<a [routerLink]="['/result','men','clothes']" class="btn button-additional font-additional font-weight-normal text-uppercase hvr-rectangle-out hover-focus-bg before-bg" -->
<!--style="visibility: visible; animation-delay: 0.3s; animation-name: ;color: #ffffff !important;">VIEW-->
<!--COLLECTION</a>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!--</section>-->
<!--<div class="container">-->
<!--<div class="row">-->
<!--<div class="col-md-12">-->
<!--<h2 class="title font-additional font-weight-bold text-uppercase wow zoomIn home-main-heading"-->
<!-->Recommended</h2>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<div class="container">
  <div id="owl-product-slider"
       class="enable-owl-carousel owl-product-slider owl-top-pagination owl-carousel owl-theme wow "
        data-navigation="true" data-pagination="false" data-single-item="false"
       data-auto-play="false" data-transition-style="false" data-main-text-animation="false" data-min600="2"
       data-min800="3" data-min1200="4">
    <div class="item">
      <div class="product-item hvr-underline-from-center">
        <div class="product-item_body product-border">
          <img alt="Product" src="https://storage.shopnroar.com/banners/sliders_own/arts.jpg" class="product-item_image new-arrivals">
          <a [routerLink]="['/view','arts']" class="product-item_link">
          </a>
          <ul class="product-item_info transition">
            <li>
              <a [routerLink]="['/view','arts']">
                <span aria-hidden="true" class="icon-eye"></span>
                <div
                  class="product-item_tip font-additional font-weight-normal text-uppercase customBgColor color-main transition">
                  Quick View
                </div>
              </a>
            </li>
          </ul>
        </div>
        <a class="product-item_footer" [routerLink]="['/view','arts']">
          <div class="product-item_title font-additional font-weight-bold text-center text-uppercase">ARTS</div>
        </a>
      </div>
    </div>
    <div class="item">
      <div class="product-item hvr-underline-from-center">
        <div class="product-item_body product-border">
          <img [routerLink]="['/view','flowers']" alt="Product" src="https://storage.shopnroar.com/banners/sliders_own/flowers.jpg"
               class="product-item_image new-arrivals">
          <ul class="product-item_info transition">
            <li>
              <a [routerLink]="['/view','flowers']">
                <span aria-hidden="true" class="icon-eye"></span>
                <div
                  class="product-item_tip font-additional font-weight-normal text-uppercase customBgColor color-main transition">
                  Quick View
                </div>
              </a>
            </li>
          </ul>
        </div>
        <a class="product-item_footer" [routerLink]="['/view','flowers']">
          <div class="product-item_title font-additional font-weight-bold text-center text-uppercase">FLOWERS</div>
        </a>
      </div>
    </div>
    <div class="item">
      <div class="product-item hvr-underline-from-center">
        <div class="product-item_body product-border">
          <img [routerLink]="['/view','office']" alt="Product" src="https://storage.shopnroar.com/banners/sliders_own/office-supply.jpg"
               class="product-item_image new-arrivals">
          <ul class="product-item_info transition">
            <li>
              <a [routerLink]="['/view','office']">
                <span aria-hidden="true" class="icon-eye"></span>
                <div
                  class="product-item_tip font-additional font-weight-normal text-uppercase customBgColor color-main transition">
                  Quick View
                </div>
              </a>
            </li>
          </ul>
        </div>
        <a class="product-item_footer" [routerLink]="['/view','office']">
          <div class="product-item_title font-additional font-weight-bold text-center text-uppercase">OFFICE SUPPLY
          </div>
        </a>
      </div>
    </div>
    <div class="item">
      <div class="product-item hvr-underline-from-center">
        <div class="product-item_body product-border">
          <img [routerLink]="['/view','smarthome']" alt="Product" src="https://storage.shopnroar.com/banners/sliders_own/smarthome.jpeg"
               class="product-item_image new-arrivals">
          <ul class="product-item_info transition">
            <li>
              <a [routerLink]="['/view','smarthome']">
                <span aria-hidden="true" class="icon-eye"></span>
                <div
                  class="product-item_tip font-additional font-weight-normal text-uppercase customBgColor color-main transition">
                  Quick View
                </div>
              </a>
            </li>
          </ul>
        </div>
        <a class="product-item_footer" [routerLink]="['/view','smarthome']">
          <div class="product-item_title font-additional font-weight-bold text-center text-uppercase">SMART HOME</div>
        </a>
      </div>
    </div>
  </div>
</div>
<!--<section id="banner" style="padding: 0 !important;">-->
<!--<div class="container banner-container wow ">-->
<!--<div class="banner-item grid">-->
<!--<figure class="effect-bubba">-->
<!--<img src="https://storage.shopnroar.com/banners/sliders_own/slid1.jpeg" alt="Banner">-->
<!--</figure>-->
<!--</div>-->
<!--</div>-->
<!--</section>-->





<div class="videoWrapper">
  <!-- Copy & Pasted from YouTube -->
  <iframe
    src="https://www.youtube.com/embed/w61PYh7b1Tk?vq=hd1040&autoplay=1&loop=1&mute=1&showinfo=0&controls=0&rel=0&showinfo=0&color=white&iv_load_policy=3&playlist=ADo9eUkSBxQ"
    allowfullscreen></iframe>
  <!--<iframe src="https://www.youtube.com/embed/w61PYh7b1Tk?&hd=1&vq=hd1040modestbranding=1&autoplay=1&loop=1&showinfo=0&controls=0&rel=0&showinfo=0&color=white&iv_load_policy=3&playlist=ADo9eUkSBxQ" frameborder="0" allowfullscreen></iframe>-->
</div>
