.owl-theme .owl-nav{
  background-color: #a71f1f !important;
}
.transbox {
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */
}

/*.transbox span {*/
  /*margin: 5%;*/
  /*font-weight: bold;*/
  /*color: #000000;*/
/*}*/

@media only screen and (max-width: 1000px) {
  .slider-product-image-wrapper img{
    /*height: 100px; *!*/
  width: 50% !important;
     float: left;
  }
}

@media only screen and (max-width: 1000px) {
  .discount-info_shadow_txt{
    font-size: 19px !important;
    line-height: 26px !important;
    width: 48% !important;
    font-weight: 600 !important;
  }
  .carousel-top-text a{
    margin:0;
  }
}

h2{
  font-family: Montserrat,sans-serif;
  font-weight: 900 !important;
}
p{
  font-family: Montserrat,sans-serif;
  font-weight: 600 !important;

}
.gallery-title
{
  font-size: 36px;
  color: #42B32F;
  text-align: center;
  font-weight: 500;
  margin-bottom: 70px;
}
.gallery-title:after {
  content: "";
  position: absolute;
  width: 7.5%;
  left: 46.5%;
  height: 45px;
  border-bottom: 1px solid #5e5e5e;
}
.filter-button
{
  font-size: 18px;
  border: 1px solid #42B32F;
  border-radius: 5px;
  text-align: center;
  color: #42B32F;
  margin-bottom: 30px;

}
.filter-button:hover
{
  font-size: 18px;
  border: 1px solid #42B32F;
  border-radius: 5px;
  text-align: center;
  color: #ffffff;
  background-color: #42B32F;

}
.btn-default:active .filter-button:active
{
  background-color: #42B32F;
  color: white;
}

.port-image
{
  width: 100%;
}

.gallery_product
{
  margin-bottom: 30px;
}
.new-arrivals{
  width: 270px;
  height:250px;
}
#discount {
  overflow: hidden;
  padding: 42px 0;
  background-image: url('../../assets/media/banner.jpg');
  background-attachment: fixed !important;
  background-position: 50% 100% !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  /*margin-top: 60px;*/
}

#promo-banner {
  overflow: hidden;
  padding: 42px 0;
  background-image: url('../../assets/media/banner1.jpg');
  background-attachment: fixed !important;
  background-position: 50% 100% !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  /*margin-top: 60px;*/
}
.trs_bg {
  -webkit-transition: background 0.6s ease;
  -moz-transition: background 0.6s ease;
  -ms-transition: background 0.6s ease;
  -o-transition: background 0.6s ease;
  transition: background 0.6s ease;
}
.discount-info {
  float: left;
  padding: 49px 100px 0 0;
  width: 100%;
}
.discount-info_small_txt {
  color: #e92b22;
}
.discount-info_small_txt {
  float: left;
  font-size: 17px;
  line-height: 100%;
  padding-bottom: 13px;
  width: 100%;
  font-family: 'Helvetica';
  text-transform: uppercase;
  font-weight: 700;
}
.discount-info_shadow_txt {
  color: #ffffff;
}
.discount-info_shadow_txt {
  padding:0% 5%;
  font-size: 38px;
  color: #18104c;
  line-height: 45px;
  /*width: 52%;*/
  font-weight: 600;
  text-shadow: none !important;
  font-family: 'Helvetica';
  text-transform: none;
  float: right;
}
.discount-info_shadow_txt a{
  float: right;
  /* padding-top: 5%; */
  margin-top: 10%;
  /* position: relative; */
  margin-right: -44%
}
.discount-info_shadow_txt {
  color: #fff;
  font-size: 65px;
  line-height: 55px;
}
.discount-info_right_txt {
  color: #ffffff;
}
.discount-info_right_txt {
  float: left;
  font-size: 47px;
  line-height: 100%;
  padding: 5px 0 29px;
  width: 100%;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-align: right;
}
.button-collection {
  color: #ffffff;
  border-color: #e92b22;
}
.owl-product-slider{
 padding: 0;
}
.home-main-heading{
  font-family: Helvetica;
  color: #616161;
  text-align: left;
  font-size: 30px;
  padding: 40px 0px;
}
.carousel-top-text{
  position: absolute;
  top: 100px;
  right: 80px;
  left: 80px;
}
.mat-button-wrapper{
  float: none !important;
}

.button-additional span {
  float: none !important;
}

.button-additional{
  float: left;
  font-size: 25px !important;
  margin: 0 10px 0 0;
  padding: 5px 13px;
  font-weight: bold;
}
.carousel-top-text a{
  position: absolute;
  top: 175px;
  right: 100px;
}
.button-collection {
  border-style: solid;
  border-width: 2px;
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  line-height: 100%;
  margin: 100px 0px 0px 5px;
  overflow: hidden;
  padding: 12px 21px 11px;
  position: relative;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  background: brown !important;
  color: white;
  border-color: brown;
}
a.button-collection:hover {
  text-decoration: none;
}
.slider-product-image-wrapper{
  height: 200px;
  width: 200px;
  margin:0 auto;
}
.slider-product-image-wrapper img{
  max-height: 200px;
  max-width: 100%;
  margin:0 auto;

}
mat-card.mat-card {
  min-height: 480px;
  border: solid 1px #cec8c8;
  padding: 15px;
}
.mat-card:hover{
  -webkit-box-shadow: 0 5px 25px 0 rgba(64,64,64,.3);
  -moz-box-shadow: 0 5px 25px 0 rgba(64,64,64,.3);
  box-shadow: 0 5px 25px 0 rgba(64,64,64,.3);
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}
#div2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.video-wrapper {position: relative; padding-bottom: 22.25%; /* 16:9 */  padding-top: 25px;}
.video-wrapper iframe {position: absolute; top: 0; left: 0; width: 100%; height: 100%;}

.theater {
  -webkit-transform: scale(1.5,1.5);
  position: fixed;
  left: 400px;
  top: 100px;
  border-right: 100% solid black;
  border-left: 100% solid black;
  margin: auto;
}
.pclass{
  color: #616161;
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 20px;
  left:0;
}
.owl-carousel .owl-item img{
  width: 40px !important;
}
img{
  display: block;
  margin: 0 auto;
}
a:hover{
  text-decoration: none;
}
p{
  text-align: center;
}
#email-modal {
  display: none;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1041;
}
#email-modal .modal-overlay {
  background: rgba(45,45,50,0.8);
  height: 100%;
  position: absolute;
  width: 100%;
}
#email-modal .modal-window {
  display: none;
  min-height: 320px;
  margin: 0 auto;
  position: relative;
  top: 25%;
  width: 680px;
}
#email-modal .window-window {
  position: relative;
}
#email-modal .window-window .window-content {
  position: relative;
  background: #fff;
  float: left;
}
#email-modal .window-window .window-content .btn.close, .close-window, .close-modal {
  padding: 0;
  height: 40px;
  width: 40px;
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 9;
  text-indent: -999em;
  border: 0;
  background: url('../../assets/images/close_button.svg') top left;
  cursor: pointer;
  filter: alpha(opacity=100);
  opacity: 1;
  filter: alpha(opacity=100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}
#email-modal .window-window .window-content .left {
  width: 680px;
  float: none;
  padding: 50px 50px 30px 280px;
  background: url('../../assets/images/newsletter_banner.jpg')no-repeat top left #fff;
}
#email-modal .window-window .window-content .title {
  font-size: 36px;
  position: relative;
  letter-spacing: 1px;
  margin-bottom: 8px;
  font-family: "Montserrat",sans-serif;
  text-align: left;
  font-weight: 700;
  text-transform: uppercase;
}
iframe{
  width: 100vw;
  height: calc(84vw/1.5);
}
.product-item_title{
color: #616161 !important;
}
.carousel-caption {
  font-size: 50px !important;
  text-align: right !important;
  width: 75% !important;
  padding-bottom: 15% !important;
}


.ribon02 {
  position: relative;
  text-align: center;
  line-height: 15px;
  color: #FFF;
  font-weight: 900;
  background: #FB6669;
  font-family: 'Helvetica';
  background-image: linear-gradient(to left top, #e92346, #c0005a, #8d0062, #540c5e, #18104c);
  margin: 10px 0px;
  font-size: 30px;
  padding: 20px 0px;
}
.ribon02::before,
.ribon02::after {
  content: "";
  position: absolute;
  bottom: -6px;
  z-index: -9999;
  width: 30px;
  height: 20px;
  background: #0d6669;
}
.ribon02::before {
  left: 5px;
  -webkit-transform: rotate(20deg);
  transform: rotate(20deg);
}
.ribon02::after {
  right: 5px;
  -webkit-transform: rotate(-20deg);
  transform: rotate(-20deg);
}
.paper {
  margin: -35px auto 0;
  border: solid 1px #dedede;
}
