#ppBody
{
  font-size:11pt;
  width:100%;
  margin:0 auto;
  text-align:justify;

}

#ppHeader
{
  font-size:21pt;
  width:100%;
  margin:0 auto;
}

.ppConsistencies
{
  display:none;
}
.innerText{
  color: #000;
}
strong {
  font-weight: 700;
  color:#ed2424;
}
.font-body{
  font-family:"Helvetica" !important;
}
