<br><br>



<preloader-full></preloader-full>

<div class="main">

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-9">
        <div class="row row-lg">

          <div class="mb60 visible-xs"></div><!-- margin -->

          <div class="col-sm-5">
          </div>
          <div class="col-sm-6">
            <h3 class="sidebar-title font-additional font-weight-bold text-uppercase customColor ">Recover password</h3>

            <div class="registered-customer-section">
              <form   name="form" (ngSubmit)="f.form.valid && Recover()" #f="ngForm" novalidate>


                <div class="form-group label-overlay" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                  <input type="email" class="form-control" name="username"
                         pattern="^(^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$)"
                         [(ngModel)]="model.username" placeholder="Enter you registered email" #username="ngModel" required>
                  <!--<label class="input-desc"><i class="icon input-icon input-email"></i>Enter your email <span class="input-required">*</span></label>-->
                  <div *ngIf="f.submitted && !username.valid" class="help-block">Email is required</div>
                </div><!-- End .form-group -->


                <div>
                  <re-captcha (resolved)="resolved($event)" siteKey="6LcBQS4UAAAAALBYJyKch0nkU91RKn2AU8nFcoHC" required=""></re-captcha>
                </div>

                <div class="mb20"></div><!-- margin -->

                <div *ngIf="recaptcha==false" class="help-block">Please authenticate with reCaptcha
                </div>
                <div *ngIf="status==false" class="help-block">Sorry! This Email does not exists
                </div>
                <div *ngIf="mailSend==true" class="help-block">Recovery link has been sent to your registered email
                </div>
                <div *ngIf="mailSend==false" class="help-block">Something went wrong while sending email
              </div>

                <br>
                <div class="form-action" >
                  <button type="submit" style="margin-left:1px; font-size: 20px;" class="btn button-additional font-additional font-weight-normal text-uppercase hvr-rectangle-out hover-focus-bg before-bg">Reset password</button>

                </div><!-- End .form-action -->
              </form>
            </div><!-- End .registered-customer-section -->
          </div><!-- End .col-sm-6 -->
        </div><!-- End .row -->
      </div><!-- End .col-md-9 -->


      <div class="mb100 visible-sm visible-xs"></div><!-- margin -->


    </div><!-- End .row -->
  </div><!-- End .container-fluid -->
  <div class="mb80 visible-md visible-lg"></div><!-- margin -->
</div><!-- End .main -->
