<div class="Text" style="padding: 50px;" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
  <div style="  font-weight: bolder;" id='ppHeader'>Terms Of Services-SHOPnROAR</div>
  <div class='innerText' style="color: black">Please read these Terms of Use (the "Agreement") carefully. This Agreement governs your use of websites owned or operated by BrainPlow Inc. (“Shopnroar”) or permutations of those sites, including certain co-branded versions of those sites with third parties that refer to these Terms of Use by a direct hyperlink (collectively, the "Websites") and the services provided by Shopnroar through or in connection with the Websites (collectively, the "Service"). Each time you use the Service, you acknowledge that you have read and agree to be bound by the Agreement. If you do not agree to be bound by the Agreement, you may not use the Service.<br></div>
  <span id='infoCo'></span><br>

  <div class='innerText' style="color: black">
      <span style="color: #ed2424; font-size: 18px;font-weight: 600;">1. SHOPNROAR IS ONLY A VENUE. </span>The Websites act as online marketplaces for You to find and transact with registered members of the Websites ("Members"), other non-registered users and buyers or sellers (collectively the "Users") showing products or services on the Service or otherwise associated with the Service. Shopnroar does not sell any products or provide any services (except the Service) and is not a party to any transaction You may make with any seller. Shopnroar does not sell or license any of the products or services listed on the Websites and Shopnroar is not acting as an agent of sale or an agent of any merchant or provider of products or services. No endorsement of any third party products or services is expressed or implied by any information, material or content referred to or included on the Websites. Shopnroar does not have any responsibility for, or liability related to, any products and services listed on the Websites. You should direct any questions, complaints or claims related to any product or service to the appropriate seller or provider.
    Shopnroar has no control over and does not warrant in any way that prices, shipping costs, taxes, products or descriptions provided by sellers or other third parties, or any other content of the Websites is accurate, complete, reliable, current or error-free. Site content is provided for informational purposes only and Shopnroar shall have no liability for inaccuracy or incompleteness in product or service content, user ratings or commentary, or other content on the Websites. Shopnroar is not liable for any delays, inaccuracies, fraud, errors or omissions with respect to the information or the transmission or delivery of all or any part thereof, for any damage arising therefrom or occasioned thereby, or for the results obtained from the use of the information. Shopnroar is not liable for any negligence, acts or omission of acts of any seller on the Websites. You assume the entire risk as to the accuracy, adequacy, completeness, currency, validity and quality of any information relating to the Services. Any information on the Websites can change without notice.
  </div>
    <span id='infoCo'></span><br>

    <div class='innerText' style="color: black">

      <span style="color: #ed2424; font-size: 18px;font-weight: 600;">2. TRANSACTIONS. </span>You may post content or view content posted by Users on the Service. Shopnroar does not undertake any obligation to monitor, nor assumes any responsibility, and shall not be responsible for, any such content. You may act as seller or buyer and correspond with, participate in promotions by, and conduct transactions with other Users. Shopnroar is not a party to any transactions between You and the Users of the Websites.
    You may complete transactions as follows:
    A. Transaction Processing by the Seller. For certain transactions: (i) sellers direct buyers to the seller's website for transaction processing, or (ii) sellers provide buyers with sellers' contact information to complete a transaction. Shopnroar never collects credit card information from buyers for transactions conducted through these methods.
    B. Third Party Transaction Processing. In other cases, sellers may refer buyers to third parties, such as an escrow service, for transaction processing. The third parties establish the terms of service for any such transactions. Shopnroar does not undertake any obligation or liability in respect of such third party transaction processing.
    The Agreement and any terms of service established by third parties govern all transactions through the Service. By participating in such a third party transaction through the Service, You agree and accept the Agreement and any additional terms of service imposed by third parties. Shopnroar and Shopnroar Partners assume no liability, obligation or responsibility in connection with any transactions between You and the Users of the Websites.
    In so far as permitted by law, if You have a dispute with any User or any third party, including any sellers of products, You release Shopnroar (and its subsidiaries, affiliates, and each of their respective directors, officers, agents and employees) from claims, demands and damages (actual and consequential) of every kind and nature, known and unknown, suspected and unsuspected, disclosed and undisclosed, arising out of or in any way connected with such dispute.
    </div>
  <span id='infoCo'></span><br>

  <div class='innerText' style="color: black">

    <span style="color: #ed2424; font-size: 18px;font-weight: 600;">  3. LINKS. </span>Shopnroar and Shopnroar Partners may provide links to external websites or resources which are not the Websites for your convenience and reference only. Shopnroar and Shopnroar Partners have no obligation to review any sites linked to the Websites, do not control or endorse, and are not responsible for the availability of, these external websites or resources or for any content, advertising, products, or other materials on or available from such external websites or resources. Your use of and dealings with the owners or operators of these external websites or resources are at your own risk.
  </div>
  <span id='infoCo'></span><br>

  <div class='innerText' style="color: black">
<span style="color: #ed2424; font-size: 18px;font-weight: 600;">
    4. MEMBER REGISTRATION. </span>You must register as a Member with Shopnroar to access certain functions of the Websites. You must provide certain current, complete, and accurate information about yourself (the "Registration Data") when registering as a Member or updating your Registration Data. You agree not to misrepresent your identity. The Registration Data will be collected, used and disclosed in accordance with Shopnroar's Privacy Policy. You may not use the Websites and Service if your Shopnroar account has been suspended. You agree to maintain and keep your Registration Data current and to update the Registration Data as soon as it changes. You are responsible for maintaining the security of your password. Shopnroar and its service providers are not liable for any loss that You may suffer through the use of your password by others. You agree to notify Shopnroar immediately of any unauthorized use of your account (and to take such reasonable steps that are necessary to prevent any reoccurrence of such event) or of any other breach of security known to You with respect to the Service. You agree to report any violations of this Agreement by others to Shopnroar.com.
  </div>
  <span id='infoCo'></span><br>

  <div class='innerText' style="color: black">
<span style="color: #ed2424; font-size: 18px;font-weight: 600;">
  5. OWNERSHIP.</span> All of the material included on the Websites or provided in the Service, including but not limited to trademarks, text, graphics, logos, service marks, trade dress and copyrights (collectively, the "Content"), is the property of Shopnroar and other parties. U.S., Canadian and international copyright laws protects all Content available on the Websites. The overall design and layout of the Websites constitutes the exclusive trade dress of Shopnroar, and is protected pursuant to trademark laws. Your use of the Service and the Content does not transfer to You any ownership or other rights in the Service or the Content. You may download Content displayed on the Websites for your personal, non-commercial use only, provided You also retain all copyright and other proprietary notices contained on the Content. You may not modify, copy, distribute,transmit, display, publish, sell, license, or create derivative works using any of the Content for commercial or public purposes.
  </div>
  <span id='infoCo'></span><br>

  <div class='innerText' style="color: black">
<span style="color: #ed2424; font-size: 18px;font-weight: 600;">
  6. LICENSE.</span>

    A. Grant of License. You hereby grant to Shopnroar, on all media, whether now known or hereinafter devised, a non-exclusive, irrevocable, worldwide, perpetual, sublicensable, assignable, royalty-free license to: display, publish, use, translate, create derivative works from, reproduce, reformat, compile, archive, distribute, and transmit all materials provided by You to Shopnroar ("Member Content") including seller and product reviews (as described below) and display your name or User name, trademarks and service marks (as used in connection with Member Content) and exercise copyright and other intellectual property rights You have in the Member Content, in any past, current or future media. You also waive all moral rights You have in the Member Content to the fullest extent permitted by law. You may submit Member Content only in accordance with Shopnroar's current content submission guidelines. Shopnroar shall have no obligation to post Member Content, may remove Member Content, or may change or discontinue the Websites at any time in its sole discretion. Shopnroar has no obligation to monitor Member Content submitted by You or others in connection with the Websites. Unless or until Shopnroar specifies another form of delivery of Member Content or another URL address, You may submit Member Content to Shopnroar at asyncs http://www.shopnroar.com. As the sole consideration for the license and rights granted to Shopnroar under the Agreement, Shopnroar will consider posting Member Content on the Websites.
    B. Ownership, Copyright and Trademarks. You retain all right, title and interest (subject to the license granted herein) in and to Member Content You submit to Shopnroar, and represent and warrant that such Member Content and the license granted herein (i) is factually accurate; (ii) does not violate any intellectual property rights; (iii) does not contain information which is obscene or defames, libels or otherwise injures or interferes with the privacy of others; and (iv) does not require the payment of any kind by Shopnroar to others.
  </div>
  <span id='infoCo'></span><br>

  <div class='innerText' style="color: black">

    <span style="color: #ed2424; font-size: 18px;font-weight: 600;"> 7. ACCEPTABLE USE OF THE WEBSITES.</span> Your use of the Service must be lawful and consistent with the security and reliability of the Service and the World Wide Web.
    In addition, the following rules apply to your use of the Service:
    A. You certify to Shopnroar that You are of the age of majority within your province of residence and that You are able to form legally binding contracts.
    B. You assume full responsibility for the use of the Service by any dependent minors.
    C. Your use of the Service is subject to all applicable local, provincial, federal and international laws and regulations. Your conduct is subject to Internet regulations, policies and procedures.
    D. You are solely responsible for the content of your transmissions. You acknowledge and agree that Shopnroar does not endorse the actions, the contents of communications, or the products of Users.
    E. You must obtain and maintain any equipment or ancillary services needed to connect to, access or otherwise use the Service, including, without limitation, modems, hardware, software, and long distance and local telephone service. You are responsible for ensuring that such equipment and ancillary services are compatible with the Service.
    F. You must complete all transactions You agree to complete in connection with the Service.
    G. You must abide by all of the then-current terms of Shopnroar's Privacy Policy as set forth on the Websites and as updated from time to time by Shopnroar in its sole discretion.
  </div>
  <span id='infoCo'></span><br>

  <div class='innerText' style="color: black">

    <span style="color: #ed2424; font-size: 18px;font-weight: 600;">  8. PROHIBITED CONDUCT.</span> You must not: (i) use the Service for any illegal purpose or for the transmission of any material that is unlawful, harassing, libelous, invasive of another's privacy, abusive, threatening, harmful, vulgar, obscene, tortious, or otherwise objectionable, or that infringes or may infringe the intellectual property or other rights of another, including the sale of pornography, firearms and ammunition, living creatures and parts of endangered species, stocks and other securities, drugs and drug paraphernalia, human body parts and remains; (ii) directly or indirectly interfere or attempt to interfere with the proper working of the Websites, any account, or any communication or transaction being conducted on our Websites; (iii) use any robot, spider, scraper other automatic device, or manual process to monitor or copy our web pages or the Content for any purpose without our prior expressed written permission; (iv) take any action which imposes an unreasonable or disproportionately large load on our infrastructure, (v) use or disclose (to anyone except Shopnroar where legally permitted) any information You obtain about or from other Users of the Service, or which You obtain from Shopnroar, for any improper purpose,(vi) conduct fraud, hide or attempt to hide your identity, represent yourself as someone else, or manipulate or attempt to manipulate prices, compromise or attempt to compromise the security of any account, interfere or attempt to interfere with the proper working of the Service, (vii) send any unsolicited e-mail or advertising to any known User or (viii) use the Service for any use other than personal, non-commercial purposes unless specifically approved in writing by Shopnroar, in its sole discretion.
  </div>
  <span id='infoCo'></span><br>

  <div class='innerText' style="color: black">

    <span style="color: #ed2424; font-size: 18px;font-weight: 600;"> 9. REVIEWS.</span> You may submit reviews to describe your shopping experiences with sellers and service providers. In submitting reviews:
    A. You agree only to submit a review in good faith about a seller from whom You have actually purchased or attempted to purchase products or services. Your review must be an accurate description of your experience with the seller.
    B. Any review that You submit is subject to the terms, conditions and restrictions described elsewhere in this Agreement.
    Shopnroar may impose reasonable restrictions on reviews, and establish rules to help ensure that reviews are legitimate and appropriate. Shopnroar may, in its sole discretion, omit or remove any seller review that it determines violates any requirements in this Agreement or any other agreement. Sellers may dispute the validity of a review, and Shopnroar may, in its sole discretion, remove the review or take other actions that it believes are appropriate.
    You understand that merchant/provider reviews are submitted by other Users. Shopnroar has no responsibility for the content or accuracy of any reviews.
  </div>
  <span id='infoCo'></span><br>

  <div class='innerText' style="color: black">
<span style="color: #ed2424; font-size: 18px;font-weight: 600;">
  10. PRIVACY POLICY.</span> Please see Shopnroar's Privacy Policy. By accepting the Agreement, and each time You use the Service, You consent to Shopnroar's collection, use and disclosure of your information or Registration Data in accordance with the Privacy Policy without any further notice.
  </div>
  <span id='infoCo'></span><br>

  <div class='innerText' style="color: black">
<span style="color: #ed2424; font-size: 18px;font-weight: 600;">
  11. DISCLAIMER OF WARRANTIES.</span>
    A. NOTHING IN THESE TERMS OF SERVICE SHALL AFFECT THE STATUTORY RIGHTS YOU ARE ENTITLED TO AS A CONSUMER TO THE EXTENT THAT SUCH RIGHTS CANNOT BE WAIVED OR ALTERED BY YOUR CONTRACTUAL AGREEMENT.
    B. YOU EXPRESSLY AGREE THAT USE OF THE SERVICE IS AT YOUR OWN RISK.
    C. SHOPNROAR PROVIDES THE SERVICE ON AN "AS IS" BASIS.
    D. TO THE FULLEST EXTENT PERMITTED BY LAW, SHOPNROAR AND ITS SERVICE PROVIDERS EXPRESSLY DISCLAIM ALL REPRESENTATIONS AND WARRANTIES, TERMS AND CONDITIONS OF ANY KIND, WHETHER EXPRESS OR IMPLIED (WHETHER BY STATUTE OR OTHERWISE), INCLUDING, BUT NOT LIMITED TO THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, AND NON-INFRINGEMENT.
    E. SHOPNROAR AND ITS SERVICE PROVIDERS MAKE NO WARRANTY, REPRESENTATION, TERM OR OTHER CONDITION:
    i. THAT THE SERVICE WILL MEET YOUR REQUIREMENTS, OR THAT THE SERVICE WILL BE UNINTERRUPTED, TIMELY, SECURE, OR ERROR FREE; OR
    ii. AS TO (a) THE RESULTS THAT MAY BE OBTAINED FROM THE USE OF THE SERVICE, (b) CONFIDENTIALITY OR PRIVACY OF ANY OF USER'S INFORMATION REGISTRATION DATA; OR (iii) THE ACCURACY OR RELIABILITY OF ANY INFORMATION OBTAINED THROUGH THE SERVICE.
    F. ANY MATERIAL OR DATA DOWNLOADED OR OTHERWISE OBTAINED THROUGH THE USE OF THE SERVICE IS DONE AT YOUR OWN DISCRETION AND RISK AND YOU ARE SOLELY RESPONSIBLE FOR ANY DAMAGE TO YOUR COMPUTER SYSTEM OR LOSS OF DATA THAT RESULTS DIRECTLY OR INDIRECTLY FROM THE DOWNLOAD OF SUCH MATERIAL OR DATA.
    G. SHOPNROAR AND ITS SERVICE PROVIDERS MAKE NO WARRANTY, REPRESENTATION, TERM OR CONDITION REGARDING ANY GOODS OR SERVICES PURCHASED OR OBTAINED THROUGH THE SERVICE OR ANY TRANSACTIONS ENTERED INTO THROUGH THE SERVICE AND ARE NOT RESPONSIBLE FOR ANY USE OF CONFIDENTIAL OR PRIVATE INFORMATION BY SELLERS OR OTHER USERS.
    H. NO ADVICE OR INFORMATION, WHETHER ORAL OR WRITTEN, OBTAINED BY YOU FROM SHOPNROAR OR THROUGH THE SERVICE, SHALL CREATE ANY REPRESENTATION, TERM, CONDITIONS OR WARRANTY NOT EXPRESSLY MADE HEREIN.
    I. SOME JURISDICTIONS DO NOT ALLOW THE EXCLUSION OF CERTAIN WARRANTIES, SO SOME OF THE ABOVE EXCLUSIONS MAY NOT APPLY TO YOU.
    While Shopnroar takes reasonable steps to safeguard and to prevent unauthorized access to your information and Registration Data, we cannot be responsible for the acts of those who gain unauthorized access, and we make no warranty, term, condition or representation, express, implied, or otherwise, that we will prevent unauthorized access to your private information. TO THE FULLEST EXTENT PERMITTED BY LAW, IN NO EVENT SHALL SHOPNROAR BE LIABLE FOR ANY DAMAGES (WHETHER CONSEQUENTIAL, DIRECT, INCIDENTAL, INDIRECT, PUNITIVE, SPECIAL OR OTHERWISE) ARISING OUT OF, OR IN ANY WAY CONNECTED WITH, A THIRD PARTY'S UNAUTHORIZED ACCESS TO YOUR INFORMATION OR REGISTRATION DATA, REGARDLESS OF WHETHER SUCH DAMAGES ARE BASED ON CONTRACT, STRICT LIABILITY, TORT OR OTHER THEORIES OF LIABILITY, AND ALSO REGARDLESS OF WHETHER SHOPNROAR WAS GIVEN ACTUAL OR CONSTRUCTIVE NOTICE THAT DAMAGES WERE POSSIBLE.
  </div>
  <span id='infoCo'></span><br>

  <div class='innerText' style="color: black">
<span style="color: #ed2424; font-size: 18px;font-weight: 600;">
  12. LIMITATION OF LIABILITY.</span>
    A. NOTHING IN THIS AGREEMENT SHALL EXCLUDE OUR LIABILITY FOR:
    i. DEATH OR PERSONAL INJURY CAUSED BY OUR NEGLIGENCE;
    ii. FRAUD OR FRAUDULENT MISREPRESENTATION; OR
    iii. AVAILABILITY TO THE EXTENT THE SAME MAY NOT BE EXCLUDED OR LIMITED AS A MATTER OF LAW.
    B. TO THE FULLEST EXTENT PERMITTED BY LAW SHOPNROAR AND ITS SERVICE PROVIDERS SHALL NOT BE LIABLE FOR ANY INDIRECT, INCIDENTAL, SPECIAL OR CONSEQUENTIAL DAMAGES OR FOR COST OF PROCUREMENT OF SUBSTITUTE GOODS AND SERVICES RESULTING FROM:
    i. THE USE OR THE INABILITY TO USE THE SERVICE
    ii. ANY GOODS OR SERVICES PURCHASED OR OBTAINED OR MESSAGES RECEIVED OR TRANSACTIONS ENTERED INTO THROUGH THE SERVICE; OR
    iii. UNAUTHORIZED ACCESS TO OR ALTERATION OF YOUR TRANSMISSIONS OR DATA
    INCLUDING BUT NOT LIMITED TO, DAMAGES FOR (i) LOSS OF PROFITS (WHETHER DIRECT OR INDIRECT); AND (ii) LOSS OF USE, DATA OR OTHER INTANGIBLE, EVEN IF SHOPNROAR OR ITS SERVICE PROVIDERS HAVE BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. SOME JURISDICTIONS DO NOT ALLOW THE LIMITATION OR EXCLUSION OF LIABILITY FOR INCIDENTAL OR CONSEQUENTIAL DAMAGES SO SOME OF THE ABOVE LIMITATIONS MAY NOT APPLY TO YOU.
    C. TO THE FULLEST EXTENT PERMITTED BY LAW IN NO EVENT WILL SHOPNROAR AND ITS SERVICE PROVIDERS EVER BE LIABLE TO YOU OR ANY OTHER PERSON FOR ANY CLAIMS, PROCEEDINGS, LIABILITIES, OBLIGATIONS, DAMAGES, LOSSES, AND COSTS, WHETHER IN CONTRACT, TORT OR UNDER OTHER FAULT OR WRONGDOING BY SHOPNROAR OR ITS SERVICE PROVIDERS OR ANY PERSON FOR WHOM EITHER SHOPNROAR OR ITS SERVICE PROVIDERS ARE RESPONSIBLE, IN AN AMOUNT EXCEEDING THE AMOUNT YOU PAID TO SHOPNROAR FOR THE USE OF THE SERVICE WHICH IS THE SUBJECT OF THE CLAIM.
  </div>
  <span id='infoCo'></span><br>

  <div class='innerText' style="color: black">
<span style="color: #ed2424; font-size: 18px;font-weight: 600;">
    13. INDEMNIFICATION. </span>You agree to indemnify and hold Shopnroar, its subsidiaries, affiliates and their respective directors, officers, agents and employees and service providers harmless from any claim or demand, including reasonable professional legal advisers' fees, made by any third party due to or arising out of your use of the Service, the violation of this Agreement by You, or the infringement by You, or other user of the Service using your computer, of any intellectual property or other right of any person or entity. Even though prohibited, people may provide information that is offensive, false, harmful, or deceptive. Shopnroar and its service providers assume no responsibility whatsoever for such content or actions.
  </div>
  <span id='infoCo'></span><br>

  <div class='innerText' style="color: black">
<span style="color: #ed2424; font-size: 18px;font-weight: 600;">
  14. TERMINATION.</span> If You breach any provision of this Agreement, You may no longer use the Service. Shopnroar may, in its sole discretion, change, suspend, or terminate, temporarily or permanently, the Service or any part of it at any time, for any reason, without notice to You and without liability to You or any other person. If Shopnroar terminates this Agreement for any reason, it continues to apply and bind You with respect of your prior use of the Service, including payment of any charges accrued in connection with use of the Service. Upon termination, Shopnroar may remove from the Websites and permanently delete and destroy any Member Content that You or others may have posted or submitted without any prior notice or liability to You or any other person.
  </div>
  <span id='infoCo'></span><br>

  <div class='innerText' style="color: black">
<span style="color: #ed2424; font-size: 18px;font-weight: 600;">
  15. TRADEMARK AND COPYRIGHT NOTICES.</span> The Websites are venues that, among other things, allow sellers to post product and service information for review by interested consumers and allows consumers to provide information and feedback on sellers, products and services. If You believe that a merchant or other User has acted in connection with the Websites in a way that infringes your trademark or copyright, Shopnroar encourages You to resolve your dispute directly with the merchant or User. Sellers or Users may have placed the same or similar information or content on other websites or media, and working directly with the Merchant or User will often be the most effective way to resolve your dispute. Shopnroar does not control and has no responsibility for content that appears on, or products or services sold or offered on or through, third party websites that may be accessed through the Websites, and You should contact third-party sites directly to resolve any disputes that You may have with them.
    To provide a notice of copyright or trademark infringement relating to the Websites, please provide the following information to Shopnroar's Copyright Agent:
    A. an electronic or physical signature of the person authorized to act on behalf of the owner of the copyright, trademark or other intellectual property;
    B. a description of the copyrighted work, trademark or other intellectual property that You claim has been infringed;
    C. the location on the Websites of the material that You claim is infringing, with enough detail to allow us to locate it;
    D. your address, telephone number, and email address;
    E. a statement by You that You have a good faith belief that the disputed use is not authorized by the copyright or intellectual property owner, its agent, or the law; and
    F. a statement by You that the above information in your Notice is accurate and that You are the copyright or intellectual property owner or authorized to act on the copyright or intellectual property owner's behalf.
    All correspondence regarding intellectual property matters should be sent to Shopnroar's Copyright Agent at:

    By mail
    Copyright Agent
    BrainPlow Inc.
    5050 Quorum Drive
    Suite 700
    Dallas TX 75254
    By fax
    +1 (469) 250-6600

    By Voice
    +1 (888) 764-0100
  </div>
  <span id='infoCo'></span><br>

  <div class='innerText' style="color: black">
<span style="color: #ed2424; font-size: 18px;font-weight: 600;">
  16. DISPUTE RESOLUTION (The "Arbitration Clause"). </span>In the event of a dispute, you and Shopnroar agree to submit to binding arbitration, except that if you have violated or threatened to violate Shopnroar's or any Shopnroar Partner or User's intellectual property rights, Shopnroar or the Shopnroar Partner or User may seek injunctive or other appropriate relief in the state or federal courts in the state of California, and you consent to exclusive jurisdiction and venue in such courts. The arbitration will be held before one arbitrator on an individual basis. To the fullest extent permitted by law, you waive any right you may have to arbitrate a Dispute as a class action.
  </div>
  <span id='infoCo'></span><br>

  <div class='innerText' style="color: black">

    <span style="color: #ed2424; font-size: 18px;font-weight: 600;">    17. You and Shopnroar shall agree on one arbitrator to conduct the arbitration.</span> The arbitrator shall apply governing substantive law in making an award. In any arbitration, Shopnroar will pay the filing, administration, service or case management fee, plus the costs associated with the first day of arbitration, with the remaining costs to be paid by the non-prevailing party. Shopnroar will pay additional arbitration expenses to the extent that the arbitrator determines that Shopnroar must in order to ensure the enforceability of this arbitration clause. Each party shall be responsible for its own attorney, expert and other fees, unless awarded by the arbitrator under applicable law.
    The arbitrator's award is final and binding on all parties. The United States Federal Arbitration Act, and not any state arbitration law, governs all arbitration under this Arbitration Clause. Any court having jurisdiction may enter judgment on the arbitrator's award. If any part of this Arbitration Clause, other than waivers of class action rights, is deemed or found to be unenforceable for any reason, the remainder remains enforceable.
    TO THE FULLEST EXTENT PERMITTED BY LAW, THIS AGREEMENT PROVIDES THAT ALL DISPUTES BETWEEN YOU AND SHOPNROAR WILL BE RESOLVED BY BINDING ARBITRATION AND NOT IN COURT OR BY JURY TRIAL. IF A DISPUTE IS ARBITRATED, TO THE FULLEST EXTENT PERMITTED BY LAW, YOU GIVE UP YOUR RIGHT TO PARTICIPATE AS A CLASS REPRESENTATIVE OR CLASS MEMBER ON ANY CLASS CLAIM YOU MAY HAVE AGAINST SHOPNROAR INCLUDING ANY RIGHT TO CLASS ARBITRATION OR ANY CONSOLIDATION OF INDIVIDUAL ARBITRATIONS.
  </div>
  <span id='infoCo'></span><br>

  <div class='innerText' style="color: black">
<span style="color: #ed2424; font-size: 18px;font-weight: 600;">
  18. NOTICES.</span> Except as stated otherwise, any notices shall be given in writing by postal mail to BrainPlow, Inc.
  </div>
  <span id='infoCo'></span><br>

  <div class='innerText' style="color: black">
<span style="color: #ed2424; font-size: 18px;font-weight: 600;">
  19. GENERAL.</span>
    A. The Agreement comprises the entire agreement between You and BrainPlow, Inc a corporation registered in the State of Dallas, USA having its place of 5050 Quorum Drive
    Suite 700
    Dallas TX 75254
    and supersedes all prior agreements regarding the subject matter contained herein.
    B. This Agreement shall be governed by and construed in accordance with the laws of the state of California and shall be governed by the non-exclusive jurisdiction of the courts located in California, and you consent to jurisdiction and venue in such courts.
    C. If any provision(s) of the Agreement is held contrary to law, then such provision(s) shall be construed, as nearly as possible, to reflect the intentions of the parties with the other provisions remaining in full force and effect.
    D. Shopnroar's failure to exercise or enforce any right or provision of the Agreement shall not constitute a waiver of such right or provision unless acknowledged and agreed to by Shopnroar in writing.
    E. The section titles in the Agreement are used solely for the convenience of the parties and have no legal or contractual significance.
    F. A printed version of this Agreement and of any notice given in electronic form shall be admissible in judicial or administrative proceedings based upon or relating to this Agreement to the same extent and subject to the same conditions as other business documents and records originally generated and maintained in printed form.
    PLEASE PRINT AND RETAIN A COPY OF THIS AGREEMENT FOR YOUR RECORDS.
    © 2018 BrainPlow, Inc.
  </div>
</div>
