#ppBody
{
  font-size:11pt;
  width:100%;
  margin:0 auto;
  text-align:justify;
}

#ppHeader
{
  font-family:Helvetica;
  font-size:21pt;
  width:100%;
  margin:0 auto;
}

.ppConsistencies
{
  display:none;
}
.innerText{
  color: #000;
  font-family:Helvetica;

}
strong {
  font-weight: 700;
  color:#ed2424;
}
.grayText{
  font-weight: bolder;
}
.Text{
  font-family:Helvetica;

}
