.pagination {
  font-size: 20px !important;
  font-family: Helvetica;
  cursor: pointer;

}
#promo-banner {
  overflow: hidden;
  padding: 42px 0;
  background-image: url('../../assets/media/4.png');
  background-attachment: fixed !important;
  background-position: 50% 100% !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  min-height: 360px;
  max-height: 360px;
  /*margin-top: 60px;*/
}
.discount-info {
  float: left;
  padding: 49px 100px 0 0;
  width: 100%;
}
.discount-info_small_txt {
  color: #e92b22;
}
.discount-info_small_txt {
  float: left;
  font-size: 17px;
  line-height: 100%;
  padding-bottom: 13px;
  width: 100%;
  font-family: Helvetica;
  text-transform: uppercase;
  font-weight: 700;
}
.discount-info_shadow_txt {
  color: #ffffff;
}
.discount-info_shadow_txt {
  float: left;
  font-size: 46px;
  line-height: 100%;
  width: 100%;
  text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
  -moz-text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
  -webkit-text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}
.discount-info_right_txt {
  color: #ffffff;
}
.discount-info_right_txt {
  float: left;
  font-size: 47px;
  line-height: 100%;
  padding: 5px 0 29px;
  width: 100%;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-align: right;
}
.button-collection {
  color: #ffffff;
  border-color: #e92b22;
}
.button-collection {
  border-style: solid;
  border-width: 2px;
  border-width: 2px;
  color: #333;
  display: inline-block;
  font-size: 20px;
  font-weight: 700;
  line-height: 100%;
  margin: 100px 0px 0px 5px;
  overflow: hidden;
  padding: 12px 21px 11px;
  position: relative;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
  background: brown !important;
  color: white;
  border-color: brown;
}
a.button-collection:hover {
  text-decoration: none;
}
#div2 {
    white-space: nowrap;
    width: 13em;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 4%;
  margin-left:1%;

}

.footer-newsletter{
    background-color: white;

}
.form-control{
border: 1px;
     border-style: solid;

}
.product-item_price{
  font-size: 30px;
  font-weight: 900;
}


a{
    font-size: larger;
}
span{
   /*padding-right: 2%;*/
  margin-top: 2px;
}
.progress-holder {
  width: 60px;
  height: 60px;
  overflow: hidden;
}
.progress-holder round-progress {
  width: 100% !important;
  height: 100% !important;
}
.example-margin{
  color: green;
  stroke: green;
}
.mat-progress-spinner circle, .mat-spinner circle {
  stroke: #ef0202 !important;
}