

<div class="sp-body"  *ngIf="errorflag!=true">


<div id="promo-banner">
  <div class="container">
    <div class="col-md-8 col-sm-8 col-xs-12">
      <div class="discount-info">
        <!--<span class="discount-info_small_txt">BIG DISCOUNTS ON ALL</span>-->
        <span class="discount-info_shadow_txt"><span
          style="color: #ed2424;">SHOPnROAR</span> DEALS ACROSS ALL VENDORS</span>
        <!--<span class="discount-info_right_txt">-->
        <!--<span class="arrow_right"></span>-->
        <!--UPTO 30%-->
        <!--</span>-->
        <a [routerLink]="['/hotdeals']"
           mat-raised-button style="top: 40px; float: right"
           class="btn button-additional font-additional font-weight-normal text-uppercase hvr-rectangle-out hover-focus-bg before-bg">HOT
          DEALS</a>
      </div>
      <!--<div class="discount-image"><a class="trs_bg" href="/collections/all">-->
      <!--<img src="../../assets/media/banner-left.png" alt="">-->
      <!--</a>-->
    </div>
  </div>
  <div class=" col-md-7 col-sm-7 col-xs-12">


  </div>

</div>
<section id="pageContent" class="page-content" style="margin-top: 2%;">

  <div class="container">

    <div class="row">
      <div class="sidebar col-lg-3 col-md-3 col-sm-3 col-xs-12 clearfix">

        <h3 class="sidebar-title font-additional font-weight-bold text-uppercase customColor "
            >Categories</h3>

        <ul class="categories-tree " >
          <li *ngFor="let item of sgflag.Category" style="display: inline-flex;color: #616161;">
            <a [routerLink]="['/view',item]"
               class="font-additional font-weight-normal hover-focus-color color-third text-uppercase">

              <i class="material-icons">filter</i>

              <span *ngIf="item=='Uncategorized'" class="pull-left">Others</span>
              <span *ngIf="item!='Uncategorized'" class="pull-left">{{item}}</span>

            </a>
          </li>

        </ul>
        <h3 style="margin-top: 30%;"
            class="sidebar-title font-additional font-weight-bold text-uppercase customColor "
            >Featured products</h3>
        <ul class="sidebar-popular-product " >
          <li *ngFor="let item of Popular.results">
            <a class="popular-product-item" href={{item.SNR_ProductURL}}>
              <img src={{item.SNR_ImageURL}} style=" max-width:85px; max-height:80px;" alt="Product">
              <span class="popular-product-item_title font-additional font-weight-bold text-uppercase">{{item.SNR_Title}}</span>
              <span class="popular-product-item_price font-additional color-third" style="color:red">
                  <div
                    class="product-item_price font-additional font-weight-normal customColor">${{item.SNR_Price}}<br><br>
                  </div>
              </span>
            </a>
          </li>

        </ul>

      </div>
      <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 clearfix">
        <div class="content-box">
          <div class="category-filter clearfix " >
            <div class="select pull-left" style="width: 200px;">
              <!--<select class="select-field font-main color-third" name="sort" [(ngModel)]="selectedOption" id="sort"-->
              <!--(ngModelChange)="onChangeOption($event)">-->
              <!--<option *ngFor="let c of options" [ngValue]="c">{{c.name}}</option>-->
              <!--</select>-->

              <mat-select placeholder="Filters" [(ngModel)]="selectedOption">
                <mat-option *ngFor="let c of options" [value]="c" (click)="onChangeOption(c)">{{c.name}}</mat-option>
              </mat-select>
              <!--<i class="fa fa-angle-down customColor"></i>-->
            </div>
            <a *ngIf="gridview==true && listview==false" (click)="listviewfun()" style="cursor: pointer !important;"
               class="pull-right grid-type hover-focus-border">
              <i class="material-icons" style="    vertical-align: middle;">list</i>
            </a>

            <a *ngIf="gridview==false && listview==true" (click)="listviewfun()" style="cursor: pointer !important;"
               class="pull-right grid-type active customBgColor color-main">
              <i class="material-icons" style="    vertical-align: middle;">list</i>
            </a>
            <a *ngIf="gridview==true && listview==false" (click)="gridviewfun()" style="cursor: pointer !important;"
               class="pull-right grid-type active customBgColor color-main">
              <i class="material-icons" style="    vertical-align: middle;">grid_on</i>
            </a>
            <a *ngIf="gridview==false && listview==true" (click)="gridviewfun()" style="cursor: pointer !important;"
               class="pull-right grid-type hover-focus-border">
              <i class="material-icons" style="    vertical-align: middle;">grid_on</i>
            </a>
          </div>
          <div class="products-cat clearfix">
            <div class="text-center">
              <pagination-controls (pageChange)="pageChanged($event)" id="search" directionLinks="true" autoHide="true"
                                   previousLabel="Previous"
                                   nextLabel="Next" screenReaderPaginationLabel="Pagination"
                                   class="pagination"></pagination-controls>
            </div>
            <preloader-full></preloader-full>
            <div class="text-center">
              <img *ngIf="apiflag==true" src="../../assets/images/no-record-found.gif" alt="No Record">

              <div style="margin-top: 5%;margin-right: 150px;" >
                <h4   *ngIf="apiflag==true"
                      class="sidebar-title font-additional font-weight-bold text-uppercase customColor "
                >Ooooops: Something went wrong.</h4>
                <p  *ngIf="apiflag==true"  style="line-height: 20px;">  Please provide
                  <a
                    [routerLink]="['/contact']">feedback</a></p>
              </div>
            </div>

            <ul *ngIf="gridview==true && listview==false" class="products-grid">
              <li style="padding-left: 2%;" class="wow "
                  *ngFor="let item of Getspecs.results | paginate: { itemsPerPage: 36, currentPage:p,totalItems:Getspecs.totalItems,id:'search' }">
                <div class="product-item hvr-underline-from-center">
                  <div class="product-item_body">
                    <div class="progress-holder" *ngIf="item.SNR_CustomerReviews>=2.5">
                        <round-progress
                        [current]="item.SNR_CustomerReviews"
                        [max]="max"
                        [color]="'#53c722'"
                        [background]="'#eaeaea'"
                        [radius]="100"
                        [stroke]="20"
                        [semicircle]="false"
                        [rounded]="true"
                        [clockwise]="true"
                        [responsive]="false"
                        [duration]="800"
                        [animation]="'easeInOutQuart'"
                        [animationDelay]="5"
                        (onRender)="doSomethingWithCurrentValue($event)"
                        style="margin: auto">
        
                      </round-progress>
                    </div>


                    <div class="progress-holder" *ngIf="item.SNR_CustomerReviews<2.5 && item.SNR_CustomerReviews>=1  ">
                      <round-progress
                      [current]="item.SNR_CustomerReviews"
                      [max]="max"
                      [color]="'#ca260f'"
                      [background]="'#eaeaea'"
                      [radius]="100"
                      [stroke]="20"
                      [semicircle]="false"
                      [rounded]="true"
                      [clockwise]="true"
                      [responsive]="false"
                      [duration]="800"
                      [animation]="'easeInOutQuart'"
                      [animationDelay]="5"
                      (onRender)="doSomethingWithCurrentValue($event)"
                      style="margin: auto">
      
                    </round-progress>
                  </div>

                  <div class="progress-holder" *ngIf="item.SNR_CustomerReviews<1">
                    <round-progress
                    [current]=2.4
                    [max]="max"
                    [color]="'#ca260f'"
                    [background]="'#eaeaea'"
                    [radius]="100"
                    [stroke]="20"
                    [semicircle]="false"
                    [rounded]="true"
                    [clockwise]="true"
                    [responsive]="false"
                    [duration]="800"
                    [animation]="'easeInOutQuart'"
                    [animationDelay]="5"
                    (onRender)="doSomethingWithCurrentValue($event)"
                    style="margin: auto">
    
                  </round-progress>
                </div>
                    <div class="text-center">
                      <a [routerLink]="['/details']" [queryParams]="{ Model: item.SNR_SKU, Name:item.SNR_Title  }">
                        <img *ngIf="item.SNR_ImageURL==null || item.SNR_ImageURL=='Not Available'"
                             src="https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg"
                             style="max-width:90px;max-height:135px; width:auto;height:auto;" alt="Product Image">
                        <!--<img *ngIf="" src="https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg" style="max-width:100px;max-height:150px; width:auto;height:auto;" alt="Product Image">-->


                        <img
                          *ngIf="item.SNR_ImageURL!=null && item.SNR_ImageURL!='Not Available' && item.SNR_Available=='Groupon' "
                          src={{item.SNR_ImageURL}} style="max-width:300px;max-height:3300px; width:auto;height:auto;"
                          alt="Product Image">
                        <img
                          *ngIf="item.SNR_ImageURL!=null && item.SNR_ImageURL!='Not Available' && item.SNR_Available!='Groupon'"
                          src={{item.SNR_ImageURL}} style="max-width:150px;max-height:230px; width:auto;height:auto;"
                          alt="Product Image">

                      </a>
                    </div>
                    <ul class="product-item_info transition">
                      <!--<li>-->
                      <!--<a href="#" >-->
                      <!--<span aria-hidden="true" class="icon-eye"></span>-->
                      <!--<div class="product-item_tip font-additional font-weight-normal text-uppercase customBgColor color-main transition">QUICK VIEW</div>-->
                      <!--</a>-->
                      <!--</li>-->
                      <li>
                        <a style="cursor: pointer" (click)="addInwishlist(item)">
                          <i class="material-icons">favorite_border</i>
                          <div
                            class="product-item_tip font-additional font-weight-normal text-uppercase customBgColor color-main transition">
                            Add to Favorites
                          </div>
                        </a>
                      </li>
                    </ul>
                    <a class="product-item_link" [routerLink]="['/details']"
                       [queryParams]="{ Model: item.SNR_SKU, Name:item.SNR_Title  }">
                      <!--<span class="product-item_sale color-main font-additional customBgColor circle">-15%</span>-->
                    </a>

                  </div>
                  <a [routerLink]="['/details']" [queryParams]="{ Model: item.SNR_SKU, Name:item.SNR_Title  }">
                    <br/><br/>

                    <div id="div2"
                         class="product-item_title font-additional font-weight-bold text-center text-uppercase">
                      {{item.SNR_Title}}<br></div>
                    <div *ngIf="item.SNR_Price==0.000"
                         style="font-size: 18px"
                         class="product-item_price font-additional font-weight-normal customColor">Check Price<br><br>
                    </div>
                    <div *ngIf="item.SNR_Price!=0.000"
                         class="product-item_price font-additional font-weight-normal customColor">
                      ${{item.SNR_Price}}<br><br></div>

                    <h4 style="color:black" class="text-center">
                      <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='Best Buy'"
                                                            src="https://ns3101486.ip-54-36-177.eu/shopnroarshop/bestbuy.png"
                                                            style="width:39%;"/></a>
                      <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='Walmart'"
                                                            src="https://ns3101486.ip-54-36-177.eu/shopnroarshop/Walmart.png"
                                                            style="width:150px;height:40px"/></a>
                      <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='AT&T'"
                                                            src="https://ns3101486.ip-54-36-177.eu/shopnroarshop/ATT.png"
                                                            style="width:125px;"/></a>
                      <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='Ebay'"
                                                            src="https://ns3101486.ip-54-36-177.eu/shopnroarshop/EBay.png"
                                                            style="width:50%"/> </a>
                      <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='GROUPON'"
                                                            src="https://ns3101486.ip-54-36-177.eu/shopnroarshop/groupon.png"
                                                            style="width:80%"/> </a>
                      <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='Amazon'"
                                                            src="https://ns3101486.ip-54-36-177.eu/shopnroarshop/amazon.png"
                                                            style="width:76%"/></a>
                      <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='NewEgg'"
                                                            src="https://ns3101486.ip-54-36-177.eu/shopnroarshop/newegg.png"
                                                            style="width:40%"/></a>
                      <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='Frys'"
                                                            style="width:25%;"
                                                            src="https://ns3101486.ip-54-36-177.eu/shopnroarshop/fry.png"
                      /></a>

                      <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='AppOutDoors'"
                                                            style="width:75%;"
                                                            src="https://ns3101486.ip-54-36-177.eu/shopnroarshop/appoutdoors.png"
                      /></a>
                      <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='Verizon'"
                                                            style="width:50%;"
                                                            src="https://ns3101486.ip-54-36-177.eu/shopnroarshop/verizon.png"
                      />
                      </a>
                      <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='JCPENNEY'"
                                                            src="https://ns3101486.ip-54-36-177.eu/shopnroarshop/jcpenny.png"
                      /></a>
                      <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='BuyDig'"
                                                            src="https://ns3101486.ip-54-36-177.eu/shopnroarshop/buydig.png"
                      /></a>
                      <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='MACYS'"
                                                            src="https://ns3101486.ip-54-36-177.eu/shopnroarshop/macyslogo.png"
                      />
                      </a>
                      <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='BHPHOTOVIDEO'"
                                                            src="https://ns3101486.ip-54-36-177.eu/shopnroarshop/bh.png"
                      /></a>

                      <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='ISnorkel'"
                                                            style="width:75%;"
                                                            src="https://ns3101486.ip-54-36-177.eu/shopnroarshop/isnorkel.jpg"
                      /></a>
                      <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='OldNavy'"
                                                            style="width:50%;"
                                                            src="https://ns3101486.ip-54-36-177.eu/shopnroarshop/oldnavy.png"
                      /></a>
                      <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='BJS'"
                                                            style="width:30%;"
                                                            src="https://ns3101486.ip-54-36-177.eu/shopnroarshop/bjs.jpg"
                      /></a>
                      <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='Sprint'"
                                                            style="width:30%;"
                                                            src="https://ns3101486.ip-54-36-177.eu/shopnroarshop/sprint.png"
                      /></a>

                      <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='Fanatics'"
                                                            style="width:50%;"
                                                            src="https://ns3101486.ip-54-36-177.eu/shopnroarshop/fanaticslogo.png"
                      /></a>

                      <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='GAP'"
                                                            style="width:30%;"
                                                            src="https://ns3101486.ip-54-36-177.eu/shopnroarshop/gap.png"
                      /></a>

                      <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='CostCo'"
                                                            style="width:30%;"
                                                            src="https://ns3101486.ip-54-36-177.eu/shopnroarshop/costco.png"
                      /></a>

                      <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='EpicSports'"
                                                            style="width:30%;"
                                                            src="https://ns3101486.ip-54-36-177.eu/shopnroarshop/epicsports.png"
                      /></a>

                      <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='Beallsflorida'"
                                                            style="width:50%;"
                                                            src="https://ns3101486.ip-54-36-177.eu/shopnroarshop/beallsflorida.png"
                      /></a>
                      <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='T-Mobile'"
                                                            style="width:50%;"
                                                            src="https://ns3101486.ip-54-36-177.eu/shopnroarshop/tmobile.png"
                      /></a>

                      <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='EpicSports'"
                                                            style="width:30%;"
                                                            src="https://ns3101486.ip-54-36-177.eu/shopnroarshop/epicsports.png"
                      /></a>

                      <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='Beallsflorida'"
                                                            style="width:50%;"
                                                            src="https://ns3101486.ip-54-36-177.eu/shopnroarshop/beallsflorida.png"
                      /></a>

                      <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='T-Mobile'"
                                                            style="width:50%;"
                                                            src="https://ns3101486.ip-54-36-177.eu/shopnroarshop/tmobile.png"
                      /></a>

                      <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='Kmart'"
                                                            style="width:30%;"
                                                            src="https://ns3101486.ip-54-36-177.eu/shopnroarshop/kmartlogo.png"
                      /></a>

                      <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='EpicSports'"
                                                            style="width:50%;"
                                                            src="https://ns3101486.ip-54-36-177.eu/shopnroarshop/epicsports.png"
                      /></a>


                    </h4>

                  </a>
                  <div class="col-sm-push-12">
                    <br>

                    <ul class="rating" style="padding-left: 30%">
                      <li *ngFor=" let i of [1,2,3,4,5]">
                        <i *ngIf="i<=item.SNR_CustomerReviews && item.SNR_CustomerReviews!=0" class="material-icons starcolor">star</i>
                        <i *ngIf="i>item.SNR_CustomerReviews && item.SNR_CustomerReviews!=0" class="material-icons emptystarcolor">star</i>
                      </li>

                    </ul>
                  </div>
                  <div class=" product-item_footer" style="display: inline">

                    <a [routerLink]="['/details']" [queryParams]="{ Model: item.SNR_SKU, Name:item.SNR_Title   }"
                       mat-raised-button
                       class="btn button-additional font-additional font-weight-normal text-uppercase hvr-rectangle-out hover-focus-bg before-bg">
                      Compare
                    </a>
                    <a mat-raised-button href={{item.SNR_ProductURL}}
                       target="_blank"
                       class="btn button-additional font-additional font-weight-normal text-uppercase hvr-rectangle-out hover-focus-bg before-bg">
                      Shop
                    </a>

                  </div>


                </div>

              </li>
              <li class="helper-justify"></li>
            </ul>

            <ul *ngIf="gridview==false && listview==true" class="products-list">

              <li class="wow "
                  *ngFor="let item of Getspecs.results | paginate: { itemsPerPage: 36, currentPage:p,totalItems:Getspecs.totalItems,id:'search' }">
                <div class="product-list_item row">
                  <div class="product-list_item_img col-lg-4 col-md-4 col-sm-4 col-xs-12 clearfix">
                    <a [routerLink]="['/details']" [queryParams]="{ Model: item.SNR_SKU, Name:item.SNR_Title  }">
                      <img *ngIf="item.SNR_ImageURL==null || item.SNR_ImageURL=='Not Available'"
                           src="https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg"
                           style="max-width:240px;max-height:260px; width:auto;height:auto;" alt="Product Image">
                      <!--<img *ngIf="" src="https://upload.wikimedia.org/wikipedia/commons/a/ac/No_image_available.svg" style="max-width:100px;max-height:150px; width:auto;height:auto;" alt="Product Image">-->

                      <img *ngIf="item.SNR_ImageURL!=null && item.SNR_ImageURL!='Not Available' "
                           src={{item.SNR_ImageURL}} style="max-width:240px;max-height:260px; width:auto;height:auto;"
                           alt="Product Image">
                      <h4 style="color:black" class="text-center">
                        <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='Best Buy'"
                                                              src="https://ns3101486.ip-54-36-177.eu/shopnroarshop/bestbuy.png"
                                                              style="padding-top: 20px;margin-left: -45px;width:39%;"/></a>
                        <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='Walmart'"
                                                              src="https://ns3101486.ip-54-36-177.eu/shopnroarshop/Walmart.png"
                                                              style="padding-top: 20px;margin-left: -45px;width:51%"/></a>
                        <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='AT&T'"
                                                              src="https://ns3101486.ip-54-36-177.eu/shopnroarshop/ATT.png"
                                                              style="padding-top: 20px;margin-left: -45px;width:125px;"/></a>
                        <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='Ebay'"
                                                              src="https://ns3101486.ip-54-36-177.eu/shopnroarshop/EBay.png"
                                                              style="    padding-top: 20px;margin-left: -45px;width:50%"/>
                        </a>
                        <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='GROUPON'"
                                                              src="https://ns3101486.ip-54-36-177.eu/shopnroarshop/groupon.png"
                                                              style="padding-top: 20px;margin-left: -45px;width:80%"/>
                        </a>
                        <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='Amazon'"
                                                              src="https://ns3101486.ip-54-36-177.eu/shopnroarshop/amazon.png"
                                                              style="padding-top: 20px;margin-left: -45px;width:76%"/></a>
                        <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='NewEgg'"
                                                              src="https://ns3101486.ip-54-36-177.eu/shopnroarshop/newegg.png"
                                                              style="padding-top: 20px;margin-left: -45px;width:40%"/></a>
                        <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='Frys'"
                                                              style="width:25%;"
                                                              src="https://ns3101486.ip-54-36-177.eu/shopnroarshop/fry.png"
                        /></a>
                        <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='AppOutDoors'"
                                                              style="width:75%;"
                                                              src="https://ns3101486.ip-54-36-177.eu/shopnroarshop/appoutdoors.png"
                        /></a>

                        <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='Verizon'"
                                                              style="width:50%;"
                                                              src="https://ns3101486.ip-54-36-177.eu/shopnroarshop/verizon.png"
                        /></a>

                        <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='JCPENNEY'"
                                                              src="https://ns3101486.ip-54-36-177.eu/shopnroarshop/jcpenny.png"
                        /></a>

                        <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='BuyDig'"
                                                              src="https://ns3101486.ip-54-36-177.eu/shopnroarshop/buydig.png"
                        /></a>
                        <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='MACYS'"
                                                              src="https://ns3101486.ip-54-36-177.eu/shopnroarshop/macyslogo.png"
                        /></a>
                        <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='BHPHOTOVIDEO'"
                                                              src="https://ns3101486.ip-54-36-177.eu/shopnroarshop/bh.png"
                        /></a>


                        <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='ISnorkel'"
                                                              style="width:75%;"
                                                              src="https://ns3101486.ip-54-36-177.eu/shopnroarshop/isnorkel.jpg"
                        /></a>
                        <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='OldNavy'"
                                                              style="width:50%;"
                                                              src="https://ns3101486.ip-54-36-177.eu/shopnroarshop/oldnavy.png"
                        /></a>
                        <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='BJS'"
                                                              style="width:30%;"
                                                              src="https://ns3101486.ip-54-36-177.eu/shopnroarshop/bjs.jpg"
                        /></a>
                        <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='Sprint'"
                                                              style="width:30%;"
                                                              src="https://ns3101486.ip-54-36-177.eu/shopnroarshop/sprint.png"
                        /></a>
                        <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='Fanatics'"
                                                              style="width:50%;"
                                                              src="https://ns3101486.ip-54-36-177.eu/shopnroarshop/fanaticslogo.png"
                        /></a>

                        <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='GAP'"
                                                              style="width:30%;"
                                                              src="https://ns3101486.ip-54-36-177.eu/shopnroarshop/gap.png"
                        /></a>

                        <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='CostCo'"
                                                              style="width:30%;"
                                                              src="https://ns3101486.ip-54-36-177.eu/shopnroarshop/costco.png"
                        /></a>

                        <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='EpicSports'"
                                                              style="width:30%;"
                                                              src="https://ns3101486.ip-54-36-177.eu/shopnroarshop/epicsports.png"
                        /></a>

                        <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='Beallsflorida'"
                                                              style="width:50%;"
                                                              src="https://ns3101486.ip-54-36-177.eu/shopnroarshop/beallsflorida.png"
                        /></a>

                        <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='T-Mobile'"
                                                              style="width:50%;"
                                                              src="https://ns3101486.ip-54-36-177.eu/shopnroarshop/tmobile.png"
                        /></a>

                        <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='EpicSports'"
                                                              style="width:30%;"
                                                              src="https://ns3101486.ip-54-36-177.eu/shopnroarshop/epicsports.png"
                        /></a>

                        <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='Beallsflorida'"
                                                              style="width:50%;"
                                                              src="https://ns3101486.ip-54-36-177.eu/shopnroarshop/beallsflorida.png"
                        /></a>

                        <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='T-Mobile'"
                                                              style="width:50%;"
                                                              src="https://ns3101486.ip-54-36-177.eu/shopnroarshop/tmobile.png"
                        /></a>

                        <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='Kmart'"
                                                              style="width:30%;"
                                                              src="https://ns3101486.ip-54-36-177.eu/shopnroarshop/kmartlogo.png"
                        /></a>

                        <a href={{item.SNR_ProductURL}}> <img *ngIf="item.SNR_Available=='EpicSports'"
                                                              style="width:50%;"
                                                              src="https://ns3101486.ip-54-36-177.eu/shopnroarshop/epicsports.png"
                        /></a>


                      </h4>

                    </a>


                  </div>
                  <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 clearfix">
                    <div class="product-list-info">
                      <a [routerLink]="['/details']" [queryParams]="{ Model: item.SNR_SKU, Name:item.SNR_Title  }">

                        <div class="product-list_item_title">
                          <h3 style="color:#333;" class="font-additional font-weight-bold text-uppercase">
                            {{item.SNR_Title}}</h3>

                        </div>
                        <ul class="rating" style="padding-left: 30%">
                          <li *ngFor=" let i of [1,2,3,4,5]">
                            <i *ngIf="i<=item.SNR_CustomerReviews && item.SNR_CustomerReviews!=0" class="material-icons starcolor">star</i>
                            <i *ngIf="i>item.SNR_CustomerReviews && item.SNR_CustomerReviews!=0" class="material-icons emptystarcolor">star</i>
                          </li>

                        </ul>
                      </a>
                      <div *ngIf="item.SNR_Price==0.000"
                           class="product-item_price font-additional font-weight-normal customColor">visit site to see
                        price<br><br></div>
                      <div *ngIf="item.SNR_Price!=0.000"
                           class="product-item_price font-additional font-weight-normal customColor">${{item.SNR_Price}}<br><br>
                      </div>


                      <div *ngIf="item.SNR_Description!='Visit site to see description'"
                           class="product-list_item_desc font-main font-weight-normal color-third">
                        {{item.SNR_Description | cleanText}}
                      </div>


                      <div class=" product-item_footer" style="display: inline">

                        <a [routerLink]="['/details']" [queryParams]="{ Model: item.SNR_SKU, Name:item.SNR_Title   }"
                           mat-raised-button
                           class="btn button-additional font-additional font-weight-normal text-uppercase hvr-rectangle-out hover-focus-bg before-bg">
                          Compare
                        </a>
                        <a href={{item.SNR_ProductURL}} style="margin-left: 10px;"
                           target="_blank"
                           mat-raised-button
                           class="btn button-additional font-additional font-weight-normal text-uppercase hvr-rectangle-out hover-focus-bg before-bg">
                          Shop Now
                        </a>

                      </div>

                      <!--<a href="#" class="btn button-border font-additional font-weight-normal text-uppercase hvr-rectangle-out hover-focus-border hover-focus-bg before-bg">-->
                      <!--<span class="icon-heart" aria-hidden="true"></span>-->
                      <!--</a>-->
                    </div>
                  </div>
                </div>
              </li>
              <div class="text-center">
                <pagination-controls (pageChange)="pageChanged($event)" id="search" directionLinks="true"
                                     autoHide="true" previousLabel="Previous"
                                     nextLabel="Next" screenReaderPaginationLabel="Pagination"
                                     class="pagination"></pagination-controls>
              </div>

            </ul>


            <div class="text-center">
              <pagination-controls (pageChange)="pageChanged($event)" id="search" directionLinks="true" autoHide="true"
                                   previousLabel="Previous"
                                   nextLabel="Next" screenReaderPaginationLabel="Pagination"
                                   class="pagination"></pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
</div>
