/* You can add global styles to this file, and also import other style files */

/*@import "~@angular/material/prebuilt-themes/indigo-pink.css";*/
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body{
  margin-top: 100px;
}
.mat-button, .mat-fab, .mat-icon-button, .mat-mini-fab, .mat-raised-button{
  color: white !important;
  font-size: larger;
  background-color: #0a0a0a !important;
  font-weight: bolder;
}
.mat-progress-spinner circle, .mat-spinner circle {
  stroke: #0c9e02 !important;
}

.promo-banner {
  overflow: hidden;
  padding: 42px 0;
  background-position: 50% 100% !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
  /*margin-top: 60px;*/
}
.discount-info {
  float: left;
  padding: 49px 100px 0 0;
  width: 100%;
}
.discount-info_small_txt {
  color: #e92b22;
}
.discount-info_small_txt {
  float: left;
  font-size: 17px;
  line-height: 100%;
  padding-bottom: 13px;
  width: 100%;
  font-family: Helvetica;
  text-transform: uppercase;
  font-weight: 700;
}
.discount-info_shadow_txt {
  color: #ffffff;
}

.discount-info_shadow_txt {
  float: left;
  font-size: 46px;
  line-height: 100%;
  width: 100%;
  text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
  -moz-text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
  -webkit-text-shadow: 4px 4px 0 rgba(0, 0, 0, 0.1);
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
}
.discount-info_right_txt {
  color: #ffffff;
}
.discount-info_right_txt {
  float: left;
  font-size: 47px;
  line-height: 100%;
  padding: 5px 0 29px;
  width: 100%;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  text-align: right;
}


.starcolor{
  color: #fff811;
}
.emptystarcolor{
  color: #616161;
}
ul.categories-tree li a{
  text-decoration: none;
}
