<div class="preloader-full"
     *ngIf="preloaderService.getPreloaderCount('full') > 0">

  <div class="loading-container">
    <div class="spinner"></div>
    <div class="spinner-center"></div>
  </div>
</div>
