.preloader-full {
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.preloader-full__spinner {
position:absolute;
  top: 50%;
  left: 60%;
  width:10em;
  height:10em;
  margin-top: -9em; /*set to a negative number 1/2 of your height*/
  margin-left: -15em; /*set to a negative number 1/2 of your width*/
  // border: 1px solid #ccc;
  z-index: 99 !important;

}

@keyframes preloaderFullRotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
     position: fixed;
    // transform: rotate(360deg);
  }
}


@keyframes spinner {
  100% {
    transform: rotate(3600deg);
  }
}

.loading-container {
  margin: 0 auto;
  text-align: center;
  position: relative;
  top: 50vh;
  transform: translateY(-50%);
}

.spinner {
  display: inline-block;
  width: 100px;
  height: 100px;
  background: url('../../../assets/images/loader/fidget.gif') center center;
  background-size: contain;
  background-color: transparent;
  transition-origin: 50% 50%;
  animation: spinner 3s infinite alternate ease-in-out;
}
.spinner-center {
  display: inline-block;
  position: absolute;
  margin-left: -100px;
  width: 100px;
  height: 100px;
  background: url('http://i.imgur.com/u0BC2ZR.png') center center;
  background-size: contain;
  content: '';
}

