<preloader-full></preloader-full>

<br><br>
<div class="main">

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-9">
        <form (ngSubmit)="f.form.valid  && register()" #f="ngForm" novalidate>
          <div style="color: black; font-size:30px;" class="row row-lg">
            <div class="col-sm-6">

              <h3 class="sidebar-title font-additional font-weight-bold text-uppercase customColor"
                 >Personal Details</h3>

              <div class="form-group label-overlay">
                <input type="text" class="form-control"  class="form-control" (change)="checkuser()"
                       pattern="^[a-zA-Z][a-zA-Z0-9]*[._-]?[a-zA-Z0-9]+$" name="username" [(ngModel)]="model.username"
                       #username="ngModel" required placeholder="Username">

                <div>

                  <!--<span  *ngIf="Userloading == true " style="color: blue  " class="glyphicon glyphicon-refresh glyphicon-refresh-animate form-control-feedback"></span>-->

                  <span *ngIf="UserError == false && Userloading != true " style="color: green"
                        class="glyphicon glyphicon-ok-sign form-control-feedback"></span>


                  <span *ngIf="UserError == true && Userloading != true" style="color: red"
                        class="glyphicon glyphicon-remove-sign form-control-feedback"></span>
                </div>
                <!--<label class="input-desc"><i class="icon input-icon input-user"></i>Enter your username <span class="input-required">*</span></label>-->
                <!--<div *ngIf="f.submitted &&  !username.valid  && !username.errors" class="help-block">Username is required</div>-->
                <div *ngIf="f.submitted && username.errors" class="help-block">Username is invalid
                </div>
                <div *ngIf=" UserError==true" class="help-block">Username is already signed up
                </div>

              </div><!-- End .form-group -->
              <div class="form-group label-overlay">
                <input type="text" placeholder="First name" class="form-control"
                       pattern="^([a-zA-Z]+[,.]?[ ]?|[a-z]+['-]?)+$" name="first_name" [(ngModel)]="model.first_name"
                       #first_name="ngModel" required>

                <div *ngIf="f.submitted && !first_name.valid && first_name.errors " class="help-block">First name is
                  required

                </div>

              </div><!-- End .form-group -->
              <div class="form-group label-overlay">
                <input type="text" class="form-control" pattern="^([a-zA-Z]+[,.]?[ ]?|[a-z]+['-]?)+$" name="last_name"
                       [(ngModel)]="model.last_name" #last_name="ngModel" required placeholder="Last name">

                <div *ngIf="f.submitted && !last_name.valid && last_name.errors" class="help-block">Last name is
                  required

                </div>

              </div><!-- End .form-group -->

              <div class="form-group label-overlay">
                <input type="email" class="form-control" class="form-control"
                       pattern="^(^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$)" name="email"
                       (change)="checkmail()"
                       [(ngModel)]="model.email" #email="ngModel" placeholder="Email" required>
                <span *ngIf="emailError == false && emailloading != true " style="color: green"
                      class="glyphicon glyphicon-ok-sign form-control-feedback"></span>


                <span *ngIf="emailError == true && emailloading != true" style="color: red"
                      class="glyphicon glyphicon-remove-sign form-control-feedback"></span>


                <!--<label class="input-desc"><i class="icon input-icon input-email"></i>Enter your email <span class="input-required">*</span></label>-->

              </div><!-- End .form-group -->


              <div *ngIf="f.submitted && email.errors  && !email.valid" class="help-block">
                Email is invalid
              </div>
              <div *ngIf="emailError==true" class="help-block">
                Email is already signed up
              </div>
              <!--<div *ngIf="f.submitted && !email.valid" class="help-block">Email is required</div>-->

            </div><!-- End .col-sm-6 -->

            <div class="mb40 visible-xs"></div><!-- margin -->

            <div class="col-sm-6">
              <h3 class="sidebar-title font-additional font-weight-bold text-uppercase customColor "
                 >Your Password</h3>

              <div class="form-group label-overlay">
                <input type="password" class="form-control" name="password" [(ngModel)]="model.password"
                       #password="ngModel" required placeholder="Password">
                <!--<label class="input-desc"><i class="icon input-icon input-password"></i>Enter your password <span class="input-required">*</span></label>-->
                <div *ngIf="f.submitted && !password.valid" class="help-block">Password is required</div>

              </div><!-- End .form-group -->
              <div class="form-group label-overlay">
                <input type="password" class="form-control" (keyup)=check() name="passwordRepeat"
                       [(ngModel)]="model.passwordRepeat" #passwordRepeat="ngModel" required
                       placeholder="Confirm password">
                <!--<label class="input-desc"><i class="icon input-icon input-password"></i>Enter your password <span class="input-required">*</span></label >-->
                <div *ngIf="(f.submitted && !passwordRepeat.valid)   " class="help-block">Confirm password required
                </div>
                <div *ngIf="(!passwrodmatch)   " class="help-block">Password not matched</div>

              </div><!-- End .form-group -->
              <h3 class="sidebar-title font-additional font-weight-bold text-uppercase customColor "
                 >News Letter</h3>
              <div class="checkbox">
                <label class="custom-checkbox-wrapper">
                                            <span class="custom-checkbox-container">
                                                <input type="checkbox" [checked]="model.newsLetter"
                                                       (change)="model.newsLetter = !model.newsLetter"
                                                       [(ngModel)]="model.newsLetter" #newsLetter="ngModel"
                                                       name="newsLetter" value="newsletter">
                                                <span class="custom-checkbox-icon"></span>
                                            </span>
                  <span
                    style="color:black;">I wish to subscribe to SHOPnROAR Hot Deals and the SHOPnROAR Newsletter.</span>
                </label>
              </div><!-- End .checkbox -->

              <div class="checkbox">
                <label class="custom-checkbox-wrapper">
                                            <span class="custom-checkbox-container">
                                                <input type="checkbox" [checked]="model.policy"
                                                       (change)="model.policy = !model.policy"
                                                       [(ngModel)]="model.policy" name="policy" #policy="ngModel"
                                                       required value="jeans">
                                                <span class="custom-checkbox-icon"></span>
                                            </span>
                  <span style="color:black;">I have read and agree to the <a [routerLink]="['/policy']"
                                                                             style="color:red;">SHOPnROAR Terms and Conditions.</a></span>
                </label>
              </div><!-- End .checkbox -->
              <div *ngIf="f.submitted && !policy.valid" class="help-block">Please agree with SHOPnROAR Terms and
                Conditions.
              </div>

              <div class="mb5"></div><!-- margin -->


              <div>
                <re-captcha (resolved)="resolved($event)" siteKey="6LcBQS4UAAAAALBYJyKch0nkU91RKn2AU8nFcoHC"
                           required=""></re-captcha>
              </div>


              <div *ngIf="valid==false" class="help-block">Please review errors and authenticate with reCaptcha

              </div>

              <br>
              <button mat-raised-button
                type="submit"
                      class="btn button-additional font-additional font-weight-normal text-uppercase hvr-rectangle-out hover-focus-bg before-bg"
                      style=" margin-left: 60%;   font-size: 17px;">Create Account
              </button>

            </div><!-- End .col-sm-6 -->
          </div><!-- End .row -->

          <div class="mb80 mb60-xs"></div><!-- margin -->

          <div class="row">
            <div class="col-sm-6">
            </div><!-- End .col-sm-6 -->

            <div class="mb40 visible-xs"></div><!-- margin -->

            <div class="col-sm-6">
            </div><!-- End .col-sm-6 -->
          </div><!-- end .row -->
        </form>
      </div><!-- End .col-md-9 -->

      <div class="mb80 visible-sm visible-xs"></div><!-- margin -->

      <aside class="col-md-3 sidebar">
        <div>
          <div class="widget">
            <h3 class="sidebar-title font-additional font-weight-bold text-uppercase customColor "
               >Log in using</h3>

            <div class="swiper-container bestsellers-slider">
              <div>
                <!--<div>-->

                <!--<a href="http://ns519750.ip-158-69-23.net:8005/oauth/login/facebook">-->
                <!--<img src="assets/img/facebook.png" style="width:80%;margin-top: 13%" alt="Partner">-->
                <!--</a>-->

                <!--</div>&lt;!&ndash; End .product &ndash;&gt;-->

                <!--<div>-->

                <!--<a href="http://ns519750.ip-158-69-23.net:8005/oauth/login/twitter">-->
                <!--<img src="assets/img/twitter.png" style="width:83%;margin-top: 13%" alt="Partner">-->
                <!--</a>-->

                <!--</div>&lt;!&ndash; End .product &ndash;&gt;-->

                <div>

                  <a href="https://apis.shopnroar.com/oauth/login/google-oauth2">
                    <img src="assets/img/google.png" style="width:81%;margin-top: 13%" alt="Partner">
                  </a>

                </div><!-- End .product -->


              </div><!-- End .swiper-slide -->


            </div><!-- End .swiper-wrapper -->

            <div class="swiper-button-next icon"></div>
            <div class="swiper-button-prev icon"></div>
          </div><!-- end .swiper-container -->
        </div><!-- End .widget -->

      </aside>


    </div><!-- End .row -->
  </div><!-- End .container-fluid -->
  <div class="mb40 visible-md visible-lg"></div><!-- margin -->
</div><!-- End .main -->
